page-more {
	.for-back{
		.back{
			font-size: 25px;
			padding: 30px 16px 0px 16px;
		}
	}
	.head{
		/*background-color: #203e56;*/
		background-image: url("../assets/imgs/doc-banner.jpg");
		background-size: cover;
		color: #fff;
		padding-top: 30px;
		
		.thumb {
			display: block;
		    width: 100%;
		    padding-bottom: 98%;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    border-radius: 100%;
		}
		.name{
			font-size: 20px;
    		line-height: 22px;
		    margin-bottom: 5px;
		    font-weight: 500;
		    text-transform: capitalize;
		}
		.location {
			margin-top: -15px;
			font-size: 12px;

		}
		.view-profile{
		    font-size: 12px;
		    border-radius: 5px;
		    height: 2.6rem;
		    margin-top: 7px;
		}
	}
	
	.m-tabs{
		text-align: center;
		background-color: #fff;
		padding: 5px;
		border-radius: 15px;
		@media(min-width:319px) and (max-width: 353px){
			padding: 5px 0px;
		}

		div{
			color: #949494;
		    text-transform: uppercase;
		    font-size: 3vw;
		    margin: 5px 0;
			@media(min-width:319px) and (max-width: 353px){
		    	font-size: 11px;
			}
		}

		&.transactions {
			.more-icon{
			    max-width: 45px;
			}
		}
		.icon {
			min-height: 65px;
			
		}

	}
	.more-icon{
		max-height: 50px;
	    margin-top: 10px;
	}

	.other-pages{
		.item-md{
			padding-left: 0px;
			margin-bottom: 5px;
			border-radius: 5px;
		}
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 5px!important;
		}
		.more-second{
			height: 7vw;
		    display: block;
		    margin: 0px auto;
		    margin-top: 3px;
		}
		.other-title{
			font-size: 13px;
		    font-weight: 600;
		    color: #3d4b58;
		    margin-top: 5px;
		}
		.other-sub{
			font-size: 12px;
			display: none;
		}
		.arrow-icon{
			margin-top: 10px;
			color: #999;
			float: right;
			margin-right: 5px;
		}
	}

}
