<!--
  Generated template for the FormFilterAmbulancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="prompt_modal filter-modal">
	<div class="modal_container" (click)="escapeModal()">
		<div class="modal_content" (click)="stopPropagation($event)">
			<button ion-button icon-only navPop class="btn-close">
		        <ion-icon name="md-close"></ion-icon>
		      </button>

			<div class="section-title"> Filters </div>
			<div class="filter-form">
				 <form [formGroup]="filterForm">

				 		<ion-list no-lines>
								<div class="textfield">
										<!-- <div class="label"> Region </div> -->
									 <ion-item>
										 <!-- <ion-select *ngIf="regions" (ionChange)="getCity()" [(ngModel)]="region" [ngModelOptions]="{standalone: true}" interface="popover">
										   <ion-option *ngFor="let region of regions" [value]="region" text-capitalize >{{ region.provDesc.toLowerCase() }}</ion-option>
										 </ion-select>
										 <ion-spinner name="crescent" *ngIf="!regions"></ion-spinner> -->
											<ion-label stacked>Region</ion-label>
											<ionic-selectable item-content [(ngModel)]="region" [ngModelOptions]="{standalone: true}" [items]="regions"
												itemValueField="provDesc" itemTextField="provDesc" [canSearch]="true" (onChange)="regionChange($event)">
												<ng-template ionicSelectableValueTemplate let-port="value">
													{{ region.provDesc ? region.provDesc : region }}
												</ng-template>
											</ionic-selectable>
									 </ion-item>
								 </div>
			                	<div class="textfield"  *ngIf="cities && is_change_region === false">
					               	<!-- <div class="label"> City </div> -->
				                	<ion-item>
					                    <!-- <ion-select [(ngModel)]="city" [ngModelOptions]="{standalone: true}" interface="popover">
									      <ion-option *ngFor="let city of cities" [value]="city" text-capitalize>{{ city.citymunDesc.toLowerCase() }}</ion-option>
											</ion-select> -->
														<ion-label stacked>City</ion-label>
														<ionic-selectable item-content [(ngModel)]="city" [ngModelOptions]="{standalone: true}" [items]="cities"
															itemValueField="citymunDesc" itemTextField="citymunDesc" [canSearch]="true" (onChange)="cityChange($event)">
															<ng-template ionicSelectableValueTemplate let-port="value">
																{{ city.citymunDesc ? city.citymunDesc : city }}
															</ng-template>
														</ionic-selectable>
													</ion-item>
				                </div>
				                <div *ngIf="!cities && is_change_region === true" text-center>
									<ion-spinner name="crescent"></ion-spinner>
								</div>
			            </ion-list>

		              <ion-row class="btn-log">
		              		<ion-col col-5>
		                  		<button ion-button (click)="applyFilter('reset')" class="btn-reset"> Reset </button>
		              		</ion-col>
		              		<ion-col col-7>
		                  		<button ion-button (click)="applyFilter('apply')" class="button-gradient"> Apply </button>
		              		</ion-col>
		              </ion-row>
		       	  </form>
		    </div>
		</div>
	</div>
</div>
