<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div>
	<div class="section-title">
		About the App
		<div class="border"></div>
	</div>
	<div *ngIf="aboutData">
		<div [innerHtml]="aboutData"></div>
	</div>
	<div class="skeleton-loader" *ngIf="!aboutData">
		<div class="animation skeleton-line1"></div>
		<div class="animation skeleton-line1"></div>
		<div class="animation skeleton-line2"></div>
		<div class="animation skeleton-line2"></div>
	</div>
</div>
	
</ion-content>
