<ion-content>

	<div class="head">
		<div class="logo"> <img src="assets/imgs/logo.png"> </div>
	</div>

	<div class="login-form">
		<form padding [formGroup]="loginForm">
			<ion-list>
				<div class="textfield">
					<ion-item>
						<ion-label floating>Email Address</ion-label>
						<ion-input type="email" formControlName="email"></ion-input>
						<ion-input type="hidden" formControlName="request_type" value="doctor_app"></ion-input>
					</ion-item>

					<div class="validator" *ngIf="is_submit === true && !loginForm.controls.email.valid">
						<div class="form-error">Enter a valid email address</div>
					</div>
				</div>

				<div class="textfield">
					<ion-item>
						<ion-label floating>Password</ion-label>
						<ion-input type="{{ passwordType }}" formControlName="password" clearOnEdit="false"></ion-input>
						<ion-icon name="{{ passwordIcon }}" (click)="togglePassword()" item-right></ion-icon>
					</ion-item>

					<div class="validator" *ngIf="is_submit === true && !loginForm.controls.password.valid">
						<div class="form-error">Enter a valid password</div>
					</div>
				</div>
			</ion-list>

			<div text-center (click)="goToForgotPassword()" class="forgot">
				Forgot Password?
			</div>
							
			<div class="btn-log">
				<button ion-button (click)="loginNow()" class="button-gradient"> Log in </button>
			</div>

			<div class="link">
				<div> Don't have an account yet? </div>
				<button ion-button clear (click)="goToRegistration()">Sign up here</button>
			</div>

			<div class="social-media" padding-vertical>
	            <div class="link" margin-vertical style="text-transform: uppercase;">Or Login with</div>
		        <ion-row>
			        <!-- <ion-col col-6> 
			            <button ion-button block class="facebook" (click)="loginFacebook()"> <ion-icon name="logo-facebook"></ion-icon> Facebook </button> 
			        </ion-col>
			       	<ion-col col-6> 
			           	<button ion-button block class="gplus" (click)="loginGoogle()"> <ion-icon name="logo-googleplus"></ion-icon> Google+ </button> 
	                </ion-col> -->
				  	<ion-col col-5> 
					  	<img (click)="loginFacebook()" src="assets/imgs/facebook_ico.png">
				  	</ion-col>
				  	<ion-col col-2>

				  	</ion-col>
				  	<ion-col col-5> 
					  	<img (click)="loginGoogle()" src="assets/imgs/google_ico.png">
					</ion-col>
			    </ion-row>
			</div>
		</form>
	</div>
</ion-content>
