<div class="prompt_modal filter-modal">
	<div class="modal_container" (click)="escapeModal()">
		<div class="modal_content" (click)="stopPropagation($event)" *ngIf="modal_type == 'socialmedia_share'">
			<button ion-button icon-only navPop class="btn-close">
		        <ion-icon name="md-close"></ion-icon>
		    </button>

			<div class="section-title"> Share Via </div>
			<div class="action-buttons" margin-vertical>
				<ion-row>
					<ion-col col-4>
						<button class="facebook" ion-button icon-only (click)="shareSocailMedia('facebook')">
							<ion-icon name="logo-facebook"></ion-icon>
						</button>
						<div class="text-label f"> facebook </div>
					</ion-col>
					<ion-col col-4>
						<button class="linkedin" ion-button icon-only (click)="shareSocailMedia('linkedin')">
							<ion-icon name="logo-linkedin"></ion-icon>
						</button>
						<div class="text-label l"> linkedin </div>
					</ion-col>
					<ion-col col-4>
						<button class="twitter" ion-button icon-only (click)="shareSocailMedia('twitter')">
							<ion-icon name="logo-twitter"></ion-icon>
						</button>
						<div class="text-label t"> twitter </div>
					</ion-col>
				</ion-row>
			</div>
		</div>

		<div class="modal_content contact-container" *ngIf="modal_type == 'contact_info'" (click)="stopPropagation($event)">
			<button ion-button icon-only navPop class="btn-close">
		        <ion-icon name="md-close"></ion-icon>
		    </button>

			<div class="section-title"> Add Contact </div>
			<div class="action-buttons" margin-vertical>
				<form [formGroup]="contactForm">
					<ng-container>
					  	<ion-row class="field">
							<ion-col col-12>
								<ion-item class="selection">
					  	  			<ion-label> Type </ion-label>
				        			<ion-select (ionChange)="contactTypeChange(true)" formControlName="type">
								      <ion-option value="mobile" selected="true">Mobile</ion-option>
								      <ion-option value="home">Home</ion-option>
								      <ion-option value="office">Office</ion-option>
								    </ion-select>
				        		</ion-item>
							</ion-col>
							<div class="validator" *ngIf="is_submit === true && !contactForm.controls.type.valid">
								<div class="form-error">Select Contact Type</div>
							</div>
						</ion-row>
						<ng-container>
						  	<ion-row class="field contact-home">
								<ion-col col-5 *ngIf="!hide_area_code">
									<ion-item>
						    			<ion-input type="number" formControlName="area_code" onkeydown="return event.keyCode !== 69" placeholder="Area Code"></ion-input>
						    		</ion-item>
								</ion-col>
								<ion-col class="contact-number" [attr.col-12]="hide_area_code? true : null">
									<ion-item [ngClass]="focus_number ? 'focused' : ''">
					  	  				<ion-label *ngIf="hide_area_code" item-left> +63 </ion-label>
						    			<ion-input type="number" formControlName="number" onkeydown="return event.keyCode !== 69" (ionFocus)="checkFocus()" (ionBlur)="checkBlur()" placeholder="Number"></ion-input>
						    		</ion-item>
								</ion-col>
								<div class="validator" *ngIf="(is_submit == true && !contactForm.controls.area_code.valid) && hide_area_code == false">
									<div class="form-error">Area Code must be at least 4 digit</div>
								</div>
								<div class="validator" *ngIf="is_submit == true && !contactForm.controls.number.valid">
									<div class="form-error">{{formErrorNumber}}</div>
								</div>
							</ion-row>
						</ng-container>
					</ng-container>

		            <ion-row class="modal-confirmation-button">
	              		<ion-col *ngIf="contact_idx == null" col-6>
	                  		<button ion-button (click)="modalAction('clear')" class="btn-reset"> Clear </button>
	              		</ion-col>
	              		<ion-col *ngIf="contact_idx || contact_idx == 0" col-6>
	                  		<button ion-button (click)="deleteContact()" class="btn-remove"> Remove </button>
	              		</ion-col>
	              		<ion-col col-6>
	                  		<button ion-button (click)="modalAction('save')" class="button-gradient"> Save </button>
	              		</ion-col>
		            </ion-row>
				</form>
			</div>
		</div>
	</div>
</div>
