page-global-search {
	.scroll-content{
		margin-top: 115px;
	}
	.filter-buttons {
		display: flex;
	    padding-bottom: 15px;
		background: #2d4863;

		.button	{
			background: #486b8d;
		    color: #fff;
		    font-size: 4vw;
		    box-shadow: none;
		    /*height: 29px;*/
		    border-radius: 5px;
		    text-transform: capitalize;
		    font-weight: 400;
		}
	}
	.results-box {
		border-radius: 5px;
		margin-left: 0;
	    margin-right: 0;
	    width: auto;
	    box-shadow: 0px 5px 20px -10px #bcbcbc;

		.card-header {
			color: #949494;
			font-weight: 300;
			font-size: 11px;
			text-transform: uppercase;
    		padding: 10px;

			background-repeat: no-repeat;
		    background-size: 17px;
		    background-position: 10px center;
		    padding-left: 35px;
		}
	}

	.article-results {
		.card-header {
			background-image: url('../assets/imgs/articles_icon.png');
		}

		.articles_card {
			background: #fff;
		    box-shadow: none;
		    margin: 0;
		    width: 100%;
		    border-bottom: 1px solid #eaeff1;
		    padding: 0 10px;

		    &:first-child {
		    	border-top: 1px solid #eaeff1;
		    	padding-top: 10px;
		    }
		    &:last-child {
				border-bottom: none;
		    }
		    .label-md {
		    	margin: 0;
		    }
			.thumb {
				display: block;
			    width: 100%;
			    padding-bottom: 100%;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center center;
			    border-radius: 5px;
			}
			.content {
			    .meta-hospital{
					.col { padding: 0px; }
					.icon{
						font-size: 30px;
					}
			    }
				.meta {
					font-size: 12px;
					margin-bottom: 10px;
					color: #949494;
					.col { padding: 0; }
					.icon { margin-right: 5px; }
					.cat { 
						color: #06a6e3; 
						font-weight: 500;
						text-transform: uppercase;
					}
					.date { 
						font-weight: 200;
						line-height: 25px;
					}
				}
				.title {
					font-size: 14px;
				    color: #3d4b58;
				    font-weight: 500;
			        min-height: 40px;
					white-space: normal;
					line-height: 18px;
				}
			}
		}
	}
	/* End of Articles */

	.doctor-results {
		.card-header {
			background-image: url('../assets/imgs/doctors_icon.png');
		}

		.doctors-card {
			background: #fff;
		    box-shadow: none;
		    margin: 0;
		    width: 100%;
		    border-bottom: 1px solid #eaeff1;
		    padding: 0 10px;

		    &:first-child {
		    	border-top: 1px solid #eaeff1;
		    	padding-top: 10px;
		    }
		    &:last-child {
				border-bottom: none;
		    }
		    .label-md {
		    	margin: 0;
		    }
			.thumb {
				display: block;
			    width: 100%;
			    padding-bottom: 100%;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center center;
			    border-radius: 100%;
			}
			.content {
				.meta {
					font-size: 12px;
					margin-bottom: 10px;
					color: #949494;
					.col { padding: 0; }
					.icon { margin-right: 5px; }
					.specialty { 
						font-weight: 200;
						line-height: 16px;
    					margin-bottom: 5px;
					}
					.hospital {
						color: #3d4b58;
						padding: 0;
/*						line-height: 25px;
*/					    margin-right: 10px;
					    overflow: hidden;
					    text-overflow: ellipsis;
					}
				}
				.title {
					font-size: 14px;
				    color: #3d4b58;
				    font-weight: 500;
					white-space: normal;
				}
			}
		}
	}
	/* End of Doctors */

	.hospital-results {
		.card-header {
			background-image: url('../assets/imgs/hospital_icon.png');
		}

		.hospitals-card {
			background: #fff;
		    box-shadow: none;
		    margin: 0;
		    width: 100%;
		    border-bottom: 1px solid #eaeff1;
		    padding: 0 10px;

		    &:first-child {
		    	border-top: 1px solid #eaeff1;
		    	padding-top: 10px;
		    }
		    &:last-child {
				border-bottom: none;
		    }
		    .label-md {
		    	margin: 0;
		    }
			.thumb {
				display: block;
			    width: 100%;
			    padding-bottom: 100%;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center center;
			    border-radius: 100%;
			}
			.content {
			    .meta-hospital{
					.col { padding: 0px; }
					.icon{
						font-size: 30px;
					}
			    }
				.meta {
					font-size: 12px;
					margin-bottom: 10px;
					color: #949494;
					.col { padding: 0; }
					.icon { margin-right: 5px; }
					.specialty { 
						font-weight: 200;
						line-height: 25px;
					}
					.hospital {
						color: #3d4b58;
						padding: 0;
					}
				}
				.title {
					font-size: 14px;
				    color: #3d4b58;
				    font-weight: 500;
					white-space: normal;
				}
			}
		}
	}
	/* End of Hospitals */

	.ambulance-results {
		.card-header {
			background-image: url('../assets/imgs/ambulance_icon.png');
		}

		.ambulance-card {
			background: #fff;
		    box-shadow: none;
		    margin: 0;
		    width: 100%;
		    border-bottom: 1px solid #eaeff1;
		    padding: 0 10px;

		    &:first-child {
		    	border-top: 1px solid #eaeff1;
		    	padding-top: 10px;
		    }
		    &:last-child {
				border-bottom: none;
		    }
		    .label-md {
		    	margin: 0;
		    }
			.thumb {
				display: block;
			    width: 100%;
			    padding-bottom: 100%;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center center;
			    border-radius: 100%;
			}
			.content {
			    .meta-hospital{
					.col { padding: 0px; }
					.icon{
						font-size: 30px;
					}
			    }
				.meta {
					font-size: 12px;
					margin-bottom: 10px;
					color: #949494;
					.col { padding: 0; }
					.icon { margin-right: 5px; }
					.contact { 
						font-weight: 200;
						color: #2b9bdf;
					}
					.distance { 
						font-weight: 200;
						line-height: 25px;
					}
					.location {
						color: #3d4b58;
					}
				}
				.title {
					font-size: 14px;
				    color: #3d4b58;
				    font-weight: 500;
					white-space: normal;
				}
			}
		}
	}
	/* End of Ambulance */
	
	.btn_inside {
		background: #06a6e3; //f5f5f5
		font-weight: 400;
		color: #fff; //949494
		height: 25px;
		border-radius: 3px;
		box-shadow: none;
		font-size: 13px;
		margin: 0;
		margin-top: 5px;
	}

	.call-gbtn{
		margin-top: 20px;
	}

	.item-md.item-block .item-inner {
  		padding-right: 0px; 
	}

	.status1{
		font-size: 12px;
		white-space: nowrap !important;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		margin-bottom: 0;
		text-transform: uppercase;
		color: #388e3c;
		&.capital-stat{
			text-transform: capitalize;
		}

		img{
		    width: 16px;
		    display: inline-flex;
		    margin-bottom: -2px;
		}
	}
}
