page-patients-transaction-summary {

	.summaries{

		margin-bottom: 10px;
		font-size: 12px;
		border-radius: 5px;

		.card-header{
			padding: 15px 20px 5px 20px;
		}
		.d-title{
			float: left;
			color: #3793ff;
			text-transform: uppercase;
			font-size: 12px;	
		}
	
		.circ-num{
			color: #3d4b58;
		    border: 1px solid #ddd;
		    border-radius: 100%;
		    @media(max-width: 320px) { width: 6vw; height: 6vw; padding: 0px 5px; }
		    @media(min-width:321px) and (max-width: 400px) { width: 5vw; height: 5vw; padding: 0px 5px; }
		    @media(min-width: 401px) and (max-width: 420px) { width: 5vw; height: 5vw; padding: 1px 5px; }
		    @media(min-width: 421px) and (max-width: 479px) { width: 5vw; height: 5vw; padding: 2px 7px; }
		    @media(min-width: 480px)  { width: 5vw; height: 5vw; padding: 2px 7px; }
		    float: left;
		    margin-right: 10px;
		}

		.pull-right{
			float: right;
			font-size: 12px;

			.uploaded-photo-count{
				background-image: url('../assets/imgs/uploaded-photo.png');
				height: 15px;
				width: 25px;
				float: left;
				background-repeat: no-repeat;
				background-size: 17px;
				background-position: left;
			}	
		}
	}
	.second-row{
		padding:20px;

		.forD-title{
			font-size: 15px;
			color: #3d4b58;
			margin: -10px 0px 10px 0px;
		}
		.forH-title{
			font-size: 15px;
			color: #3d4b58;
			margin: 10px 0px;
		}
		p{
			color: #8e8f8f;
		}
		.check{
			color: #3793ff;
		}
	}
	.next-button{
		height: 3em;
		background-color: #3492ff;
		font-size: 20px;

		img{
			margin-left: 10px;
			width: 15px;
		}
	}
}
