<!--
  Generated template for the PatientsTransactionSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
    	<ion-title>Transaction Summary</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content>
	<div padding>
		<ion-card class="summaries">
			  <ion-card-header><div class="d-title"><div class="circ-num">1</div> diagnosis</div><div class="pull-right"><div class="uploaded-photo-count num-count"></div>{{ diagDetails.attachments.length}}</div></ion-card-header>
			  <hr>
			  <div class="second-row">
					<ng-container *ngFor="let item of ilnessList" >
						<div class="forD-title" *ngIf="item.id == parseToInt(diagDetails.diagnosis)" >{{ item.title }}</div>
					</ng-container>
					<p>
						{{ diagDetails.remarks }}
						<!-- <span color="primary">view more</span> -->
					</p>
			  </div>
		</ion-card>

		<ion-card class="summaries">
			  <ion-card-header><div class="d-title"><div class="circ-num">2</div> prescription</div><div class="pull-right"><div class="uploaded-photo-count num-count"></div>{{ fndgDetails.attachments.length }}</div></ion-card-header>
			  <hr>
			  <div class="second-row">
				  <p>
						{{ fndgDetails.remarks }} 
						<!-- <span color="primary">view more</span> -->
					</p>
			  </div>
		</ion-card>

		<ion-card class="summaries">
			  <ion-card-header><div class="d-title"><div class="circ-num">3</div> hmo reports</div><!-- <div class="pull-right"><div class="uploaded-photo-count num-count"></div>1</div> --></ion-card-header>
			  <hr>
			  <div class="second-row">
				  <p>
							{{ rprtDetails.remarks }} 
						<!-- <span color="primary">view more</span> -->
					</p>
					<div>
					  	<div class="forH-title">RECOMMENDATIONS</div>
					  	<p *ngFor="let item of rprtDetails.service_recommendations" ><ion-icon ios="ios-checkmark" md="md-checkmark" class="check"></ion-icon> {{ item }}</p>
					</div>
			  </div>
		</ion-card>
	</div>
	<button ion-button full class="next-button" (click)="sendData()">send <img src="assets/imgs/send.png"></button>
</ion-content>
