page-add-schedule {

	.arrow-back{
		.icon{
    		font-size: 25px;
    		margin-left: 10px;
		}
	}

	.toolbar-title-md{
		margin-top: 3px;
	} 

	.back-button.show-back-button {
    	display: none;
	  	position: relative;
	  	text-indent: -999px;
	  	margin-left: 14px;
	}

	ion-label{
		color: #9e9e9e;
		text-transform: uppercase;
	    text-overflow: initial !important;
	    white-space: normal !important;
	}

	ion-select{
		background-color: #fff;
		max-width: 100% !important;
		min-width: 100% !important;
	}
	
	.time-pick{

		ion-datetime{
			text-align: center;
  			padding: 0px;
		} 
		ion-icon{
		    z-index: 1;
		    font-size: 30px;
		}
		/*.item-cover{
			width: 0px;
			height: 0px;
		}*/
	}

	.second{
		background-color: #ddd;

		.days-btn{
			text-align: center;
			display: block;
			margin: auto;
		}
		.button-md{
	     	color: #000;
	    	background-color: #eaeff1;
	    	border: 1px solid #999;
	   	    box-shadow: none;
			border-radius: 50px;
		    width: 40px;
		    height: 40px;
  			@media(min-width:300px) and (max-width: 360px){
			    width: 35px;
			    height: 35px;  
			}
		    margin-right: 4px;
		    display: inline-flex;
		    flex-wrap: wrap;
		    font-size: 14px;
		    text-transform: capitalize;
		}

		.checked{
		    color: #fff !important;
		    background-color: #3392ff !important;
	    	border: transparent !important;
		}
	}

	ion-textarea{
		background-color: #fff;
	}
	.add{
			    color: #9e9e9e;
			    font-size: 20px;
			    margin-top: 3px;
    			margin-right: 10px;
			}

	.prompt_modal{
	  	display: table;
	  	height: 100%;
	  	width: 100%;
	  	text-align: center;
    	background-color: rgba(7, 32, 68, 0.7294117647058823);
	}

	.modal_container{
	  	display: table-cell;
	  	vertical-align: middle;
	}

	.modal_content{
	  	max-width: 90%;
	  	margin: auto;
	  	border-radius: 5px;
	  	background: #ffffff;
	  	padding: 30px 10px;
	}

	.item-cover{
    	display: none;
	}

	.button-md:hover:not(.disable-hover) {
    	background-color: #eaeff1;
	}

}
