<!--
  Generated template for the AddSchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
        <ion-row>
            <ion-col col-2>
			  	<ion-buttons class="arrow-back" start>
			      <button (click)="leavePage()" ion-button>
			        <ion-icon name="md-arrow-back"></ion-icon>
			      </button>
			    </ion-buttons>
            </ion-col>

            <ion-col col-7>
    			<ion-title>Set Schedule</ion-title>
            </ion-col>

            <ion-col col-3>
			    <ion-buttons end>
			      <button (click)="saveSchedule()" ion-button>
			        SAVE
			      </button>
			    </ion-buttons>
            </ion-col>
        </ion-row>
  	</ion-navbar>
</ion-header>


<ion-content>
	<div class="first" padding>
		<form [formGroup]="doctorsSchedule">
			<ion-list no-lines>
				<div [class.error]="submitAttempts === true && !doctorsSchedule.controls.hospitals.valid">
					<ion-label> hospitals </ion-label>
					<ion-select *ngIf="!hospitalList" [(ngModel)]="hospitals" formControlName="hospitals" interface="popover" disabled ="true">
						<ion-option style=" max-width: 100% !important; min-width: 100% !important; width: 100% !important;"> </ion-option>
					</ion-select>
					<ion-select *ngIf="hospitalList" [(ngModel)]="hospitals" formControlName="hospitals" interface="popover" disabled ="{{isEnabled}}">
						<ion-option style=" max-width: 100% !important; min-width: 100% !important; width: 100% !important;" *ngFor="let hospital of hospitalList" [value]="hospital.id"> {{hospital.name}} </ion-option>
					</ion-select>
				</div>
            	<div class="validator" *ngIf="submitAttempts === true && !doctorsSchedule.controls.hospitals.valid"><div class="form-error">This is a required field</div></div>
			</ion-list>
		</form>

		<!-- <ion-label>location</ion-label>
		<ion-select name="location">
			<ion-option value="bel-air">Bel-Air Makati</ion-option>
		</ion-select> -->
		<div>
			<ion-label>time</ion-label>
			<ion-row class="time-pick" *ngFor="let timeslot of time_slot; let i = index;">
				<ion-col col-10>
					<ion-row>
						<ion-col col-5 class="bg-wt">
							<ion-row>
								<ion-col col-3 class="align-items-center">
									<ion-icon name="md-time" item-left></ion-icon>
								</ion-col>
								<ion-col col-9 class="align-items-center">
									<ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" minuteValues="0,10,20,30,40,50" (ionChange)="timeslotChange()"  [(ngModel)]="time_slot[i].timeStarts" ng-model="time_slot[i].timeStarts"></ion-datetime>
								</ion-col>
							</ion-row>
						</ion-col>

						<ion-col col-2 class="align-items-center">
							<p no-margin text-center>to</p> 
						</ion-col>

						<ion-col col-5 class="bg-wt">
							<ion-row>
								<ion-col col-3 class="align-items-center">
									<ion-icon name="md-time" item-left></ion-icon>
								</ion-col>
								<ion-col col-9 class="align-items-center">
									<ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" minuteValues="0,10,20,30,40,50" (ionChange)="timeslotChange()"  [(ngModel)]="time_slot[i].timeEnds" ng-model="time_slot[i].timeEnds"></ion-datetime>
								</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col class="align-items-center" col-2>
					<div *ngIf="i === 0" class="add" (click)="addTimeSlot()"><ion-icon name="md-add"></ion-icon></div>
					<div *ngIf="i !== 0" class="add" (click)="removeTimeSlot(i, time_slot[i].timeEnds)"><ion-icon name="md-remove"></ion-icon></div>
				</ion-col>
			</ion-row>
		</div>
	</div>
	
	<div class="second">
		<div padding>
			<ion-label>days</ion-label>
	        <div class="validator" *ngIf="submitAttempts === true && days.length == 0">
	        	<div class="form-error">Please Choose your days schedule</div>
	    	</div>

			<div class="days-btn">
				<div *ngIf="temp_doctorsSchedule">
					<div *ngFor="let days of schedule_days" button ion-button [ngClass]="checkIfDays(days.id) === 'yes' ? 'checked' : '' ">
						{{days.title}}
					</div>
				</div>
				<div *ngIf="!temp_doctorsSchedule">
					<div *ngFor="let days of schedule_days" button ion-button (click)="applyDay(days.id)" [ngClass]="checkIfDays(days.id) === 'yes' ? 'checked' : '' ">
						{{days.title}}
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
