<ion-tabs #myTabs selectedIndex="0">
  	<ion-tab [root]="tab1Root" tabIcon="home"></ion-tab>
  	<ion-tab [root]="tab2Root" tabIcon="contacts"></ion-tab>
  	<ion-tab [root]="tab3Root" tabIcon="md-calendar"></ion-tab>
  	<ion-tab [root]="tab4Root" [tabBadge] = "total_unread_notifications > 0 ? total_unread_notifications : null" tabIcon="ios-notifications-outline"></ion-tab>
  	<ion-tab [root]="tab5Root" tabIcon="ios-more"></ion-tab>
</ion-tabs>
