page-browse-medical-records {
	.records-segment-buttons {
		background: #fff;
	    padding-bottom: 0;

		.segment-button {
			color: #3d4b56;
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
		    border: 0;
		    opacity: 1;
		    width: auto;
			@media(min-width:332px) and (max-width: 355px){ 
				font-size: 12px !important;
			}
			@media(min-width:300px) and (max-width: 331px){ 
				font-size: 11px !important;
			}

			&.segment-activated {
				border-bottom: 5px solid #04a8df;
			}
		}
	}
	.records{
		.item{
			padding-left: 0px;
			margin-bottom: 5px;
			border-radius: 5px;
    		border-left: 7px solid #3492ff;

    		.label {
    			    margin: 10px !important;
    		}

    		.title {
				color: #3d4b58;
			    font-weight: 500;
			    font-size: 16px;
			    white-space: normal;
			}
			.hospital {
				font-weight: 500;
				font-size: 13px;
			}
			

			.meta {
				margin-top: 10px;

				.inclusions {
					color: #949494;
					font-size: 12px;
					white-space: normal;
				}
				.col { padding: 0; }
				.trans-number {
					color: #3492ff;
	    			font-size: 12px;
				}

				.date{
					color: #949494;
					font-size: 13px;
				}
			}

			
		}

	}
}
