<!--
  Generated template for the BrowseMedicalRecordsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Medical Records</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-refresher padding (ionRefresh)="loadAllData($event, $event, false)">
        <ion-refresher-content
            pullingIcon="md-refresh-circle"
            pullingText="Pull down to refresh"
            refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

	<div class="records-segment-buttons">
	  <ion-segment [(ngModel)]="records_tabs">
	    <ion-segment-button value="consultations"> Consultations </ion-segment-button>
	    <ion-segment-button value="procedures"> Procedures </ion-segment-button>
	    <ion-segment-button value="laboratory"> Laboratory </ion-segment-button>
	  </ion-segment>
	</div>

	<div class="records records-segemnt-content" padding [ngSwitch]="records_tabs">

		<div *ngSwitchCase="'consultations'" class="appointments-tab-container">
			<div class="empty-states-content" *ngIf="all_consultations && total_consultation_count === 0">
		            <img src="assets/imgs/no-medical.png">
		            <div padding margin-left margin-right>
		                <div class="empty-states-title"> No Consultation record found </div>
		                <p> We can't seem to find the record you're looking for.</p>
		            </div>
		   	</div>

		   	<button ion-item class="skeleton-loader"  *ngIf="!all_consultations">
				<div class="animation skeleton-line1"></div>
				<div class="animation skeleton-line2"></div>
				<div margin-top>
					<div class="animation skeleton-line1"></div>
				</div>
			</button>

			<div  *ngIf="all_consultations && total_consultation_count > 0">
				<button ion-item (click)="gotoProfileMedicalRecord(consultation)" *ngFor="let consultation of all_consultations">
					<div class="title" text-capitalize>{{ consultation.doctor_firstname}} {{ consultation.doctor_lastname }} {{ consultation.doctor_suffix }} </div>						
					<div class="hospital-address"> {{ consultation.hospital_name }} </div>
					<div class="meta">
						<div class="inclusions" text-uppercase> 
							<span *ngIf="consultation.diagnosis_id"> Diagnosis </span> 
							<span *ngIf="consultation.diagnosis_id && consultation.prescriptions_id">,</span> 
							<span *ngIf="consultation.prescriptions_id"> Prescription </span> 
							<span *ngIf="consultation.diagnosis_id && consultation.prescriptions_id && consultation.medical_recommendation">,</span> 
							<span *ngIf="consultation.medical_recommendation"> Recommendations </span> 
						</div>
						<ion-row>
							<ion-col col-6>
								<div class="trans-number">#{{ consultation.appointment_id }}</div>
							</ion-col>
							<ion-col col-6 text-right>
								<div class="date" text-right> {{ consultation.created_at | formatDate }} </div>
							</ion-col>
						</ion-row>
					</div>
				</button>
			</div>
		</div>

		<div *ngSwitchCase="'procedures'" class="procedures-tab-container">
			<div class="empty-states-content" *ngIf="all_procedures && total_procedures_count === 0">
		            <img src="assets/imgs/no-medical.png">
		            <div padding margin-left margin-right>
		                <div class="empty-states-title"> No Procedure record found </div>
		                <p> We can't seem to find the record you're looking for.</p>
		            </div>
		   	</div>

		   	<button ion-item class="skeleton-loader" *ngIf="!all_procedures">
				<div class="animation skeleton-line1"></div>
				<div class="animation skeleton-line2"></div>
				<div margin-top>
					<div class="animation skeleton-line1"></div>
				</div>
			</button>

			<div  *ngIf="all_procedures && total_procedures_count > 0">
				<button ion-item (click)="gotoProfileMedicalRecord(procedure)" *ngFor="let procedure of all_procedures">
					<div class="title">{{ procedure.doctor_firstname}} {{ procedure.doctor_lastname }} {{ procedure.doctor_suffix }} </div>			
					<div class="hospital-address"> {{ procedure.hospital_name }} </div>
					<div class="meta">
						<div class="inclusions" text-uppercase> 
							<span *ngIf="procedure.diagnosis_id"> Diagnosis </span> 
							<span *ngIf="procedure.diagnosis_id && procedure.prescriptions_id">,</span> 
							<span *ngIf="procedure.prescriptions_id"> Prescription </span> 
						</div>
						<ion-row>
							<ion-col col-6>
								<div class="trans-number">#{{ procedure.appointment_id }}</div>
							</ion-col>
							<ion-col col-6 text-right>
								<div class="date" text-right> {{ procedure.created_at | formatDate }} </div>
							</ion-col>
						</ion-row>
					</div>
				</button>
			</div>
		</div>

		<div *ngSwitchCase="'laboratory'" class="laboratory-tab-container">
			<div class="empty-states-content" *ngIf="all_laboratory && total_laboratory_count === 0">
		            <img src="assets/imgs/no-medical.png">
		            <div padding margin-left margin-right>
		                <div class="empty-states-title"> No Laboratory record found </div>
		                <p> We can't seem to find the record you're looking for.</p>
		            </div>
		   	</div>

		   	<button ion-item class="skeleton-loader"  *ngIf="!all_laboratory">
				<div class="animation skeleton-line1"></div>
				<div class="animation skeleton-line2"></div>
				<div margin-top>
					<div class="animation skeleton-line1"></div>
				</div>
			</button>

			<div  *ngIf="all_laboratory && total_laboratory_count > 0">
				<button ion-item (click)="gotoProfileMedicalRecord(lab)" *ngFor="let lab of all_laboratory">
					<div class="title">{{ lab.doctor_firstname}} {{ lab.doctor_lastname }} {{ lab.doctor_suffix }} </div>		
					<div class="hospital-address"> {{ lab.hospital_name }} </div>
					<div class="meta">
						<div class="inclusions" text-uppercase> 
							<span *ngIf="lab.diagnosis_id"> Diagnosis </span> 
							<span *ngIf="lab.diagnosis_id && lab.prescriptions_id">,</span> 
							<span *ngIf="lab.prescriptions_id"> Prescription </span> 
						</div>
						<ion-row>
							<ion-col col-6>
								<div class="trans-number">#{{ lab.appointment_id }}</div>
							</ion-col>
							<ion-col col-6 text-right>
								<div class="date" text-right> {{ lab.created_at | formatDate }} </div>
							</ion-col>
						</ion-row>
					</div>
				</button>
			</div>
		</div>

	</div>
</ion-content>
