page-forgot-password {
	.forgot-form {
		max-width: 320px;
		margin: auto;
		color: #acacac;
		margin-top: 30px;

		.section-title {
			color: #3d4b58;
			font-size: 17px;
			font-weight: 600;
		}

		.input-cover {
			display: none !important;
		}

		.label {
			&.email {
				span {
					color: #3d4b58;
				}
			}
		}

		.item {
			padding-left: 0;
    		box-shadow: none !important;
    		background-color: transparent;

    		.label {
    			margin-top: 0;
    		}

    		.icon {
    			margin-top: 30px;
    		}
		}
		form {
			padding: 0;
			margin-top: 20px;
		}
	}

	.resend-code {
		margin-top: 30px; 

		.label {
			text-align: center;
			font-size: 11px;
		}
		.button {
			text-transform: capitalize;
			font-size: 14px;
			font-weight: 500;
			border: 0;
		}
	}

	.btn-log {
		text-align: center;
		margin-top: 30px;

		.button {
			background-color: #3592fe;
		    font-weight: 600;
		    font-size: 18px;
		    color: #fff;
		    height: 55px;
		    box-shadow: none;
		    min-width: 200px;
		    border-radius: 55px;
		    letter-spacing: 3px;
	        padding-left: 30px;
		 	padding-right: 30px;
		}
	}
}
