<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="forgot-form">
		<div class="section-title" *ngIf="title_text"> {{ title_text }} </div>
		<div *ngIf="lbl_text" margin-bottom> {{ lbl_text }} </div>
			
		<div *ngIf="current_step !== 'step1'">
       		<ion-label class="email" *ngIf="email_address">Email: <span>{{ email_address }}</span></ion-label>
       		<button ion-button clear block (click)="changeEmailAddress()"> Change email address </button>
      	</div>	
	      <ion-list>
	        <div class="textfield">
	            <ion-item *ngIf="current_step === 'step1'">
               		<ion-label floating>Email Address</ion-label>
                	<ion-input type="email" [(ngModel)]="email_address"></ion-input>
              	</ion-item>
              	 <ion-item *ngIf="current_step === 'step2'">
               		<ion-label floating>Enter Code</ion-label>
                	<ion-input type="text" [(ngModel)]="verification_code"></ion-input>
              	</ion-item>
	        </div>
	        <div class="textfield" *ngIf="current_step === 'step3'">
                <ion-item>
                   <ion-label floating>Enter your new password</ion-label>
                   <ion-input type="{{ passwordType }}" [(ngModel)]="new_password" clearOnEdit="false"></ion-input>
                   <ion-icon name="{{ passwordIcon }}" (click)="togglePassword()" item-right class="show"></ion-icon>
                </ion-item>
            </div>
	     </ion-list>
	</div>
	<div class="btn-log">
         <button ion-button (click)="send()" class="button-gradient" *ngIf="btn_text"> {{ btn_text }} </button>
     </div>

	<div class="resend-code" text-center *ngIf="current_step === 'step2'">
	 	<div class="label"> Didn't receive the <br/> verification code yet? </div>
	 	<button ion-button clear block (click)="requestCode()"> Resend Code </button>	
	 </div>

</ion-content>
