<!--
  Generated template for the AppointmentsApprovalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
	<ion-refresher *ngIf="!from_notif" padding (ionRefresh)="reloadData($event)">
        <ion-refresher-content
            pullingIcon="md-refresh-circle"
            pullingText="Pull down to refresh"
            refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

	<div class="top-background" style="background-image: url('assets/imgs/doc-banner.jpg');">
		<div class="for-back">
			<div *ngIf="from_notif" class="back-button show-back-button" navPop> <ion-icon name="ios-arrow-back"></ion-icon></div>
			<div *ngIf="!from_notif" class="back-button show-back-button" (click)="goBack()"> <ion-icon name="ios-arrow-back"></ion-icon></div>
		</div>
		<div class="head-inside" [ngClass]="!hospital ? 'skeleton-loader' : ''" padding>
			<div>
				<ion-row *ngIf="!hospital">
					<ion-col col-4>
						<div class="thumb" style="border-radius: 50%;"></div>
					</ion-col>
					<ion-col col-8 class="dv-color">
						<div class="animation skeleton-line1"></div>
						<div class="animation skeleton-line1"></div>
						<div class="animation skeleton-line2"></div>
					</ion-col>
				</ion-row>
			</div>
			<ion-row *ngIf="hospital">
				<ion-col col-4>
					<div class="hosp-ico" *ngIf="!hospital.hospital_attachments_filename && !hospital.hospital_attachments_filepath" style="background-image: url('assets/imgs/hospital-placeholder.png');"></div>

					<!-- <div class="hosp-ico" *ngIf="hospital.hospital_attachments_filename && hospital.hospital_attachments_filepath" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + hospital.hospital_attachments_filepath +'/'+ hospital.hospital_attachments_filename + ')'}"></div>	 -->

					<img-loader *ngIf="hospital.hospital_attachments_filename && hospital.hospital_attachments_filepath" class="image-loader round" src="{{ siteProvider.base_url + hospital.hospital_attachments_filepath +'/'+ hospital.hospital_attachments_filename }}"></img-loader>
				</ion-col>
				<ion-col padding-left col-8>
					<p class="doc-name">{{hospital.name}}</p>
					<button ion-button block outline margin-top color="light" class="view-profile" (click)="gotoHospitalProfile()">View Profile</button>
				</ion-col>
			</ion-row>
		</div>
	</div>

	<div class="sched" padding>
		<div class="article-results results-box">
			<p class="sched-header">for approval appointments</p>

			<ion-card *ngIf="!approval_appointments" class="skeleton-loader">
				<ion-card-content>
					<ion-row>
						<ion-col col-2>
							<div class="thumb"></div>
						</ion-col>
						<ion-col col-9 class="dv-color">
							<div class="animation skeleton-line1"></div>
							<div class="animation skeleton-line1"></div>
							<div class="animation skeleton-line2"></div>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>

			<div *ngIf="approval_appointments && total_approval_appointment == 0" class="empty-states-content">
		    	<img src="assets/imgs/no-approval.png">
		        <div padding margin-left margin-right>
		            <div class="empty-states-title"> No Request for Approval </div>
		            <p> You don't have any requested appointments waiting for your approval from this Hospital.</p>
		        </div>
		   	</div>

		   	<div *ngIf="approval_appointments && total_approval_appointment != 0">
				<button *ngFor="let appointment of approval_appointments; let i = index;" ion-item (click)="gotoModal(i, appointment)">
					<ion-row>
						<ion-col col-3>
							<div class="patient-photo" *ngIf="!appointment.patient_user_profile_attachments_filename && !appointment.patient_user_profile_attachments_filepath" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>

							<!-- <div class="patient-photo" *ngIf="appointment.patient_user_profile_attachments_filename && appointment.patient_user_profile_attachments_filepath" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + appointment.patient_user_profile_attachments_filepath +'/'+ appointment.patient_user_profile_attachments_filename + ')'}"></div> -->	

							<img-loader *ngIf="appointment.patient_user_profile_attachments_filename && appointment.patient_user_profile_attachments_filepath" class="image-loader round" src="{{ siteProvider.base_url + appointment.patient_user_profile_attachments_filepath +'/'+ appointment.patient_user_profile_attachments_filename }}"></img-loader>
						</ion-col>
						<ion-col col-9>
							<p class="patient-name">{{ appointment.patient_firstname }} {{ appointment.patient_lastname }} {{ appointment.patient_suffix }} </p>
							<div class="status-approved">
				  				<span class="lbl-approved">Approved by:</span>
				  				<span *ngIf="!from_notif">
					  				<ion-icon *ngIf="appointment.status === '0'" color="cancel" name="ios-close-circle" class="approved"></ion-icon>
					  				<ion-icon *ngIf="appointment.status === '2'" name="md-radio-button-off"></ion-icon>
					  				<ion-icon *ngIf="appointment.status === '1'" color="approved" name="ios-checkmark-circle" class="approved"></ion-icon>
					  				<ion-icon *ngIf="appointment.status === '3'" color="complete" name="ios-checkmark-circle" class="approved"></ion-icon>
					  				<ion-icon *ngIf="appointment.status === '4'" color="arrived" name="ios-checkmark-circle" class="approved"></ion-icon>
				  				</span>
				  				<span *ngIf="from_notif">
					  				<ion-icon *ngIf="appointment.appointment_status === '0'" color="cancel" name="ios-close-circle" class="approved"></ion-icon>
					  				<ion-icon *ngIf="appointment.appointment_status === '2'" name="md-radio-button-off"></ion-icon>
					  				<ion-icon *ngIf="appointment.appointment_status === '1'" color="approved" name="ios-checkmark-circle" class="approved"></ion-icon>
					  				<ion-icon *ngIf="appointment.appointment_status === '3'" color="complete" name="ios-checkmark-circle" class="approved"></ion-icon>
					  				<ion-icon *ngIf="appointment.appointment_status === '4'" color="arrived" name="ios-checkmark-circle" class="approved"></ion-icon>
				  				</span>
					  				<span class="lbl-doctor">Doctor</span>

				  				<ion-icon *ngIf="appointment.hmo_transactions_status === '0'" color="cancel" name="ios-close-circle" class="approved"></ion-icon>
				  				<ion-icon *ngIf="appointment.hmo_transactions_status === '2'" name="md-radio-button-off"></ion-icon>
				  				<ion-icon *ngIf="appointment.hmo_transactions_status === '1'" color="approved" name="ios-checkmark-circle"></ion-icon>
				  				<ion-icon *ngIf="appointment.hmo_transactions_status === '3'" color="complete" name="ios-checkmark-circle"></ion-icon>
				  				<span class="lbl-doctor">HMO</span>
				  			</div>
				  			<ion-row>
								<ion-col col-6>
									<p class="trans-number">#{{ appointment.id }}</p>
								</ion-col>
								<ion-col col-6>
									<p class="sched-time">{{ appointment.appointment_date | formatDate }}</p>
								</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</button>

				<ion-infinite-scroll *ngIf="from_notif" (ionInfinite)="doInfinite($event)">
					<ion-infinite-scroll-content>
					</ion-infinite-scroll-content>
				</ion-infinite-scroll>
			</div>
		</div>
	</div>
</ion-content>
