<!--
  Generated template for the ManageSchedulesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  	<ion-navbar>
  		<ion-buttons right>
      		<button ion-button (click)="gotoAddHospital()">
        		<img src="assets/imgs/add-hosp.png" class="hosp-icon">
      		</button>
    	</ion-buttons>
    	<ion-title>My Schedules</ion-title>

  	</ion-navbar>

</ion-header>


<ion-content padding>

	<ion-refresher padding (ionRefresh)="reloadData($event)">
        <ion-refresher-content
            pullingIcon="md-refresh-circle"
            pullingText="Pull down to refresh"
            refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

	<div *ngIf="!temp_schedule">

		<div class="animation skeleton-title"></div>

		<ion-card class="skeleton-loader">
			<ion-card-content>
				<ion-row>
					<ion-col col-2>
						<div class="thumb"></div>
					</ion-col>
					<ion-col col-9 class="dv-color">
						<div class="animation skeleton-line1"></div>
						<div class="animation skeleton-line1"></div>
						<div class="animation skeleton-line2"></div>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>

		<div class="animation skeleton-title"></div>

		<ion-card class="skeleton-loader">
			<ion-card-content>
				<ion-row>
				<!-- 	<ion-col col-2>
						<div class="thumb"></div>
					</ion-col> -->
					<ion-col col-12 class="dv-color">
						<div class="animation skeleton-line1"></div>
						<div class="animation skeleton-line1"></div>
						<div class="animation skeleton-line2"></div>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>

	</div>

	<div *ngIf="temp_schedule && temp_schedule_count == 0" class="empty-states-content">
		<img src="assets/imgs/no-appoint.png">
		<div padding margin-left margin-right>
		    <div class="empty-states-title"> No Schedule </div>
		    <p> You don't have any scheduled. </p>
		</div>
	</div>

	<div *ngIf="temp_schedule && temp_schedule_count > 0">
		<div *ngFor="let schedule of doctorSchedule; let s=index;">
			<div class="my-schedules" *ngIf="schedule.length > 0" padding-bottom>
				<h3>{{ schedule[0].doctor_schedule_day }}</h3>
				<button *ngFor="let sched of schedule; let i=index;" (click)="gotoAddSchedules(sched)" ion-item margin-bottom ion-long-press [interval]="400" (onPressStart)="onPressStart(sched, s, i)">
				<!-- (onPressing)="onPressing()" (onPressEnd)="onPressEnd()" -->
					<ion-row>
						<ion-col col-12>
							<p class="patient-name">{{sched.doctor_schedule_hospital}}</p>
							<ion-row *ngFor="let time of sched.schedules; let b=index;">
								<p class="trans-number">{{time.time_slot.time_from_display}} {{time.time_slot.time_from_parameter}} - {{time.time_slot.time_to_display}} {{time.time_slot.time_to_parameter}}</p>	
							</ion-row>
						</ion-col>
					</ion-row>
				</button>
			</div>
		</div>
	</div>
  	<ion-fab *ngIf="doctorsHospital && doctorsHospitalCount > 0"right bottom>
    	<button ion-fab color="primary" (click)="gotoAddSchedules(null)"><ion-icon name="ios-add-outline"></ion-icon></button>
  	</ion-fab>
</ion-content>
