page-manage-schedules {
	.hosp-icon{
		height: 25px;
	}

	.my-schedules{
		margin-top: 10px;
		color: #3d4b58;
		
		h3{
			margin: 15px 0;
		}
		.item-md{
			border-radius: 5px;
    		border-left: 7px solid #3492ff;
    		padding: 10px;
		}
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 0px!important;
		}
		.item-md p {
	    	margin: 0px;
	    }
	    .patient-photo{
	    	margin-top: 5px;
	    	border-radius: 50px;
	    	background-size: cover; 
	    	background-position: center center; 
	    	padding-bottom: 100%; 
	    	width: 100%;
	    	border-radius: 50%; 
	    	margin: 5px auto 0 auto;
	    }
		.patient-name{
			color: #3d4b58;
		    font-weight: 500;
		    font-size: 16px;
		    white-space: normal;
		    line-height: 18px;
		    margin-bottom: 7px !important;
		}
		.status{
			color: #949494;
			font-size: 12px;
		}
		.trans-number{
			color: #3492ff;
			font-size: 12px;

		}
		.sched-time{
			float: right;
			font-size: 12px;

		}
	}

	.skeleton-title{
	    margin-top: 8px;
	    max-width: 60%;
	    min-height: 20px;
	}

}
