<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
	    <ion-title>Edit Profile</ion-title>

	    <ion-buttons end>
	      	<button ion-button (click)="saveChanges()"> SAVE </button>
	    </ion-buttons>
  	</ion-navbar>
</ion-header>


<ion-content padding>
	<form [formGroup]="profileForm" *ngIf="user_profile">
		<div class="personal_info" #personal_info [class.hide]="editing_section === 'biography'">
			<div class="section" margin-bottom>
				<ion-label class="title"> PRC License #</ion-label>
				<ion-item class="prc-no">
				  	<ion-input type="number" placeholder="Prc License #" onkeydown="return event.keyCode !== 69" formControlName="license_number"> </ion-input>
				</ion-item>
				<div class="validator" *ngIf="is_submit === true && !profileForm.controls.license_number.valid">
					<div class="form-error">PRC License Id must be at least 7 digit number</div>
				</div>
			</div>

			<div class="section" margin-bottom>
				<ion-label class="title"> Personal Information </ion-label>
				<ion-item class="selection">
			  	  	<ion-label> Prefix </ion-label>
				  	<ion-select formControlName="prefix">
				  		<ion-option *ngFor="let pref of prefixes" value="{{ pref }}"> {{ pref }} </ion-option>
				  	</ion-select>
			  	</ion-item>
			  	<ion-input type="hidden" class="hidden" formControlName="id" value="{{ user_profile.id }}"></ion-input>
			  	<ion-input type="hidden" class="hidden" formControlName="status" value="{{ user_profile.status }}"></ion-input>
			  	<ion-input type="hidden" class="hidden" formControlName="email" value="{{ user_profile.email }}"></ion-input>
			  	<ion-input type="hidden" class="hidden" formControlName="address_id" value="0"></ion-input>
			  	<ion-item>
				  	<ion-input type="text" placeholder="First Name" formControlName="firstname" value="{{ user_profile.firstname }}"> </ion-input>
			 	</ion-item>
				<div class="validator" *ngIf="is_submit === true && !profileForm.controls.firstname.valid">
					<div class="form-error">Firtname is required</div>
				</div>
				<ion-item>
				  	<ion-input type="text" placeholder="Middle Name" formControlName="midlename" value="{{ user_profile.midlename }}"> </ion-input>
			 	</ion-item>
				<ion-item>
				  	<ion-input type="text" placeholder="Last Name" formControlName="lastname" value="{{ user_profile.lastname }}"> </ion-input>
				</ion-item>
				<div class="validator" *ngIf="is_submit === true && !profileForm.controls.lastname.valid">
					<div class="form-error">Lastname is required</div>
				</div>
				<ion-item>
				  	<ion-input type="text" placeholder="Suffix (ex. Jr, Sr, III)" formControlName="suffix"> </ion-input>
				</ion-item>
				<ion-item>
				  	<ion-input type="text" placeholder="Mother's Maiden Name" formControlName="mothers_maiden_name" value="{{ user_profile.mothers_maiden_name }}"> </ion-input>
				</ion-item>
				<ion-item class="selection">
				  	<ion-label> Medical Degree </ion-label>
					<ion-select formControlName="medical_degree">
					  	<ion-option *ngFor="let medical_degree of medical_degrees" value="{{ medical_degree }}"> {{ medical_degree }} </ion-option>
					</ion-select>
				</ion-item>
			</div>

			<div class="section" margin-bottom>
			   <ion-item class="selection">
			  	  	<ion-label> Gender </ion-label>
				  	<ion-select formControlName="gender">
				  		<ion-option value="female"> Female </ion-option>
				  		<ion-option value="male"> Male </ion-option>
				  	</ion-select>
			  </ion-item>

			   <ion-item  class="selection">
			  	  	<ion-label stacked> Birth date </ion-label>
		          	<ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="MMMM DD YYYY" formControlName="date_of_birth"></ion-datetime>
			  	</ion-item>
			</div>

			<div class="section" margin-bottom>
				<ion-label class="title"> Contact No. </ion-label>
				<div class="contact-container" *ngIf="user_profile.contact">
					<div *ngFor="let contact of user_profile.contact; let i = index;">
					  	<ion-item>
						  	<ion-input *ngIf="contact.type == 'mobile'" type="text" value="{{contact.type}} ({{contact.country_code}}) {{contact.number}} " disabled> </ion-input>
						  	<ion-input *ngIf="contact.type != 'mobile'" type="text" value="{{contact.type}} ({{contact.area_code}}) {{contact.number}} " disabled> </ion-input>
						  	<ion-icon name="md-create" item-right (click)="addContact(contact, i)"></ion-icon>
					 	</ion-item>
					</div>
				</div>

				<div class="contact-container">
					<div class="add_services_button align-items-center" padding-top>
						<button (click)="addContact()" block ion-button outline>
							<ion-icon name="ios-add-outline" icon-left></ion-icon>
							<span > Add Contact </span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="biography" [class.hide]="editing_section === 'personal-info'">
			<ion-label> Biography </ion-label>
			<ion-item>
				<ion-textarea formControlName="biography" placeholder="Write something about yourself"></ion-textarea>
			</ion-item>
		</div>
	</form>
</ion-content>
