page-edit-profile {
	.item {
		background: transparent;
		padding: 0;

		.hidden {
	    	display: none;
	    }
	    textarea {
	    	height: 145px;
	    	padding: 10px;
	    }
		&:last-child {
			border: 0;
			box-shadow: none;
		}
		&.item-input-has-focus {
			.item-inner {
				border: 0;
				box-shadow: none;
			}
			.text-input {
				border: 1px solid #20a9e6;
			}
		}
		.item-inner {
			border: 0 !important;
			box-shadow: none !important;
		}

		&.selection {
			.input-wrapper {
				background: #fff;
			    margin: 0 ;
			    padding: 0 10px;
			    border-radius: 5px;
			    width: 100%;
		   		margin-top: 10px;
			}
		}
	}

	.prc-no{
		.text-input{
			letter-spacing: 2px;
		}
	}

	.text-input {
		background: #ffffff;
		min-height: 45px;
		border-radius: 5px;
		padding: 0 16px;
		border: 1px solid #fff;
		margin: 0;
		width: 100%;
		margin-top: 10px;
	}
	
	.title{
		font-size: 18px;
		font-weight: 700;
	}

	.contact-home{
		.item-inner{
			padding: 0 !important;
		}

		.text-input {
			padding: 0 8px !important;
		}
	}

	.contact-container{
		.item {
			padding-bottom: 10px;
		}
		.item-inner{
			background-color: #fff;
		}
		.text-input[disabled] {
	    	opacity: 1;
	    	margin: 0;
		}
	}

	.contact-focus{
    	box-shadow: 0px 0px 8px 0px #0c7cd5;
	}

	.add_services_button{
	  	button{
		    height: 45px;
		    border-width: 2px;
		    font-size: 15px;
		    font-weight: 500;
		    padding: 0px 30px;

		    ion-icon{
		      	padding-right: 10px;
		      	font-weight: 700;
		    }
	  	}
	}
}
