<!--
  Generated template for the AcceptApprovalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="prompt_modal view-modal">
	<div class="modal_container" (click)="escapeModal()" >
		<div *ngIf="patient_schedule" class="modal_content" (click)="stopPropagation($event)">
			<button ion-button icon-only navPop class="btn-close">
		        <ion-icon name="md-close"></ion-icon>
		      </button>

			<div class="patient-info" (click)="escapeModal()">
				<div class="patient-photo" *ngIf="!patient_schedule.patient_user_profile_attachments_filename || !patient_schedule.patient_user_profile_attachments_filename" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>
				<div (click)="ViewProfile()" class="patient-photo" *ngIf="patient_schedule.patient_user_profile_attachments_filename && patient_schedule.patient_user_profile_attachments_filename" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + patient_schedule.patient_user_profile_attachments_filepath +'/'+ patient_schedule.patient_user_profile_attachments_filename + ')'}"></div>
				<p class="patient-name" text-capitalize (click)="stopPropagation($event)">{{ patient_schedule.patient_firstname }} {{ patient_schedule.patient_lastname }} {{ patient_schedule.patient_suffix }}
				</p>
				<p *ngIf="patient_schedule.appointment_status == '1' && patient_schedule.hmo_transactions_status == '1'" style="margin:0;"> is scheduled for appoinment</p>
				<p *ngIf="patient_schedule.appointment_status == '2'" style="margin:0;"> is requesting for appoinment</p>

<!-- 			<div *ngIf="patient_schedule.status == '2' || patient_schedule.status == '0'" class="btn-log">
			       	<div> View Profile </div>
			    </div> -->
			</div>
			<div class="appointment-details-container">
				<div class="appointment-details-content">
					<div class="patient-address list-date" *ngIf="patient_schedule.appointment_date">
						<p class="details-title">{{patient_schedule.appointment_date | formatDate}}</p>
						<p class="details-desc">{{patient_schedule.appointment_time}}, {{patient_schedule.appointment_week}}</p>
					</div>
                	<div class="list-address" *ngIf="patient_schedule.hospital_name">
                		<p class="details-title"> {{patient_schedule.hospital_name}} </p>
                		<p class="details-desc">
                			<span *ngIf="(patient_schedule.hospital_address_address && patient_schedule.hospital_address_city) && (patient_schedule.hospital_address_region && patient_schedule.patient_address_country && patient_schedule.hospital_address_zip)">
                				{{patient_schedule.hospital_address_address}} {{patient_schedule.hospital_address_city}}, {{patient_schedule.hospital_address_region}} {{patient_schedule.patient_address_country}} {{patient_schedule.hospital_address_zip}}
							</span>
							<span *ngIf="(!patient_schedule.hospital_address_address && !patient_schedule.hospital_address_city) && (!patient_schedule.hospital_address_region && !patient_schedule.patient_address_country && !patient_schedule.hospital_address_zip)">
								No Address Yet
							</span>
                		</p>
                	</div>
            	</div>
			</div>
			<div *ngIf="patient_schedule.description" padding-vertical>
				<div class="details-title symptom-title"> Symptoms </div>
				<p class="symptom-desc"> "{{patient_schedule.description}}" </p>
			</div>
			<div class="symptom-attachement" *ngIf="patient_schedule.appointment_attachment.length != 0" padding-vertical>
				<ion-row>
	<!-- 				<ion-col col-4>
						<div class="image-container">
							<img src="assets/imgs/location-ico.png" imageViewer/>
						</div>
					</ion-col> -->
					<ion-col *ngFor="let attachement of patient_schedule.appointment_attachment" col-4>
						<!-- <div class="upload-photo" (click)="viewPhoto(appointmentProvider.base_url + attachement.filepath +'/'+ attachement.filename)" [ngStyle]="{'background-image': 'url('+ appointmentProvider.base_url + attachement.filepath +'/'+ attachement.filename + ')'}"></div> -->

						<img-loader (click)="viewPhoto(siteProvider.base_url + attachement.filepath +'/'+ attachement.filename)" class="image-loader border-radius-5 bkg-img-center" src="{{ siteProvider.base_url + attachement.filepath +'/'+ attachement.filename }}"></img-loader>
						<!-- <img src="assets/imgs/location-ico.png" imageViewer/>	 -->
					</ion-col>
				</ion-row>
			</div>
			<div *ngIf="patient_schedule.description" padding-vertical>
				<div class="details-title symptom-title"> Additional Details </div>
				<ion-row class="additional-content">
					<ion-col *ngIf="patient_schedule.temperature" col-6>
						<p class="details-title"> Temperature</p>
						<p class="details-desc"> {{patient_schedule.temperature}} <span> degrees </span></p>
					</ion-col>
					<ion-col *ngIf="patient_schedule.blood_pressure" col-6>
						<p class="details-title"> Blood Pressure</p>
						<p class="details-desc"> {{patient_schedule.blood_pressure}} </p>
					</ion-col>
					<ion-col *ngIf="patient_schedule.height" col-6>
						<p class="details-title"> Height</p>
						<p class="details-desc"> {{patient_schedule.height}} <span> ft. </span></p>
					</ion-col>
					<ion-col *ngIf="patient_schedule.weight" col-6>
						<p class="details-title"> Weight</p>
						<p class="details-desc"> {{patient_schedule.weight}} <span> kg </span></p>
					</ion-col>
				</ion-row>
			</div>

			<div class="more-info">
				<div class="btn-log" *ngIf="patient_schedule.status == '1' || patient_schedule.status == '3' || patient_schedule.status == '4' ||  patient_schedule.status == '0'">
		               <button ion-button (click)="ViewProfile()" class="button-gradient"> View Profile </button>
		        </div>

		        <div *ngIf="patient_schedule.status == '2'">
			        <ion-row>
			        	<ion-col>
			        		<button ion-button (click)="actionAppointment('approve')" class="button-gradient" color="primary"> accept </button>
			        	</ion-col>
			        </ion-row>
			        <ion-row>
			        	<ion-col>
			        		<p class="cancel" (click)="actionAppointment('cancel')"><span class="decline">Decline</span> <span class="cancel-appointment">Appoinments</span></p>
			        	</ion-col>
			        </ion-row>
			    </div>
			</div>
		</div>
	</div>
</div>
