page-accept-approval {
	.prompt_modal .modal_container .modal_content .btn-close{   
		position: relative;
	    top: -30px;
	    right: -15px;
	    float: right;
    }
	.patient-info{
	    padding: 16px;
	    text-align: center;
	    width: auto;
    	margin-top: -95px;

		.patient-photo{
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100px;
			border-radius: 50%;
			height: 100px;
			border: 3px solid #fff;
			display: block;
			margin: auto;
		}
		.patient-name{
		    font-size: 20px;
		    margin: 0px;
		    color: #3d4b58;
		    font-weight: 600;
		}
		.mg-right{
			margin-right: 5px;
		}
	}
		
	.more-info{
		text-align: center;
		text-transform: uppercase;
     	padding: 10px 50px 30px;
    	margin: 0 -25px -15px -25px;

    	.time-sched{
    		font-size: 25px;
    		font-weight: 600;
    		color: #333;
    	}
    	.infos{
    		color: #999999;
    		padding: 5px;
    	}

    	.button-gradient{
    		height: 4em;
    		border-radius: 50px;
		    font-size: 15px;
    		width: 100%;
    	}

	}
	.appointment-details-container{
	    margin: 0 -25px;
	    background: #f6f6f6;
	    border-radius: 5px;
	    .appointment-details-content{
      		padding: 15px 20px;	    
      	}
	}

	.details-title{
		color: #3d4b58;
     	font-size: 16px;
		margin: 0;
		font-weight: 700;
	}

	.details-desc{
		color:#a4a3a3;
		margin: 0;
     	font-size: 13px;
	}

	.symptom-title{
		padding: 10px;
		text-transform: uppercase;
	}

	.symptom-desc{
		color: #262626;
		margin: 0;
	}

	.symptom-attachement{
	    margin: 0 -25px;

		.upload-photo{
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100px;
			height: 100px;
			border-radius: 5px;
		}
	}

	.additional-content{
      	text-align: left;
	}

	.cancel{
		font-size: 16px;
		.decline{
		     color: #3392ff;
		    font-weight: 700;
		}
		.cancel-appointment{
		    text-transform: capitalize;
		    color: #a4a3a3;
		    font-weight: 100;
		}
	}


	/* General Popup or Modal */
		.prompt_modal{
		  height: 100%;
		  width: 100%;
		  text-align: center;
		  background: rgba(0, 0, 0, 0.6);

		  &.filter-modal {
		    text-align: left;

		    .modal_content {
		      border-radius: 0; 
		      position: relative;

		       .section-title  {
		          font-size: 17px;
		          font-weight: 600;
		          margin-bottom: 16px;
		      }
		    }
		  }

		  .modal_container{
		    vertical-align: middle;
		    overflow: auto;
		    height: 100%;
		        display: block;

		    .modal_content{
		        max-width: 90%;
		        min-width: 90%;
		        margin: auto;
		        border-radius: 5px;
		        background: #fff;
		        padding: 30px 25px 20px 25px;
		        height: auto;
		        margin-top: 130px;
		        margin-bottom: 50px;
		        position: relative;

		        .btn-close {
		            background: transparent;
		            color: #afafaf;
		            -webkit-box-shadow: none !important;
		            box-shadow: none !important;
		            border: 0;
		            padding: 0;
		            position: absolute;
		            top: 0;
		            right: 0;
		            font-size: 10px;
		        }
		        .action-buttons {
		          .button {
		              min-height: 45px;
		              background-color: #0cb1e0;
		              font-weight: 600;

		              &.btn-cancel {
		                background-color: #f6f6f6;
		                color: #0cb1e0;
		                box-shadow: none;
		              }
		          }
		        }
		    }
		  }
		}
		/* End of Popup or Modal */
}
