<div class="prompt_modal filter-modal">
	<div class="modal_container">
		<div *ngIf="modal_type == 'api_version'" class="modal_content">
			<div class="section-title"> New Version Available </div>
			<div>
				There is a newer version available for download. Please update the app by visiting the {{store_platform}}.
			</div>
			<div>
				Current Version : {{modal_data.app_current_version}}
			</div>
			<div>
				New Version : {{modal_data.app_new_version}}
			</div>
			<div class="action-buttons" margin-top>
				<ion-row>
					<ion-col col-12> <button ion-button block color="primary" (click)="updateAction()"> Update </button> </ion-col>
				</ion-row>
			</div>
		</div>
	</div>
</div>