page-patients-hmoreport {
	.for-line{
			border-bottom: 2px solid #ccc;
			margin: 20px;
			height: 10px;
			float: inherit;
		    margin: -25px auto 0px auto;
		    width: 60vw;
		    display: block;
	}
	.process, .process-selected{
		text-align: center;
		text-transform: uppercase;
		@media(min-width:320px) and (max-width:360px){ font-size: 12px; }
		@media(min-width:361px) and (max-width:380px){ font-size: 13px; }
		@media(min-width:381px) and (max-width:400px){  font-size: 14px;  }
		color: #9e9e9e;
		margin-top: 30px;

		p{
			margin-bottom: 20px;
		  	@media(min-width:319px) and (max-width: 364px){ font-size: 12px;  }
		}
		.count, .count-selected{
			color: #fff;
			background-color: #ccc;
			border-radius: 50px;
			padding: 3px;
			height: 25px;
			width: 25px;
			text-align: center;
			display: block;
			margin: auto;
		}
		.count-selected{
			background-color: #3492ff;
		}
	}
	.process-selected{
			color: #3d4b58;
	}

	.trans-num{
		margin-top: 20px;
		text-align: center;
		color: #9e9e9e;
	}

	.informations{
		ion-input,ion-textarea{
			background-color: #fff;
			border: 1px solid transparent;
			border-radius: 5px;
		}
		ion-input:focus,ion-input:hover,ion-textarea:focus,ion-textarea:hover{
			border: 1px solid #3492ff;	
		}
		ion-label{
			padding-top: 20px;
			color: #9e9e9e;
			text-transform: uppercase;
		}
		.icon-rec{
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			width: 20px;
			height: 20px;
			float: left;
			margin-right: 5px;
		}

		.remove-photo{
			color: #fff;
		    background-color: #f26c4f;
		    border-radius: 50px;
		    padding: 2px 5px;
		    font-size: 12px;
		    height: 20px;
		    width: 20px;
		    top: 0;
		    right: 0px;
		    position: absolute;
		}

		.upload-photo{
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100px;
			height: 100px;
			border-radius: 5px;
		}
		.file-name{
			font-size: 11px;
			text-align: center;
			color: #9e9e9e;
		}
		.for-hr{
			margin: 30px 0 -10px 0;
		}
		.options{
			float: right;
			margin-top: 20px;
			.add{
				float: left;
			    padding: 5px 10px;
			    background-color: #ccc;
			    color: #9e9e9e;
			    font-size: 20px;
			    margin-top: 3px;
    			margin-right: 10px;
			}
			.save-btn{
				width: 50px;
				background-color: #3492ff;
			}
		}

	}
	.next-button{
		height: 3em;
		background-color: #3492ff;
		font-size: 20px;
     	margin-bottom: 0px;

		ion-icon{
			margin-left: 5px;
		}
	}
	
	.recommendations {
		margin-bottom: 15px;
		
	}
	.remove {
	    padding: 2px 8px;
	    background-color: #f53d3d;
	    color: #fbfbfb;
	    border-radius: 50%;
	    .icon{
      		font-size: 16px;
	    }
	}
	.error-message {
		color: #f26c4f;
		padding: 10px 0px;
	}
	.has-error {
		border-color: #f26c4f !important;
	}

	.service-list{
		.select{
	      	max-width: 100% !important;
		    min-width: 100% !important;
		    width: 100% !important;
		    border: 1px solid #ccc;
		    border-radius: 5px;
		}

		.select-icon {
    		width: 20px;
    	}
	}

		.ionic-selectable {
		width: 100%;
	}

	.item-md {
		background-color: transparent;
		padding-left: 0;
	}

	.label-md[stacked] {
		font-size:14px;
		margin-bottom: 13px;
	}

	.item-inner{
    border-bottom-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	}

	.item-md.item-block .item-inner {
		padding-right: 0;
    	border-bottom: none;
	}

	.item-label-stacked .ionic-selectable, .item-label-floating .ionic-selectable {
		background-color: white;
	}

	.ionic-selectable-value-item {
		padding-left: 10px;
	}

	.button-confirm-selectable {
		.button-md {
			background-color: #2d4963 !important;
		}
	}


}
