<!--
  Generated template for the PatientsHmoreportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>HMO Report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div padding>

		<ion-row>
			<ion-col col-4>
				<div class="process">
					<p>diagnostics</p>
				<div class="count">1</div>
				</div>
			</ion-col>
			<ion-col col-4>
				<div class="process">
					<p>prescriptions</p>
				<div class="count">2</div>
				</div>
			</ion-col>
			<ion-col col-4>
				<div class="process-selected">
					<p>hmo report</p>
				<div class="count-selected">3</div>
				</div>
			</ion-col>
		</ion-row>
		<div class="for-line"></div>
		<div class="trans-num">Transaction No. <b>{{ padLeft(transactionID, 5) }}</b></div>
		<div class="informations">
			<form [formGroup]='hmoForm'>
				<ion-grid>
					<ion-label>Title</ion-label>
					<ion-row>
						<ion-input [ngClass]="{'has-error': is_submit == true && !hmoForm.controls.title.valid }" formControlName="title" type="text" ></ion-input>
					</ion-row>
					<ion-row class="error-message" *ngIf="is_submit === true && !hmoForm.controls.title.valid">
							This field is required
						</ion-row>
					<ion-label>remarks</ion-label>
					<ion-row>
						<ion-textarea [ngClass]="{'has-error': is_submit == true && !hmoForm.controls.remarks.valid }" formControlName="remarks" rows="5" ></ion-textarea>
					</ion-row>
					<ion-row class="error-message" *ngIf="is_submit === true && !hmoForm.controls.remarks.valid">
						This field is required
					</ion-row>

					<!-- <hr class="for-hr"> -->

					<!-- <ion-row>
						<ion-col col-12>
							<ion-label><div class="icon-rec" style="background-image: url('assets/imgs/today-ico.png');"></div>recommendations</ion-label>
						</ion-col>
					</ion-row> -->
					<ng-container>
						<ion-row > 
							<ion-col col-12 class="service-list">
<!-- 								<ion-select [ngClass]="{'has-error': is_submit == true && !hmoForm.controls.recommendations.valid }" formControlName="recommendations" multiple="true" interface="popover">
									<ion-option *ngFor="let service of hospitalServices; let a = index" [value]="service.id"> {{service.title}}</ion-option>
								</ion-select> -->		
							<ion-item>
								<ion-label stacked><div class="icon-rec" style="background-image: url('assets/imgs/today-ico.png');"></div>Recommendations</ion-label>
								<ionic-selectable #recommendationComponent item-content [(ngModel)]="recommendations" [isMultiple]="true"
									[ngModelOptions]="{standalone: true}" [items]="hospitalServices" itemValueField="id" itemTextField="title"
									[canSearch]="true" (onChange)="recommendationChange($event)">
									<ng-template ionicSelectableFooterTemplate>
										<ion-toolbar>
											<ion-row>
												<ion-col>
												<div>
													<button ion-button full (click)="confirm()" style="background-color: #2d4963; box-shadow: none; transition: none;">
														OK
													</button>
												</div>
												</ion-col>
											</ion-row>
										</ion-toolbar>
									</ng-template>
								</ionic-selectable>
							</ion-item>		
							</ion-col>
						</ion-row>

						<ion-row class="error-message" *ngIf="is_submit === true && recommendations.length === 0">
							This field is required
						</ion-row>
					</ng-container>
				</ion-grid>
			</form>
		</div>
	</div>
	<button ion-button full class="next-button" (click)="gotoSummary()">Next</button>
</ion-content>
