<!--
  Generated template for the ProfileMedicalRecordsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Medical Records</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >

	<div class="records-segment-buttons">
	  <ion-segment [(ngModel)]="records_tabs">
	    <ion-segment-button class="special-segment" value="diagnosis" *ngIf="report && report.diagnosis_id"> Diagnosis </ion-segment-button>
	    <ion-segment-button value="prescriptions" *ngIf="report && report.prescriptions_id"> Prescriptions </ion-segment-button>
	    <ion-segment-button value="recommendations" *ngIf="report && report.medical_recommendation"> Recommendations </ion-segment-button>
	  </ion-segment>
	</div>

	<div class="records records-segemnt-content" padding [ngSwitch]="records_tabs">
		<div *ngSwitchCase="'diagnosis'" class="diagnosis-tab-container">

			<div class="skeleton-loader" *ngIf="!report">
				<div class="skeleton-line2"></div>
				<div class="skeleton-line1"></div>
				<div class="skeleton-line1" margin-bottom></div>

				<div class="skeleton-line1"></div>
				<div class="skeleton-line1"></div>
				<div class="skeleton-line1"></div>
				<div class="thumb square"></div>
			</div>

			<div *ngIf="report && report.diagnosis_id">
				<ion-row class="hospital-profile">
					<ion-col col-3>

						<div class="thumb" *ngIf="!report.attachments_hospital" style="background-image: url('assets/imgs/hospital-placeholder.png');"></div>

						<img-loader *ngIf="report.attachments_hospital" class="image-loader round" src="{{siteProvider.base_url + report.attachments_hospital.filepath +'/'+ report.attachments_hospital.filename}}"></img-loader>
					</ion-col>
					<ion-col col-9 class="info">
						<div class="name" text-capitalize> {{ report.hospital_name }} </div>
						<div class="location"> <ion-icon name="ios-pin-outline"></ion-icon> 
							<span *ngIf="(report.hospital_address_address || report.hospital_address_city) && (report.hospital_address_region || report.hospital_address_country || report.hospital_address_zip)">
								{{report.hospital_address_address}} {{report.hospital_address_city}}, {{report.hospital_address_region}} {{report.hospital_address_country}} {{report.hospital_address_zip}} 
							</span>
							<span *ngIf="(!report.hospital_address_address && !report.hospital_address_city) && (!report.hospital_address_region && !report.hospital_address_country && !report.hospital_address_zip)">
								No Address Yet
							</span>
						</div>
						<div class="date">{{ report.created_at | formatDate }}</div>
					</ion-col>
				</ion-row>

				<div class="content">
					<div class="title"> {{ report.diagnosis_title }} </div>
					<div class="description"> {{ report.diagnosis_content }}  </div>
					<div class="photo diagnosis" *ngIf="report.attachments_diagnosis && report.attachments_diagnosis.length > 0">
						<div *ngFor="let dphoto of report.attachments_diagnosis">
							<!-- <img src="{{ siteProvider.base_url }}/{{dphoto.filepath}}/{{dphoto.filename}}"> -->
							<div class="mB-5">
								<img-loader class="image-loader" src="{{ siteProvider.base_url }}/{{dphoto.filepath}}/{{dphoto.filename}}"></img-loader>
							</div>
						</div>
					</div>
				</div>
				<ion-row>
					<ion-col col-8 offset-4>
						<div class="doctor-signature" pull-right text-right>
							<div class="name">
								<span *ngIf="report.doctor_prefix">{{ report.doctor_prefix }}</span> 
								{{ report.doctor_firstname }} {{ report.doctor_lastname }} 
								<span *ngIf="report.doctor_suffix">{{ report.doctor_suffix }}</span> 
								<span *ngIf="report.doctor_medical_degree">{{ report.doctor_medical_degree }}</span>
							</div>
							<div class="specialty" *ngIf="report.specialties"> 
								<span *ngFor="let special of report.specialties; let i=index"> 
									{{ special.specialties_title }} 
									<span *ngIf="report.total_specialties == '2' || report.total_specialties == 2"> 
										<span *ngIf="i == 0"> &amp; </span> 
									</span> 
									<span *ngIf="report.total_specialties > '2' || report.total_specialties > 2"> 
										<span *ngIf="i+1 < report.total_specialties">, </span> 
									</span> 
								</span> 
							</div>
						</div>
					</ion-col>
				</ion-row>
			</div>
		</div>

		<div *ngSwitchCase="'prescriptions'" class="diagnosis-tab-container"> 

			<div *ngIf="report && report.prescriptions_id">
				<ion-row class="hospital-profile">
					<ion-col col-3>
						<div class="thumb" *ngIf="!report.attachments_hospital" style="background-image: url('assets/imgs/hospital-placeholder.png');"></div>
						<!-- <div class="thumb" *ngIf="report.attachments_hospital" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + report.attachments_hospital.filepath +'/'+ report.attachments_hospital.filename + ')'}"></div> -->

						<img-loader *ngIf="report.attachments_hospital" class="image-loader round" src="{{siteProvider.base_url + report.attachments_hospital.filepath +'/'+ report.attachments_hospital.filename}}"></img-loader>

					</ion-col>
					<ion-col col-9 class="info">
						<div class="name" text-capitalize> {{ report.hospital_name }} </div>
						<div class="location"> <ion-icon name="ios-pin-outline"></ion-icon> 
							<span *ngIf="(report.hospital_address_address || report.hospital_address_city) && (report.hospital_address_region || report.hospital_address_country || report.hospital_address_zip)">
								{{report.hospital_address_address}} {{report.hospital_address_city}}, {{report.hospital_address_region}} {{report.hospital_address_country}} {{report.hospital_address_zip}} 
							</span>
							<span *ngIf="(!report.hospital_address_address && !report.hospital_address_city) && (!report.hospital_address_region && !report.hospital_address_country && !report.hospital_address_zip)">
								No Address Yet
							</span>
						</div>
						<div class="date">{{ report.created_at | formatDate }}</div>
					</ion-col>
				</ion-row>

				<div class="content">
					<div class="title"> {{ report.prescriptions_title }} </div>
					<div class="description"> {{ report.prescriptions_content }}  </div>
					<div class="photo diagnosis" *ngIf="report.attachments_prescription && report.attachments_prescription.length > 0">
						<div *ngFor="let pphoto of report.attachments_prescription">
							<!-- <img src="{{ siteProvider.base_url }}/{{pphoto.filepath}}/{{pphoto.filename }}"> -->
							<div class="mB-5">
								<img-loader class="image-loader" src="{{ siteProvider.base_url }}/{{pphoto.filepath}}/{{pphoto.filename }}"></img-loader>
							</div>
						</div>
					</div>
				</div>
				<ion-row>
					<ion-col col-8 offset-4>
						<div class="doctor-signature" pull-right text-right>
							<div class="name">
								<span *ngIf="report.doctor_prefix">{{ report.doctor_prefix }}</span> 
								{{ report.doctor_firstname }} {{ report.doctor_lastname }} 
								<span *ngIf="report.doctor_suffix">{{ report.doctor_suffix }}</span> 
								<span *ngIf="report.doctor_medical_degree">{{ report.doctor_medical_degree }}</span>
							</div>
							<div class="specialty" *ngIf="report.specialties"> 
								<span *ngFor="let special of report.specialties; let i=index"> 
									{{ special.specialties_title }} 
									<span *ngIf="report.total_specialties == '2' || report.total_specialties == 2"> 
										<span *ngIf="i == 0"> &amp; </span> 
									</span> 
									<span *ngIf="report.total_specialties > '2' || report.total_specialties > 2"> 
										<span *ngIf="i+1 < report.total_specialties">, </span> 
									</span> 
								</span> 
							</div>
						</div>
					</ion-col>
				</ion-row>
			</div>
		</div>

		<!-- from rhan -->
		<div *ngSwitchCase="'recommendations'" class="diagnosis-tab-container"> 

			<div *ngIf="report && report.medical_recommendation != 0">
				<ion-row class="hospital-profile">
					<ion-col col-3>
						<div class="thumb" *ngIf="!report.attachments_hospital" style="background-image: url('assets/imgs/hospital-placeholder.png');"></div>

						<!-- <div class="thumb" *ngIf="report.attachments_hospital" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + report.attachments_hospital.filepath +'/'+ report.attachments_hospital.filename + ')'}"></div> -->

						<img-loader *ngIf="report.attachments_hospital" class="image-loader round" src="{{siteProvider.base_url + report.attachments_hospital.filepath +'/'+ report.attachments_hospital.filename}}"></img-loader>

					</ion-col>
					<ion-col col-9 class="info">
						<div class="name" text-capitalize> {{ report.hospital_name }} </div>
						<div class="location"> <ion-icon name="ios-pin-outline"></ion-icon> 
							<span *ngIf="(report.hospital_address_address || report.hospital_address_city) && (report.hospital_address_region || report.hospital_address_country || report.hospital_address_zip)">
								{{report.hospital_address_address}} {{report.hospital_address_city}}, {{report.hospital_address_region}} {{report.hospital_address_country}} {{report.hospital_address_zip}} 
							</span>
							<span *ngIf="(!report.hospital_address_address && !report.hospital_address_city) && (!report.hospital_address_region && !report.hospital_address_country && !report.hospital_address_zip)">
								No Address Yet
							</span>
						</div>
						<div class="date">{{ report.created_at | formatDate }}</div>
					</ion-col>
				</ion-row>

				<div class="content">
					<div class="title"> Reccomendations </div>
					<div *ngFor="let recommendation of recommendations" class="recomend"> <ion-icon name="md-checkmark"></ion-icon> {{ recommendation.service_title }}  </div>
				</div>
				<ion-row>
					<ion-col col-8 offset-4>
						<div class="doctor-signature" pull-right text-right>
							<div class="name">
								<span *ngIf="report.doctor_prefix">{{ report.doctor_prefix }}</span> 
								{{ report.doctor_firstname }} {{ report.doctor_lastname }} 
								<span *ngIf="report.doctor_suffix">{{ report.doctor_suffix }}</span> 
								<span *ngIf="report.doctor_medical_degree">{{ report.doctor_medical_degree }}</span>
							</div>
							<div class="specialty" *ngIf="report.specialties"> 
								<span *ngFor="let special of report.specialties; let i=index"> 
									{{ special.specialties_title }} 
									<span *ngIf="report.total_specialties == '2' || report.total_specialties == 2"> 
										<span *ngIf="i == 0"> &amp; </span> 
									</span> 
									<span *ngIf="report.total_specialties > '2' || report.total_specialties > 2"> 
										<span *ngIf="i+1 < report.total_specialties">, </span> 
									</span> 
								</span> 
							</div>
						</div>
					</ion-col>
				</ion-row>
			</div>
		</div>
		<!-- end -->
	</div>

	
	
</ion-content>
