page-patients-prescriptions {
		.for-line{
			border-bottom: 2px solid #ccc;
			margin: 20px;
			height: 10px;
			float: inherit;
		    margin: -25px auto 0px auto;
		    width: 60vw;
		    display: block;
	}
	.process, .process-selected{
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		color: #9e9e9e;
		margin-top: 30px;

		p{
			margin-bottom: 20px;
		  	@media(min-width:319px) and (max-width: 364px){ font-size: 12px;  }
		}
		.count, .count-selected{
			color: #fff;
			background-color: #ccc;
			border-radius: 50px;
			padding: 3px;
			height: 25px;
			width: 25px;
			text-align: center;
			display: block;
			margin: auto;
		}
		.count-selected{
			background-color: #3492ff;
		}
	}
	.process-selected{
			color: #3d4b58;
	}

	.trans-num{
		margin-top: 20px;
		text-align: center;
		color: #9e9e9e;
	}

	.informations{
		ion-input,ion-textarea{
			background-color: #fff;
			border: 1px solid transparent;
			border-radius: 5px;
		}
		ion-input:focus,ion-input:hover,ion-textarea:focus,ion-textarea:hover{
			border: 1px solid #3492ff;	
		}
		ion-label{
			padding-top: 20px;
			color: #9e9e9e;
			text-transform: uppercase;
		}

		.remove-photo{
			color: #fff;
		    background-color: #f26c4f;
		    border-radius: 50px;
		    padding: 2px 5px;
		    font-size: 12px;
		    height: 20px;
		    width: 20px;
		    top: 0;
		    right: 0px;
		    position: absolute;
		}

		.upload-photo{
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100px;
			height: 100px;
			border-radius: 5px;
		}
		.file-name{
			font-size: 11px;
			text-align: center;
			color: #9e9e9e;
		}

	}
	.next-button{
		height: 3em;
		background-color: #3492ff;
		font-size: 20px;
    	margin-bottom: 0px;

		ion-icon{
			margin-left: 5px;
		}
	}
	.error-message {
		color: #f26c4f;
		padding: 10px 0px;
	}
	.has-error {
		border-color: #f26c4f;
	}
}
