<!--
  Generated template for the BookmarkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Bookmarks</ion-title>
  </ion-navbar>

   <div class="filter-buttons" text-center padding-horizontal>
        <ion-segment [(ngModel)]="favoriteSegment" no-lines>
          	<ion-segment-button value="articles" (click)="currentSegmentPage('articles')">
            	Articles
          	</ion-segment-button>
          	<!-- <ion-segment-button value="doctors" (click)="currentSegmentPage('doctors')">
            	Doctors
          	</ion-segment-button> -->
          	<ion-segment-button value="hospitals" (click)="currentSegmentPage('hospitals')">
            	Hospitals
          	</ion-segment-button>
          	<ion-segment-button value="ambulance" (click)="currentSegmentPage('ambulance')">
            	Ambulance
          	</ion-segment-button>
        </ion-segment> 
  	</div>
</ion-header>

<ion-content padding>

	<ion-refresher padding (ionRefresh)="reloadData($event)">
        <ion-refresher-content
            pullingIcon="md-refresh-circle"
            pullingText="Pull down to refresh"
            refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

   	<div class="bookmark-container" [ngSwitch]="favoriteSegment">
		<div class="empty-states-container" *ngSwitchCase="'articles'">

			<div *ngIf="all_articles && total_article_count === 0" class="empty-states-content">
		        <img src="assets/imgs/no-article-doc.png">
		        <div>
		            <div class="empty-states-title"> No Bookmarked Article </div>
		        </div>
		   	</div>

			<ion-card class="article-results results-box" *ngIf="!all_articles">
				<ion-card-header> Articles </ion-card-header>
			  	<ion-list>
				  	<button ion-item class="articles_card skeleton-loader" *ngIf="!all_articles">
					    <ion-row>
					    	<ion-col col-3>
					    		 <div class="thumb square"></div>
					    	</ion-col>
					    	<ion-col col-9 class="content"> 
					    		<div class="animation skeleton-line1"></div>
					            <div class="animation skeleton-line2"></div>
					            <div class="animation skeleton-line2"></div>
					    	</ion-col>
					    </ion-row>
				    </button>
			  	</ion-list>
			</ion-card>

			<ion-card class="article-results results-box" *ngIf="all_articles && total_article_count > 0">
			  	<ion-card-header> Articles </ion-card-header>
			  	<ion-list>
					<div *ngIf="all_articles">
						<div *ngFor="let article of all_articles; let b=index;">
						    <div class="articles_card">
							    <ion-row>
							    	<ion-col col-3 (click)="goToArticleInside(article)">
							    		<div class="thumb" *ngIf="!article.attachments" style="background-image: url('assets/imgs/placeholder.png');"></div>

										<!-- <div class="thumb" *ngIf="article.attachments" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + article.attachments.filepath +'/'+ article.attachments.filename + ')'}"></div> -->

										<img-loader *ngIf="article.attachments" class="image-loader border-radius-5 bkg-img-center" src="{{ siteProvider.base_url + article.attachments.filepath +'/'+ article.attachments.filename }}"></img-loader>

							    	</ion-col>
							    	<ion-col col-9 class="content"> 
							    		<div class="title" (click)="goToArticleInside(article)"> {{ article.title | shortenText }} </div>
							    		<div class="meta" text-wrap>
							    			<ion-row>
							    				<ion-col>
							    					<div class="date"> {{ article.created_at | formatDate }} </div>
							    				</ion-col>
							    				<ion-col text-right>
				  									<ion-icon (click)="addtoBookmark(article, b, 'article', article.title)" [ngClass]="article.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="article.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
							    				</ion-col>
							    			</ion-row>
							    		</div>
							    	</ion-col>
							    </ion-row>
						    </div>
					    </div>
						<ion-infinite-scroll padding-top (ionInfinite)="doInfiniteArticles($event)">
							<ion-infinite-scroll-content></ion-infinite-scroll-content>
						</ion-infinite-scroll>
			   		</div>
			  	</ion-list>
			</ion-card>
		</div>
		<div class="empty-states-container" *ngSwitchCase="'hospitals'">

			<div *ngIf="all_hospitals && total_hospitals_count === 0" class="empty-states-content">
		        <img src="assets/imgs/no-hospital-doc.png">
		        <div>
		            <div class="empty-states-title"> No Bookmarked Hospital </div>
		        </div>
		   	</div>

			<ion-card class="hospital-results results-box" *ngIf="!all_hospitals">
				<ion-card-header> Hospitals </ion-card-header>
			  	<ion-list>
			  		<button ion-item class="articles_card skeleton-loader" *ngIf="!all_hospitals">
					    <ion-row>
					    	<ion-col col-3>
					    		 <div class="thumb circle"></div>
					    	</ion-col>
					    	<ion-col col-9 class="content"> 
					    		<div class="animation skeleton-line1"></div>
					            <div class="animation skeleton-line2"></div>
					            <div class="animation skeleton-line2"></div>
					    	</ion-col>
					    </ion-row>
				    </button>
			  	</ion-list>
			</ion-card>

			<ion-card class="hospital-results results-box" *ngIf="all_hospitals && total_hospitals_count > 0">
			  	<ion-card-header> Hospitals </ion-card-header>
			  	<ion-list>
					<div *ngIf="all_articles">
						<div *ngFor="let hospital of all_hospitals; let b=index;">
						    <div class="hospitals-card">
							    <ion-row>
							    	<ion-col (click)="gotoProfileHospital(hospital)" col-3>
							    		<div class="thumb" *ngIf="!hospital.attachments" style="background-image: url('assets/imgs/hospital-placeholder.png');"></div>

										<!-- <div class="thumb" *ngIf="hospital.attachments" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + hospital.attachments.filepath +'/'+ hospital.attachments.filename + ')'}"></div> -->

										<img-loader *ngIf="hospital.attachments" class="image-loader round" src="{{ siteProvider.base_url + hospital.attachments.filepath +'/'+ hospital.attachments.filename }}"></img-loader>

							    	</ion-col>
							    	<ion-col col-9 class="content"> 
							    		<div class="title" (click)="gotoProfileHospital(hospital)"> {{hospital.name}} </div>
							    		<div class="meta" text-wrap>
							    			<ion-row>
							    				<ion-col col-10>
							    					<div class=""> {{hospital.hospital_city}}, {{hospital.hospital_region}} 
								    				</div>
								    			</ion-col> 
							    				<ion-col text-right col-2>
				  									<ion-icon (click)="addtoBookmark(hospital, b, 'hospital', hospital.name)" [ngClass]="hospital.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="hospital.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
							    				</ion-col>
							    			</ion-row>
							    		</div>
							    	</ion-col>
							    </ion-row>
						    </div>
						</div>
						<ion-infinite-scroll padding-top (ionInfinite)="doInfiniteHospitals($event)">
							<ion-infinite-scroll-content></ion-infinite-scroll-content>
						</ion-infinite-scroll>
			   		</div>
			  	</ion-list>
			</ion-card>
		</div>
		<div class="empty-states-container" *ngSwitchCase="'ambulance'">

			<div *ngIf="all_ambulance && total_ambulance_count === 0" class="empty-states-content">
		        <img src="assets/imgs/no-ambulance-doc.png">
		        <div>
		            <div class="empty-states-title"> No Bookmarked Ambulance </div>
		        </div>
		   	</div>

			<ion-card class="ambulance-results results-box" *ngIf="!all_ambulance">
				<ion-card-header> Ambulance </ion-card-header>
			  	<ion-list>
				  	<button ion-item class="articles_card skeleton-loader" *ngIf="!all_ambulance">
					    <ion-row>
					    	<ion-col col-3>
					    		 <div class="thumb circle"></div>
					    	</ion-col>
					    	<ion-col col-9 class="content"> 
					    		<div class="animation skeleton-line1"></div>
					            <div class="animation skeleton-line2"></div>
					            <div class="animation skeleton-line2"></div>
					    	</ion-col>
					    </ion-row>
				    </button>
			  	</ion-list>
			</ion-card>

			<ion-card class="ambulance-results results-box" *ngIf="all_ambulance && total_ambulance_count > 0">
			  	<ion-card-header> Ambulance </ion-card-header>
			  	<ion-list>
					<div *ngIf="all_ambulance">
						<div *ngFor="let ambulance of all_ambulance; let b=index;">
						    <div class="ambulance-card">
							    <ion-row>
							    	<ion-col col-12 class="content"> 
										<ion-row class="meta-hospital">
											<ion-col col-10 (click)="callNow(ambulance)">
												<p class="title" text-capitalize>{{ambulance.company_name}}</p>
												<div>
													<p class="hospital-address" text-wrap> 
														<span *ngIf="(ambulance.address_address || ambulance.address_city) && (ambulance.address_region || ambulance.address_country || ambulance.address_zip)">
															{{ambulance.address_address}} {{ambulance.address_city}}, {{ambulance.address_region}} {{ambulance.address_country}} {{ambulance.address_zip}}
														</span>
														<span *ngIf="(!ambulance.address_address && !ambulance.address_city) && (!ambulance.address_region && !ambulance.address_country && !ambulance.address_zip)">
															No Address Yet
														</span>
													</p>
												</div>
											</ion-col>
											<ion-col text-right col-2>
										  		<ion-icon (click)="addtoBookmark(ambulance, b, 'ambulance', ambulance.company_name)" [ngClass]="ambulance.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="ambulance.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
											</ion-col>
										</ion-row>
							    		<div class="meta" text-wrap>
							    			<ion-row>
							    				<ion-col col-8>
							    					<div class="contact" *ngIf="ambulance.contact"> <ion-icon name="ios-call"></ion-icon>
							    						<span *ngIf="ambulance.contact.type === 'mobile'"> {{ambulance.contact.country_code}}  </span>
														<span *ngIf="ambulance.contact.type !== 'mobile'"> {{ambulance.contact.area_code}}  </span>
														{{ambulance.contact.number}}
							    					</div>
							    					<!-- <div class="distance"> <ion-icon name="ios-pin"></ion-icon> 0.8km away </div> -->
							    				</ion-col>
												<ion-col col-4> <ion-badge>
													<ion-icon name="ios-call"></ion-icon></ion-badge>
												</ion-col>
							    			</ion-row>
							    		</div>
							    	</ion-col>
							    </ion-row>
						    </div>
					   	</div>
						<ion-infinite-scroll padding-top (ionInfinite)="doInfiniteAmbulance($event)">
							<ion-infinite-scroll-content></ion-infinite-scroll-content>
						</ion-infinite-scroll>
			   		</div>
			  	</ion-list>
			</ion-card>
		</div>
	</div>
</ion-content>