<!--
  Generated template for the BrowseDoctorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Doctors</ion-title>

    <ion-buttons end *ngIf="!hospital_info">
      <button ion-button icon-only (click)="openFilterForm()">
        <ion-icon name="ios-funnel-outline" ></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding-horizontal>

	<ion-refresher padding (ionRefresh)="reloadData($event)">
        <ion-refresher-content
            pullingIcon="md-refresh-circle"
            pullingText="Pull down to refresh"
            refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>


	<ion-searchbar
	  [(ngModel)]="searched_keyword"
	  (keyup.enter)="searchNews(false)"
	  (ionClear)="searchNews($event)" margin-bottom>
	</ion-searchbar>

	<div class="lbl-search-found" *ngIf="applied_filters && applied_filters.city"> Results for <span class="keyword">{{ applied_filters.city.toLowerCase() }}</span> </div>


	<div class="patients">

	<button ion-item class="skeleton-loader" *ngIf="!all_doctors">
		<ion-row>
			<ion-col col-9>
				<div class="animation skeleton-line1"></div>
				<div class="animation skeleton-line2"></div>
				<div margin-top>
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line1"></div>
				</div>
			</ion-col>
			<ion-col col-3>
				<div class="thumb circle"></div>
			</ion-col>
		</ion-row>
	</button>

	<div class="empty-states-content" *ngIf="all_doctors && total_count === 0">
            <img src="assets/imgs/no-doctor.png">
            <div padding margin-left margin-right>
                <div class="empty-states-title"> No Doctor found </div>
                <p> We can't seem to find the Doctor you're looking for. Maybe a spelling error or try a new name.</p>
                <!-- <div *ngIf="filterData" class="empty-states-div">
                    <button class="empty-states-button" color="secondary" (click)="filterEvents()" ion-button full> Continue Filtering</button>
                </div>
 -->
            </div>
   	</div>

<div *ngIf="all_doctors && total_count > 0">
		<button ion-item (click)="goToDoctorProfile(doctor)" *ngFor="let doctor of all_doctors; let b=index;">
			<ion-row>
				<ion-col col-9>
					<p class="patient-name" text-capitalize>
						<span *ngIf="doctor.prefix">{{ doctor.prefix }}</span>
						{{ doctor.firstname }} {{ doctor.lastname }}
						<span *ngIf="doctor.suffix">{{ doctor.suffix }}</span>
						<span *ngIf="doctor.medical_degree">{{ doctor.medical_degree }}</span>
					</p>
					<p class="status specialty-container" text-wrap *ngIf="doctor.specialties">
						<span *ngFor="let special of doctor.specialties; let i=index">
							{{ special.specialties_title }}
							<span *ngIf="doctor.total_specialties == '2' || doctor.total_specialties == 2">
								<span *ngIf="i == 0"> &amp; </span>
							</span>
							<span *ngIf="doctor.total_specialties > '2' || doctor.total_specialties > 2">
								<span *ngIf="i+1 < doctor.total_specialties">, </span>
							</span>
						</span>
					</p>
					<div class="doc-hospital">
						<p class="hospital-address" text-wrap>
							{{doctor.hospital_name}}
						</p>
					</div>
					<div class="under-hospital">
						<!-- <span class="status"><ion-icon name="ios-pin-outline"></ion-icon> 0.8 km </span> -->
						<span class="status1" *ngIf="doctor.license_verification_status == '1'"><img src="assets/imgs/verified_ico.png"> PRC <span class="capital-stat"> Verified </span> </span>
					</div>
				</ion-col>
				<ion-col col-3>
					<div class="thumb" *ngIf="!doctor.attachments_filename || !doctor.attachments_filepath" style="background-image: url('assets/imgs/doctor-placeholder.png');"></div>

					<!-- <div class="thumb" *ngIf="doctor.attachments_filename && doctor.attachments_filepath" [ngStyle]="{'background-image': 'url('+ doctorProvider.base_url + doctor.attachments_filepath +'/'+ doctor.attachments_filename + ')'}"></div> -->

					<img-loader *ngIf="doctor.attachments_filename && doctor.attachments_filepath" class="image-loader round" src="{{ siteProvider.base_url + doctor.attachments_filepath +'/'+ doctor.attachments_filename }}"></img-loader>

					<div class="under-hospital1">
						<span class="trans-number"*ngIf="doctor.status == '1' && doctor.doctor_schedule_id">Bookable</span>
					</div>
				</ion-col>
			</ion-row>
		</button>

		<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
			   <ion-infinite-scroll-content></ion-infinite-scroll-content>
			</ion-infinite-scroll>
</div>

<!-- <div class="thumb" *ngIf="!doctor.attachments_filename || doctor.attachments_filename == ''" style="background-image: url('assets/imgs/placeholder.png');"></div>
<div class="thumb" *ngIf="doctor.attachments_filename !== ''" style="background-image: url('assets/imgs/placeholder.png');"></div>
		 -->
	</div>
</ion-content>
