page-form-filter-patients {

    .btyp {
        float: left;
        width: 50%;
        padding: 8px 6px 5px 6px;
        margin: 20px 0; // clear: both;
    }
    .btyp-ico {
        height: 35px;
        margin-right: 10px;
    }
    span.btyp-txt {
        position: relative;
        top: -11px;
        font-size: 15px;
        font-weight: 700;
    }

    .active {
        background-color: #488aff !important;
        color: #fff !important;
    }
    .gender-btn{
        height: 3em;
        width: 100%;
        border-radius: 10px;
        font-size: 15px;
    }

    .col{
        .gender-btn{  
            background-color: #eaeff1;
            box-shadow: none !important;
            font-weight: 100;
            text-transform: capitalize;
        }
        .icon{
            font-weight: 800;
            padding-right: 10px;
        }
    }
    .button{
        background-color: transparent;
        color: #000;
    }

    .btn-log{
        margin-top: 0px !important;
    }

    .select{
        background: #eaeff1 !important;
        padding: 15px 20px !important;
    }

    .select-text{
        color: #000 !important;
    }

    .popover-md .popover-content{
        top: 294px !important;
        left: 56px !important;
        width: 65% !important;
        background: #eaeff1 !important;  
    }
    
    .item-cover{
        display: none;
    }

    .list{
        .item{
            background-color: #eaeff1 !important;
        }
    }

    .item-md.item-block .item-inner {
        border-bottom: transparent !important;
    }

    .item{
        border-radius: 23px !important;
    }

    .radio-icon{
        display: none !important;
    }

    .select-popover ion-list {
        margin: -1px 5px !important;
    }

    .item-md .radio-md {
        display: none !important;
    }

    .apply{
        background-color: #2d4963 !important;
    }
}
