<!--
  Generated template for the FormFilterPatientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="prompt_modal filter-modal">
	<div class="modal_container" (click)="escapeModal()">
		<div class="modal_content" (click)="stopPropagation($event)">
			<button ion-button icon-only navPop class="btn-close">
		        <ion-icon name="md-close"></ion-icon>
		    </button>

			<div class="section-title"> Filters </div>
			<div class="filter-form">
				<div *ngIf="filter_type === 'patients'">
					<ion-list no-lines>
				        <div class="textfield">
					        <div class="label"> Date </div>
				            <ion-item>
						        <ion-select [(ngModel)]="range" interface="popover">
									<ion-option value="today">Today</ion-option>
									<ion-option value="thisweek">This Week</ion-option>
									<ion-option value="thismonth">This Month</ion-option>
									<ion-option value="previous">This Year</ion-option>
								</ion-select>
							</ion-item>
				        </div>
				    </ion-list>
			    	<hr>
<!-- 			    	<ion-list no-lines>
				        <div class="textfield">
					        <div class="label"> Gender </div>
					        <ion-row>
					        	<ion-col>
									<button ion-button (click)="filterGender('male')" class="gender-btn" [ngClass]="gender == 'male' ? 'active' : '' "><ion-icon name="ios-male"></ion-icon> Male</button>
					        	</ion-col>
					        	<ion-col>
									<button ion-button (click)="filterGender('female')" class="gender-btn" [ngClass]="gender == 'female' ? 'active' : '' "><ion-icon name="ios-female"></ion-icon> Female</button>
					        	</ion-col>
					        </ion-row>
				        </div>
			    	</ion-list> -->
				</div>

				<div *ngIf="filter_type === 'hmo_transaction'">
					<ion-list>
						<ion-item margin-bottom>
							<ion-label>Start Date</ion-label>
							<ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.date_from"></ion-datetime>
						</ion-item>
						<ion-item>
							<ion-label>End Date</ion-label>
							<ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.date_to"></ion-datetime>
						</ion-item>
					</ion-list>
			    	<hr>
					<form [formGroup]="filterTransaction">
				    	<ion-list no-lines>
					        <div class="textfield">
						        <div class="label"> Hospital </div>
								<div [class.error]="submitAttempts === true && !filterTransaction.controls.hospitals.valid">
									<ion-select [(ngModel)]="hospitals" formControlName="hospitals" interface="popover">
											<ion-option style=" max-width: 100% !important; min-width: 100% !important; width: 100% !important;" *ngFor="let hospital of hospitalList" [value]="hospital.id"> {{hospital.name}} </ion-option>
									</ion-select>
								</div>
					        </div>
				    	</ion-list>
			    	</form>
				</div>
			    <ion-row class="btn-log">
			        <ion-col col-6>
			         	<button ion-button (click)="applyFilter('reset')" class="button-gradient"> Reset </button>
			        </ion-col>
			        <ion-col col-6>
			           	<button ion-button (click)="applyFilter('apply')" class="button-gradient apply"> Apply </button>
			        </ion-col>
			    </ion-row>
		    </div>
		</div>
	</div>
</div>
