page-browse-articles {
	.scroll-content{	
		background-color: #f6f6f6 !important;
	}

	.featured-articles {
		.articles_card {
			box-shadow: 0px 5px 20px -10px #bcbcbc;
			.thumb {
			    height: 90px !important;
			}
		}
		.card-title {
			font-size: 14px;
			line-height: 20px;
			height: 56px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		.see_all {
			color: #3d4b58;
    		font-weight: 500;
		    font-size: 13px;
		    border: 0;
		    text-transform: capitalize;
		    text-align: left;

		    .icon {
		    	color: #bfbfbf;
			    font-size: 25px;
			    margin-left: 8px;
		    }
		}
	}

	.other-articles {
		.articles_card {
			box-shadow: 0px 5px 20px -10px #bcbcbc;
			width: auto;
		    margin: 0;
		    margin-bottom: 10px;

			.thumb {
			    height: 150px !important;
			    margin-top: 10px;
			}
			.card-title {
				font-size: 20px;
				line-height: 25px;
			}
		}
	}


	.articles_card {
		position: relative;
		background: #fff;
		border-radius: 5px;
		text-align: left;

		.thumb {
			display: block;
		    width: 100%;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		}

		p { font-size: 13px;  }

		.content {
			.meta {
				.icon{
					font-size: 30px;
			      	position: absolute;
					right: 10px;
					top: 10px;
				}
				font-size: 13px;
				.col { padding: 0; }
				.cat { 
					color: #a1a1a1; 
					font-weight: 300;
					text-transform: uppercase;
				    background: transparent;
				    border: 1px solid #f0f0f0;
				    font-size: 10px;
				}
				.date { 
					color: #a1a1a1; 
				}
			}
			.card-title {
			    color: #3d4b58;
			    font-weight: 600;
			}
		}
	}
}
