<!--
  Generated template for the BrowseArticlesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>All Articles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-refresher padding (ionRefresh)="reloadData($event)">
		<ion-refresher-content
	      pullingIcon="md-refresh-circle"
	      pullingText=""
	      refreshingSpinner="circles"
	      refreshingText="">
	    </ion-refresher-content>
	</ion-refresher>

	<div class="featured-articles" margin-bottom padding-horizontal>
		<ion-slides  slidesPerView="1.2" *ngIf="!featured_articles">
			<ion-slide>
				<ion-card class="articles_card skeleton-loader">
					  <ion-card-content class="content">
					    <div class="thumb square"></div>
					    <ion-card-title>
					     <div class="animation skeleton-line1"></div>
					     <div class="animation skeleton-line2"></div>
					     <div class="animation skeleton-line2"></div>
					    </ion-card-title>
					  </ion-card-content>
				</ion-card>
			</ion-slide>
			<ion-slide>
				<ion-card class="articles_card skeleton-loader">
					  <ion-card-content class="content">
					    <div class="thumb square"></div>
					    <ion-card-title>
					     <div class="animation skeleton-line1"></div>
					     <div class="animation skeleton-line2"></div>
					     <div class="animation skeleton-line2"></div>
					    </ion-card-title>
					  </ion-card-content>
				</ion-card>
			</ion-slide>
		</ion-slides>

		<ion-slides  slidesPerView="1.2" *ngIf="featured_articles">
			<ion-slide *ngFor="let article of featured_articles['items']; let b=index;">
				<ion-card class="articles_card" (click)="goToArticleInside(article)">
					  <ion-card-content class="content">
					    <div class="thumb" *ngIf="!article.attachments" style="background-image: url('assets/imgs/banner-placeholder.png');"></div>

						<img-loader *ngIf="article.attachments" class="thumb" src="{{ siteProvider.base_url + article.attachments.filepath +'/'+ article.attachments.filename }}"></img-loader>

					    <ion-card-title> {{ article.title }} </ion-card-title>
					    <div class="meta">
					    	<ion-row class="meta">
	                            <ion-col> <ion-badge class="cat"> {{ article.category.title }} </ion-badge> </ion-col>
	                            <ion-col col-6 class="date" text-right> {{ article.created_at | formatDate }} </ion-col>
	                        </ion-row>
					    </div>
					  </ion-card-content>
				</ion-card>
			</ion-slide>
		</ion-slides>
<!-- 		<button ion-button outline class="see_all"> See All Featured <ion-icon name="ios-arrow-forward-outline"></ion-icon> </button>
 -->	</div>


	<div class="other-articles" padding-horizontal>
		<!-- Display this while data is not ready yet -->
		<div *ngIf="!all_articles">
			<ion-card class="articles_card skeleton-loader">
			  <ion-card-content class="content">
			    <ion-card-title>
			      <div class="animation skeleton-line1"></div>
			    </ion-card-title>
			    <div class="meta" margin-bottom>
			    	<div class="animation skeleton-line2"></div>
			    </div>
			     	<div class="animation skeleton-line1"></div>
			     	<div class="animation skeleton-line1"></div>
			     	<div class="animation skeleton-line2"></div>
			    <div class="thumb square"></div>
			  </ion-card-content>
			</ion-card>
		</div>

		<!-- Data is now ready and loaded! Display this if has result -->
		<div *ngIf="all_articles && total_count > 0">
				<ion-card class="articles_card" *ngFor="let article of all_articles; let b=index;">
				  <ion-card-content class="content">
				  	<div class="meta">
				  		<ion-badge class="cat"> {{ article.category.title }} </ion-badge>
				  		<ion-icon (click)="addtoBookmark(article, b)" [ngClass]="article.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="article.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
				  	</div>
				    <ion-card-title (click)="goToArticleInside(article)"> {{ article.title }} </ion-card-title>
				    <div (click)="goToArticleInside(article)" class="meta" margin-bottom>
				    	<div class="date"> {{ article.created_at | formatDate }} </div>
				    </div>
				    <div (click)="goToArticleInside(article)"> {{ article.content | shortenText }} </div>
				    <div (click)="goToArticleInside(article)" class="thumb" *ngIf="!article.attachments" style="background-image: url('assets/imgs/banner-placeholder.png');"></div>

					<!-- <div (click)="goToArticleInside(article)" class="thumb" *ngIf="article.attachments" [ngStyle]="{'background-image': 'url('+ articleProvider.base_url + article.attachments.filepath +'/'+ article.attachments.filename + ')'}"></div> -->

					<img-loader (click)="goToArticleInside(article)" *ngIf="article.attachments" class="thumb" src="{{ siteProvider.base_url + article.attachments.filepath +'/'+ article.attachments.filename }}"></img-loader>

				  </ion-card-content>
				</ion-card>
				<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
				   <ion-infinite-scroll-content></ion-infinite-scroll-content>
				</ion-infinite-scroll>
		</div>

		<!-- Data is now ready and loaded! But NO result found -->
		<div *ngIf="all_articles && total_count === 0">
				<div> No result found. </div>
		</div>
	</div>
</ion-content>
