<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
    	<ion-title> Contact Us </ion-title>
  	</ion-navbar>
</ion-header>

<ion-content padding>
	<div class="contact-container">
		<div class="contact-content">
			<h6 class="title"> How can we help you? </h6>
			<ion-row>
				<ion-col col-12>
					<div> Our line is open from Monday to Friday by 9:00am to 5:00pm. </div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-10>
					<div> You may reach us with the contact details below: </div>
				</ion-col>
				<ion-col col-2>
				</ion-col>
			</ion-row>
			<div padding-vertical>
			  	<ion-row>
					<ion-col col-2>
				  		<div class = "icon-container">
					  		<ion-icon ios="ios-mail" md="md-mail"></ion-icon>
					  	</div>
					</ion-col>
					<ion-col class="contact-details" col-10 *ngIf="!contact_email">
						<div class="animation skeleton-line1"></div>
					</ion-col>
					<ion-col class="contact-details" col-10 *ngIf="contact_email">
				  		<span (click)="sendMessage()"> {{contact_email}} </span>
					</ion-col>
			  	</ion-row>
			  	<ion-row>
					<ion-col col-2>
				  		<div class = "icon-container">
				  			<ion-icon ios="ios-call" md="md-call"></ion-icon>
				  		</div>
					</ion-col>
					<ion-col class="contact-details" col-10 *ngIf="!contact_mobile && !contact_landline">
						<div class="animation skeleton-line1"></div>
					</ion-col>
					<ion-col class="contact-details" col-10 *ngIf="contact_mobile || contact_landline">
				  		<span *ngIf="contact_mobile" (click)="makeCall(contact_mobile)"> {{contact_mobile}} </span>
				  		<span *ngIf="contact_landline" (click)="makeCall(contact_landline)"><span *ngIf="contact_mobile">/</span> {{contact_landline}} </span>
					</ion-col>
			  	</ion-row>
			</div>
			<div class="message-button">
				<button ion-button color="secondary" block (click)="sendMessage()"> Send Message </button>
			</div>
		</div>
	</div>
</ion-content>
