
<ion-content>
	<div class="main-banner">
		<div class="head-inside" padding>
		  <ion-row class="top-layer">
	          <ion-col col-6 class="logo"> <img src="assets/imgs/logo-doc.png"></ion-col>
	          <ion-col col-6 text-right (click)="gotoGlobalSearch()"> <ion-icon ios="ios-search" md="md-search"></ion-icon> </ion-col>
	      </ion-row>
	       <div class="second-layer" padding>
	          <div class="greetings"> {{message}},
	          	  <span *ngIf="user_prefix" text-capitalize>{{user_prefix}}</span> <span text-capitalize> {{user_name}}</span>
	          </div>
	          <div class="greetings-sub">Here are your appointments</div>
	      </div>
			<ion-row>
			  <ion-col col-4>
			  	<div class="appoint-data">
					<img src="assets/imgs/today-ico.png" class="home-icon">
					<div class="opc">
						<div class="skeleton-loader" padding *ngIf="!total_is_loaded">
							<div class="animation skeleton-line1 app-count"></div>
							<div class="animation skeleton-line2"></div>
						</div>
						<div *ngIf="total_is_loaded">
							<span class="app-count">{{total_today_appointments}}</span><br>
							<p class="count-mean">today</p>
						</div>
					</div>
			  	</div>
			  </ion-col>
			  <ion-col col-4>
			  	<div class="appoint-data" (click)="gotoScheduled()">
					<img src="assets/imgs/for-sched-ico.png" class="home-icon">
					<div class="opc">
						<div class="skeleton-loader" padding *ngIf="!total_is_loaded">
							<div class="animation skeleton-line1 app-count"></div>
							<div class="animation skeleton-line2"></div>
						</div>
						<div *ngIf="total_is_loaded">
							<span class="app-count">{{total_upcoming_appointments}}</span><br>
							<p class="count-mean">scheduled</p>
						</div>
					</div>
			  	</div>
			  </ion-col>
			  <ion-col col-4>
			  	<div class="appoint-data" (click)="gotoApproval()">
					<img src="assets/imgs/for-approval-ico.png" class="home-icon">
					<div class="opc">
						<div class="skeleton-loader" padding *ngIf="!total_is_loaded">
							<div class="animation skeleton-line1 app-count"></div>
							<div class="animation skeleton-line2"></div>
						</div>
						<div *ngIf="total_is_loaded">
							<span class="app-count">{{total_pending_appointments}}</span><br>
							<p class="count-mean">for approval</p>
						</div>
					</div>
			  	</div>
			  </ion-col>
			</ion-row>
		</div>
	</div>

	<div class="todays-appointment" padding>

		<p class="appoint-titles">TODAY'S APPOINTMENT</p>

		<ion-card *ngIf="!today_appointments" class="skeleton-loader">
			<ion-card-content>
				<ion-row>
					<ion-col col-2>
						<div class="thumb"></div>
					</ion-col>
					<ion-col col-9 class="dv-color">
						<div class="animation skeleton-line1"></div>
						<div class="animation skeleton-line1"></div>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
		
		<div *ngIf="today_appointments && total_today_appointments == 0" class="empty-states-content">
		    <div padding margin-left margin-right>
		        <p class="no-result"> You don't have any scheduled appointments today. </p>
		    </div>
		</div>
		<div *ngIf="today_appointments">
			<button *ngFor="let today_appointment of today_appointments" ion-item (click)="gotoViewModal(today_appointment)">
				<ion-row>
					<ion-col col-2>
						<div class="patient-photo" *ngIf="!today_appointment.patient_user_profile_attachments_filename" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>
						<div class="patient-photo" *ngIf="today_appointment.patient_user_profile_attachments_filename && today_appointment.patient_user_profile_attachments_filename" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + today_appointment.patient_user_profile_attachments_filepath +'/'+ today_appointment.patient_user_profile_attachments_filename + ')'}"></div>	
					</ion-col>
					<ion-col col-10>
						<p class="patient-name">{{ today_appointment.patient_firstname }} {{ today_appointment.patient_lastname }} {{ today_appointment.patient_suffix }}</p>
						<div class="hospital-address" text-wrap> {{ today_appointment.hospital_name }}</div>
						<p class="status" *ngIf="(today_appointment.patient_address_address || today_appointment.patient_address_city) && (today_appointment.patient_address_region || today_appointment.patient_address_country || today_appointment.patient_address_zip)">
							<ion-icon name="ios-pin" class="mg-right"></ion-icon>
							<span >
								{{today_appointment.patient_address_address}} {{today_appointment.patient_address_city}}, {{today_appointment.patient_address_region}} {{today_appointment.patient_address_country}} {{today_appointment.patient_address_zip}}
							</span>
							<span *ngIf="(!today_appointment.patient_address_address && !today_appointment.patient_address_city) && (!today_appointment.patient_address_region && !today_appointment.patient_address_country && !today_appointment.patient_address_zip)">
								No Address Yet
							</span>
						</p>
						<ion-row>
							<ion-col col-5>
								<p class="trans-number">#{{ today_appointment.id }}</p>
							</ion-col>
							<ion-col col-7>
								<p class="sched-time">{{ today_appointment.appointment_date | formatDate }} {{ today_appointment.appointment_time }}</p>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</button>

			<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
			   <ion-infinite-scroll-content></ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</div>
	</div>

<!-- 	<div class="verify">
		<img src="assets/icon/verify.png" class="verify-icon" (click)="gotoVerify()">
	</div>	 -->

	<ion-fab right bottom>
	    <button (click)="fabClick()" ion-fab class="verified-icon" [ngStyle]="fabClicked === false ? {'background-image': 'url('+ 'assets/icon/verify-qr.png' + ')'} : {}"></button>
	    <ion-fab-list side="top">
	      	<button (click)="gotoVerify()" class="verified-icon" style="background-image: url('assets/icon/verify.png');" ion-fab></button>
	      	<button (click)="scanCode()" ion-fab><ion-icon name="qr-scanner"></ion-icon></button>
	    </ion-fab-list>
  	</ion-fab>
</ion-content>