page-home {
	
	.main-banner{
		/*background-color: #203e56;*/
		background-image: url("../assets/imgs/home-banner.jpg");
		background-size: cover;
		color: #fff;
			.top-layer {
				.logo {
					img {
					    max-height: 26px;
					}
				}
				.current-location {
					text-transform: uppercase;
			   		font-size: 12px;
				}
				ion-icon{
					font-size: 2em;
				}
			}
			.second-layer {
				.greetings {
					font-size: 22px;
					font-weight: 500;
					line-height: 22px;
   					margin-bottom: 7px;
				}
				.greetings-sub {
			   		font-size: 12px;
				}
			}
			ion-spinner * {
			  width: 15px;
			  height: 15px;
			  stroke: #fff;
			}
	}
	.appoint-data{
		background-color: RGBA(0,0,0,0.1);
		border-radius: 5px;
		padding:10px;

		.home-icon{
			height: 5vw;
		}

		.opc{
			text-align: center;
			margin-top: -20px;
		}
		.app-count{
			font-size: 44px;
			color: #cedae5;
		}
		.count-mean{
			font-size: 8px;
			margin-top: -5px;
			text-transform: uppercase;
		}
	}

	.todays-appointment{

		.item-md{
			padding: 10px 15px;
			padding-left: 0px;
			margin-bottom: 5px;
			border-radius: 5px;
    		border-left: 7px solid #3492ff;
		}
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 0px!important;
		}
		.item-md p {
	    	margin: 0px;
	    }
	    .patient-photo{
	    	border-radius: 50px;
	    	background-repeat: no-repeat;
	    	background-size: cover; 
	    	padding-bottom: 100%;
    		width: 100%;
	    	margin: auto;
	    	background-position: center center;
	    }
	    .hospital-address {
	    	margin-bottom: 0 !important;
	    	padding-left: 16px;
	    }
		.patient-name{
			color: #3d4b58;
			font-weight: 500;
			font-size: 16px;
    		line-height: 18px;
		}
		.col { 
			.col { padding: 0;  }
		}
		.status{
			color: #949494;
			font-size: 12px;
		}
		.trans-number{
			color: #3492ff;
			font-size: 12px;
			margin-top: 4px !important;
		}
		.sched-time{
			float: right;
			font-size: 12px;

		}
	}

	ion-fab{
      	bottom: 20px;
    	right: 15px;
    	width: 60px;
    	.fab{
      		background-color: #0098e4;
     		box-shadow: 0px 0px 10px 5px #e1e1e1;
    	}
		.fab-in-list{
      		background: #f6f6f6;
			color: #0098e4;
     		box-shadow: 0px 0px 10px 5px #e1e1e1;
		}
	}

	.verified-icon{    
		background-size: cover !important;
    	background-repeat: no-repeat !important;
    	margin: auto;
    	background-position: center center !important;
	}

	.empty-states-content {
	    margin-top: 50px;
	}
}
