page-profile-hospitals {
	.section-title {
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 5px;
		i, .icon {
			display: inline-block;
			margin-right: 5px;
			color: #08aae5; 
		}
	}

	.head {
		background-size: cover;
	    background-position: center center;
	    background-repeat: no-repeat;
	    color: #fff;

	    .head-inside {
		    background: rgba(0,0,0,0.5);
		
			.meta {
				font-size: 13px;
				i, .icon {
					color: #3492ff;
					display: inline-block;
	    			margin-right: 5px;
				}
				.col { padding: 0px; }
			}

		    .meta-hospital{
				.icon{
					font-size: 30px;
				}
		    }

		}
	}

	.top-layer {
		background-color: #fff;
		.map-container {
			position: relative;

			.bottom-details {
				max-width: 200px;
				background: #eaeaea;
				position: absolute;
			    width: 100%;
			    bottom: 15px;
			    left: 15px;

				.car-icon {
					color: #fff;
				    background: #0072bc;
				    border-radius: 3px;
				    text-align: center;
				    font-size: 25px;
				    align-items: center;
    				display: flex;
				}
				.distance-time {
					padding-left: 10px;
					.title{
						color: #777777;
						text-transform: uppercase;
						font-size: 9px;
					}
					.number {
						color: #3d4b58;
						font-size: 14px;
						/*.unit {
							color: #7f7f7f;
							font-size: 9px;
							text-transform: uppercase;
						}*/
					}
				}
			}
		}
		.schedules {
			.schedule-list {
				margin-bottom: 29px;

				.schedule-item {
					font-weight: 300;
					font-size: 13px;
					.days {
						color: #424242;
					}
					.times {
						color: #949494;
					}
				}
			}
		}
	}

	.bottom-layer {
		.hospital-segment-buttons {
			background: #fff;
		    padding: 16px;
		    padding-bottom: 0;

			.segment-button {
				color: #3d4b56;
				font-size: 13px;
				font-weight: 600;
				text-transform: uppercase;
			    border: 0;
			    opacity: 1;

				&.segment-activated {
					    border-bottom: 5px solid #04a8df;
				}
			}
		}
		.hospital-segemnt-content {
		    min-height: 300px;

			.overview-tab-container {
				margin-bottom: 20px;
				.overview {
					font-size: 15px;
				}
			} 
			
			.services-tab-container {
				.services-list {
					.service-item {
						font-size: 14px;
						color: #494949;
						margin-bottom: 8px;
					}
				}
			}

			.doctors-tab-container {
				.doctors-card {
					background: #fff;
				    box-shadow: none;
				    margin: 0;
				    width: 100%;
				    border-bottom: 1px solid #eaeff1;
				    padding-left: 10px;

				    &:first-child {
				    	border-top: 1px solid #eaeff1;
				    	padding-top: 10px;
				    }
				    &:last-child {
						border-bottom: none;
				    }
				    .label-md {
				    	margin: 0;
				    }
					.thumb {
						display: block;
					    width: 100%;
					    padding-bottom: 100%;
					    background-repeat: no-repeat;
					    background-size: cover;
					    background-position: center center;
					    border-radius: 100%;
					}
					.content {
						.meta {
							font-size: 13px;
							margin-bottom: 10px;
							color: #949494;
							.col { padding: 0; }
							.specialty { 
								font-weight: 200;
							    line-height: 18px;
							    margin-bottom: 5px;							
							}
							.hospital {
								color: #3d4b58;
								padding: 0;
								line-height: 25px;
							    margin-right: 10px;
							    overflow: hidden;
							    text-overflow: ellipsis;
							}
						}
						.title {
							font-size: 14px;
						    color: #3d4b58;
						    font-weight: 500;
							white-space: normal;
						}
					}

					.btn_inside {
						background: #04a8df;
						font-weight: 400;
						color: #fff;
						height: 25px;
						border-radius: 3px;
						box-shadow: none;
						font-size: 13px;
						margin: 0;
					}
				}
				.btn_more {
					color: #06a6e3;
				    background: #fff;
				    border-radius: 5px;
				    -webkit-box-shadow: none;
				    box-shadow: none;
				    margin: 10px;
				    font-size: 12px;
				    padding: 22px;
				    margin: 0;
				}
			}

		}
	}

	.bottom-container{
		position: fixed;
     	width: 100%;
		bottom: 0;
	}
	.send-prescript{
		height: 3em;
		border-radius: 10px;
		width: 85vw;
	    display: block;
	    margin: auto;
	}
}
