<!--
  Generated template for the ProfileHospitalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hospital Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="head" style="background-image: url('assets/imgs/more-banner.png');" *ngIf="profile">
		<div class="overlay"></div>
		<div class="head-inside" padding>
			<ion-row class="hospital-profile">
				<ion-col col-3>
					<div class="thumb" *ngIf="!profile.attachments" style="background-image: url('assets/imgs/hospital-placeholder.png');"></div>

					<!-- <div class="thumb" *ngIf="profile.attachments" [ngStyle]="{'background-image': 'url('+ hospitalsProvider.base_url + profile.attachments.filepath +'/'+ profile.attachments.filename + ')'}"></div> -->

					<img-loader *ngIf="profile.attachments" class="image-loader round" src="{{ siteProvider.base_url + profile.attachments.filepath +'/'+ profile.attachments.filename }}"></img-loader>

				</ion-col>
				<ion-col col-9 class="info">
					<div class="name" text-capitalize> {{ profile.name }} </div>
					<div class="location"> <ion-icon name="ios-pin-outline"></ion-icon>
						<span *ngIf="(profile.hospital_address || profile.hospital_city) && (profile.hospital_region || profile.hospital_country || profile.hospital_zip)">
							{{profile.hospital_address}} {{profile.hospital_city}}, {{profile.hospital_region}} {{profile.hospital_country}} {{profile.hospital_zip}}
						</span>
						<span *ngIf="(!profile.hospital_address && !profile.hospital_city) && (!profile.hospital_region && !profile.hospital_country && !profile.hospital_zip)">
							No Address Yet
						</span>
					</div>
				</ion-col>
			</ion-row>
			<div class="meta">
				<!-- <div class="number"><ion-icon name="ios-call-outline"></ion-icon> +91 98211 50889 </div> -->
				<ion-row>
					<ion-col col-11>
						<div class="website" *ngIf="profile.website">
							<ion-icon name="md-globe"></ion-icon>
							<span *ngIf="profile.website">{{ profile.website }}</span>
						</div>
						<div class="website" *ngIf="profile.email">
							<ion-icon name="ios-mail"></ion-icon>
							<span *ngIf="profile.email">{{ profile.email }}</span>
						</div>
					</ion-col>
					<ion-col text-right col-1 class="meta-hospital">
						<ion-icon (click)="addtoBookmark(profile)" [ngClass]="profile.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="profile.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
					</ion-col>
				</ion-row>
			</div>
		</div>
	</div>

	<div class="top-layer" padding>
		<div class="map-container">
			<div class="map" *ngIf="profile.hospital_latitude && profile.hospital_longtitude">
					<div #map id="map" style="height: 200px;"></div>
			</div>
		</div>
	</div>

	<div class="bottom-layer" padding-bottom margin-bottom>
		<div class="hospital-segment-buttons" padding>
		  	<ion-segment [(ngModel)]="hospital_tabs">
			    <ion-segment-button value="overview" *ngIf="profile && profile.description">
			    	Overview
			    </ion-segment-button>
			    <ion-segment-button value="services">
			     	<span *ngIf="!page_action || page_action != 'hospital_list'"> Services </span>
			     	<span *ngIf="page_action == 'hospital_list'"> My Services </span>
			     </ion-segment-button>
			    <ion-segment-button value="doctors">
			     	Doctors
			    </ion-segment-button>
		  	</ion-segment>
		</div>

		<div class="hospital-segemnt-content" [ngSwitch]="hospital_tabs" padding margin-bottom>
			<div *ngSwitchCase="'overview'" class="overview-tab-container">
				<div class="overview"  *ngIf="profile && profile.description"> {{ profile.description }} </div>
			</div>

			<div *ngSwitchCase="'services'" class="services-tab-container services-container">
				<div *ngIf="page_action == 'hospital_list'" class="add_services_button align-items-center">
					<button (click)="addSevices()" ion-button outline>
						<ion-icon name="ios-add-outline" icon-left></ion-icon>
						<span > Add Services </span>
					</button>
				</div>

				<!-- <div class="services-list" *ngIf="hospital_services">
					<div *ngIf="total_hospital_services > 0">
						<div class="service-item" *ngFor="let svc of hospital_services"> {{ svc.services_title }} </div>
					</div>
					<div *ngIf="total_hospital_services === 0" class="no-result" padding text-center> No services yet </div>
				</div> -->

				<div *ngIf="hospital_services && total_hospital_services == 0" class="no-result " padding text-center> No service yet </div>

				<ion-card class="service-results results-box service-skeleton skeleton-loader" *ngIf="!hospital_services">
				  	<ion-card-header> <div class="animation skeleton-line2"></div> </ion-card-header>
					<ion-list>
					    <div class="service-card-skeleton">
						    <ion-row>
						    	<ion-col col-12>
									<div class="animation skeleton-line1"></div>
						    	</ion-col>
						    </ion-row>
					    </div>
					    <div class="service-card-skeleton">
						    <ion-row>
						    	<ion-col col-12>
									<div class="animation skeleton-line2"></div>
						    	</ion-col>
						    </ion-row>
					    </div>
					    <div class="service-card-skeleton">
						    <ion-row>
						    	<ion-col col-12>
									<div class="animation skeleton-line3"></div>
						    	</ion-col>
						    </ion-row>
					    </div>
					 </ion-list>
					 <div block class="btn_view_more padding-10"></div>
				</ion-card>

				<ng-container *ngIf="hospital_services && total_hospital_services > 0">
					<!-- key: key, value: value[key] -->
					<ion-card *ngFor="let services of hospital_services | keys" class="service-results results-box" >
					  	<ion-card-header> {{ services.key | capitalizeText }} </ion-card-header>
						<ion-list>
							<div *ngFor="let svc of services.value; let b=index;">
							    <div class="service-card" *ngIf="b<=2">
								    <ion-row>
								    	<ion-col col-12>
											<p>{{ svc.service_title }}</p>
								    	</ion-col>
								    </ion-row>
							    </div>
							</div>
						 </ion-list>
					 	<button *ngIf="total_count[services.key] > 3" ion-button block class="btn_view_more" (click)="seeAllServices(services.key, services.value)"> See All </button>
					 	<div *ngIf="total_count[services.key] <= 3" block class="btn_view_more padding-10"></div>
					</ion-card>
				</ng-container>
			</div>

			<div *ngSwitchCase="'doctors'" class="doctors-tab-container">
				<div *ngIf="doctors && doctors.length === 0" class="no-result" padding text-center>
			     	<span *ngIf="!page_action"> No doctors yet  </span>
			     	<span *ngIf="page_action == 'hospital_list'">  No other doctors yet </span>
				</div>

				<div class="doctor-results results-box" *ngIf="doctors && doctors.length > 0">
				    <ion-card class="doctors-card" (click)="gotoDoctorProfile(doctor)" *ngFor="let doctor of doctors; let d = index">
					    <ion-row>
					    	<ion-col col-3>
								<div class="thumb" *ngIf="!doctor.attachments_filename || !doctor.attachments_filepath" style="background-image: url('assets/imgs/doctor-placeholder.png');"></div>

								<!-- <div class="thumb" *ngIf="doctor.attachments_filename && doctor.attachments_filepath" [ngStyle]="{'background-image': 'url('+ doctorProvider.base_url + doctor.attachments_filepath +'/'+ doctor.attachments_filename + ')'}"></div> -->

								<img-loader *ngIf="doctor.attachments_filename && doctor.attachments_filepath" class="image-loader round" src="{{ siteProvider.base_url + doctor.attachments_filepath +'/'+ doctor.attachments_filename }}"></img-loader>
					    	</ion-col>
					    	<ion-col col-9 class="content">
					    		<div class="title" text-capitalize>
					    			<span *ngIf="doctor.doctor_prefix">{{ doctor.doctor_prefix }}</span>
									{{ doctor.doctor_firstname }} {{ doctor.doctor_lastname }}
									<span *ngIf="doctor.doctor_suffix">{{ doctor.doctor_suffix }}</span>
									<span *ngIf="doctor.doctor_medical_degree">{{ doctor.doctor_medical_degree }}</span>
					    		</div>
					    		<div class="meta">
					    			<div class="specialty specialty-container" *ngIf="doctor.specialties">
										<span *ngFor="let special of doctor.specialties; let i=index">
											{{ special.specialties_title }}
											<span *ngIf="doctor.total_specialties == '2' || doctor.total_specialties == 2">
												<span *ngIf="i == 0"> &amp; </span>
											</span>
											<span *ngIf="doctor.total_specialties > '2' || doctor.total_specialties > 2">
												<span *ngIf="i+1 < doctor.total_specialties">, </span>
											</span>
										</span>
					    			</div>
					    			<ion-row>
					    				<ion-col><button ion-button class="btn_inside"> View </button></ion-col>
					    			</ion-row>
					    		</div>
					    	</ion-col>
					    </ion-row>
				    </ion-card>
				    <button ion-button block class="btn_more" *ngIf="doctors && doctors.length > 3" (click)="goToBrowseDoctors(profile.id)"> View All Doctors </button>
				</div>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer>
	<div class="bottom-container" *ngIf="page_action == 'add_hospital'" padding>
    	<button ion-button full block class="send-prescript" color="primary" (click)="addHospital()">Add Hospital</button>
  	</div>
</ion-footer>
