page-appointments {
	.mg-right{
      margin-right: 20px;
    }
	.cal-appoints{
		/*Calendar*/
		[col-1] {
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 8.33333%;
		    -ms-flex: 0 0 8.33333%;
		    flex: 0 0 14.285714285714286%;
		    width: 14.285714285714286%;
		    max-width: 14.285714285714286%;
		  }
		  .date-col {
		    text-align: center;
		    padding: 5px 5px;
		  }
		  .icon-left{
		  	float: right;
		  	margin-top: 2px;
		  }
		  .icon-right{
		  	float:  left;
		  	margin-top: 2px;
		  }
		  .last-month, .next-month {
		    color: #999999;
		    font-size: 90%;
		  }
		  .currentDate, .otherDate {
		    font-size: 100%;
		    color: #3d4b58;
		  }
		  .currentDate {
		    font-weight: bold;
		    color: #2d5be4;
		  }
		  .calendar-header {
		    background-color: #fff;
		    color: #203e56;
		    font-weight: 700;
		    padding-top: 20px;
		    font-size: 25px;

		     .year{
		    	font-size: 14px;
		    	color: #777f85;
		    	font-weight: 500;
		    	margin-top: -5px;
		     }
		     .nav-icon{

		     }
		  }
		  .event-bullet {
    		padding: 4px;
		    height: 5px;
		    width: 5px;
		    border-radius: 30px;
    		display: table-cell;
		  }
		  .sched{
		    background-color: #ffd556;
		  }
		  .approved{
		    background-color: #f26c4f;
		  }
		  .selected-date {
		    width: 20px;
		    height: 2px;
		    background-color: blue;
		  }
		  .unselected-date {
		    border: none;
		  }
		  .calendar-body {
		    .grid {
		      margin-top: -15px;
		      background-color: #fff;
    		  border-radius: 0 !important;
		    }
		    .col:last-child {
		      border-right: none;
		    }
		    .calendar-weekday, .calendar-date {
		      text-align: center;
		      margin: 0;
		    }
		    .calendar-date{
		    	margin-bottom: 20px;
		    }
		    .calendar-weekday {
		      background-color: #fff;
		      color: #9e9e9e;
	    	  margin: 10px 0px;
		    }
		    .weekends{
		    	color: #203e56;
		    }


		  }
	}
	.hospital-segment-buttons {
			background: #fff;
		    padding: 0 16px;

			.segment-button {
				color: #3d4b56;
				font-size: 13px;
				font-weight: 600;
				text-transform: uppercase;
			    border: 0;
			    opacity: 1;

			    .scheduled {
			    	background: url("../assets/imgs/for-sched-ico.png") no-repeat center left / 20px;
			    }

			    .approval {
			    	background: url("../assets/imgs/for-approval-ico.png") no-repeat center left / 20px;
			    }

				&.segment-activated {
					    border-bottom: 5px solid #04a8df;
				}
			}
		}

	.hospital-appointments{

		.item-md{
			padding-left: 0px;
			margin-bottom: 5px;
			border-radius: 5px;
		}
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 10px 10px 5px 10px !important;
		}
		.item-md p {
	    	margin: 0 0 -4px;
	    }

		.hospital-name{
			color: #3d4b58;
			font-weight: 500;
			font-size: 16px;
    		line-height: 18px;
		}
		.hs-address{
			padding-top: 5px;
		}
		.hospital-address{
			color: #3d4b58;
			font-size: 3.5vw;
			margin-top: 5px !important;
			margin-left: -5px !important;
		}
		.hosp-icon{
			background-size: cover;
		    background-repeat: no-repeat;
		    background-position: center center;
		    width: 100%;
		    border-radius: 50%;
		    padding-bottom: 100%;
			margin-top: 5px;
		}
		.status{
			color: #949494;
			font-size: 12px;
			margin-top: 5px !important;
			margin-right: 7px;
		}
		.trans-number{
			color: #3492ff;
			font-size: 12px;

		}
		.sched-time{
			font-size: 12px;

		}
	}

	.empty-states-content {
    	margin-top: 10px;
    }

    .mini-avatar{
    	background-size: cover;
    	height: 8vw; width: 8vw;
    	border-radius: 50%;
    	margin-top: 5px;
    	margin-right: 2px;
    	border: 3px solid #eee;
    	background-position: center center;
    }

	.home-icon{
		height: 5vw;
	}

	.additional-profile{
		font-weight: 400;
	    /* padding: 12px 0px; */
	    border-radius: 50%;
	    margin-top: 5px;
	    /* margin-right: 2px; */
	    height: 8vw;
	    width: 8vw;
	    display: flex;
	    align-items: center;
	}

	.badge-dot-container{
		display: flex;
		margin-top: -5px;
	}
}
