<!--
	Generated template for the AppoinmentsPage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>My Appointments</ion-title> <!-- <ion-icon name="ios-arrow-back" class="mg-right"></ion-icon>  -->
	</ion-navbar>
</ion-header>


<ion-content>
	<div class="cal-appoints">
		<div class="calendar-header">
			<ion-row class="calendar-month ">
				<ion-col col-3 class="date-col" (click)="goToLastMonth()"><ion-icon name="ios-arrow-back" class="nav-icon"></ion-icon></ion-col>
				<ion-col col-6 class="date-col"><span>{{currentMonth}}</span><br><p class="year">{{currentYear}}</p></ion-col>
				<ion-col col-3 class="date-col" (click)="goToNextMonth()"><ion-icon name="ios-arrow-forward" class="nav-icon"></ion-icon></ion-col>
			</ion-row>
		</div>
		<div class="calendar-body">
			<ion-grid>
					<ion-row class="calendar-weekday">
						<ion-col *ngFor="let day of dayshortNames"><span [class.weekends]="(day === 'Sun' || day === 'Sat')" text-uppercase>{{ day }}</span></ion-col>
					</ion-row>
				<ion-row class="calendar-date">
					<ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month date-col" (click)="goToLastMonth()">{{lastDay}}</ion-col>
					<ion-col col-1 class="date-col" *ngFor="let day of daysInThisMonth">
						<div [ngClass]="date_selected == day ? 'selectedDate' : ''" (click)="selectDate(day, 'selected')">
							<ion-badge *ngIf="currentDate === day" class="currentDate">{{day}}</ion-badge>
							<ion-badge *ngIf="currentDate !== day" class="otherDate">{{day}}</ion-badge>
							<div class="badge-dot-container">
								<div *ngIf="all_upcoming_scheduled && checkIfAppointment(day, currentMonthIdx-1, currentYear, 'sched') === 'yes'"  class="event-bullet sched"> </div>
								<div *ngIf="all_upcoming_approve && checkIfAppointment(day, currentMonthIdx-1, currentYear, 'approve') === 'yes'"  class="event-bullet approved"> </div>
							</div>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
		<div class="hospital-segment-buttons">
			<ion-segment [(ngModel)]="hospital_tabs">
				<ion-segment-button value="scheduled"> <div class="scheduled"> Scheduled </div> </ion-segment-button>
				<ion-segment-button value="approval"> <div class="approval"> <span padding-left> For Approval </span> </div> </ion-segment-button>
			</ion-segment>
		</div>
	</div>

	<div class="hospital-segemnt-content" [ngSwitch]="hospital_tabs">
		<div *ngSwitchCase="'scheduled'" class="hospital-tab-container">
			<div class="hospital-appointments" padding>

				<div *ngIf="scheduledAppointment && total_scheduledAppointment == 0" class="empty-states-content">
					<div padding margin-left margin-right>
						<p  class="no-result"> You don't have any scheduled appointments in this day.</p>
					</div>
				</div>

				<button ion-item class="skeleton-loader"  *ngIf="!scheduledAppointment ">
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line2"></div>
					<div margin-top>
						<div class="animation skeleton-line1"></div>
					</div>
				</button>

				<div *ngIf="scheduledAppointment && total_scheduledAppointment != 0">
					<button ion-item text-wrap (click)="gotoScheduled(scheduledAppointment)">
						<ion-row>
							<ion-col col-3>
								<div class="hosp-icon" *ngIf="!scheduledAppointment[0].hospital_attachments_filename && !scheduledAppointment[0].hospital_attachments_filepath" style="background-image: url('assets/imgs/hospital-placeholder.png');"></div>
								<div class="hosp-icon" *ngIf="scheduledAppointment[0].hospital_attachments_filename && scheduledAppointment[0].hospital_attachments_filepath" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + scheduledAppointment[0].hospital_attachments_filepath +'/'+ scheduledAppointment[0].hospital_attachments_filename + ')'}"></div>
							</ion-col>
							<ion-col col-9>
								<p class="hospital-name">{{scheduledAppointment[0].hospital_name}}</p>
								<ion-row class="hs-address">
									<div *ngFor="let scheduledappointment of scheduledAppointment">
										<div class="mini-avatar" *ngIf="!scheduledappointment.patient_user_profile_attachments_filename" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>
										<div class="mini-avatar" *ngIf="scheduledappointment.patient_user_profile_attachments_filename" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + scheduledappointment.patient_user_profile_attachments_filepath +'/'+ scheduledappointment.patient_user_profile_attachments_filename + ')'}"></div>
									</div>
								</ion-row>
							</ion-col>
						</ion-row>
					</button>

					<ion-infinite-scroll (ionInfinite)="doInfinite($event, 'scheduled')">
						<ion-infinite-scroll-content></ion-infinite-scroll-content>
					</ion-infinite-scroll>
				</div>
			</div>
		</div>

		<div *ngSwitchCase="'approval'" class="hospital-tab-container">
			<div class="hospital-appointments" padding>
				<div *ngIf="forApprovalAppointment && total_forApprovalAppointment == 0" class="empty-states-content">
					<div padding margin-left margin-right>
						<p class="no-result"> You don't have any requested appointments waiting for your approval in this day.</p>
					</div>
				</div>

				<button ion-item class="skeleton-loader"  *ngIf="!forApprovalAppointment">
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line2"></div>
					<div margin-top>
						<div class="animation skeleton-line1"></div>
					</div>
				</button>

				<div *ngIf="hospitalList && forApprovalAppointment && total_forApprovalAppointment != 0">
					<div *ngFor="let hospital of hospitalList; let h = index;">
						<button *ngIf="checkIfHospital(hospital.id) === 'yes'" ion-item text-wrap (click)="gotoApproval(forApprovalAppointment, hospital)">
							<ion-row>
								<ion-col col-3>
									<div class="hosp-icon" *ngIf="!hospital.attachments" style="background-image: url('assets/imgs/hospital-placeholder.png');"></div>
									<div class="hosp-icon" *ngIf="hospital.attachments" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + hospital.attachments.filepath +'/'+ hospital.attachments.filename + ')'}"></div>
								</ion-col>
								<ion-col col-9>
									<p class="hospital-name"> {{hospital.name}} </p>
									<ion-row class="hs-address">
										<div *ngFor="let forapprovalappointment of forApprovalAppointment; let a = index;">
											<!-- *ngIf="a < 4" -->
											<div *ngIf="hospital.id === forapprovalappointment.hospital_id">
												<div *ngIf="checkAvatarQuantity(hospital.id) !== 'yes'">
													<div class="mini-avatar" *ngIf="!forapprovalappointment.patient_user_profile_attachments_filename" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>
													<div class="mini-avatar" *ngIf="forapprovalappointment.patient_user_profile_attachments_filename" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + forapprovalappointment.patient_user_profile_attachments_filepath +'/'+ forapprovalappointment.patient_user_profile_attachments_filename + ')'}"></div>
												</div>
											</div>
										</div>
										<div>
											<ion-badge *ngIf="total_forApprovalAppointment > 4" class="additional-profile">+{{total_forApprovalAppointment - 4}}</ion-badge>
										</div>
									</ion-row>
								</ion-col>
							</ion-row>
						</button>
					</div>
					<ion-infinite-scroll (ionInfinite)="doInfinite($event, 'approval')">
							<ion-infinite-scroll-content></ion-infinite-scroll-content>
					</ion-infinite-scroll>
				</div>
			</div>
		</div>
	</div>

</ion-content>
