page-prompt-modal {
	.label{
	    font-size: 13px;
	    font-weight: 500;
	    text-transform: uppercase;
	}

	.logo{
    	padding: 16px 68px 0px;
		img{
			height: 80px;
		}
	}

	.title{
	    font-weight: 700;
		font-size: 20px;
		color: #333333;
		padding: 5px 0;
	}

	.message{
		color: #666666;
		padding: 5px 0;
    	font-size: 16px;
    	line-height: 1.5;
		padding: 5px 0;
    	h6{
	    	font-size: 14px;
	    	line-height: 1.5;
    	}
	}

	.button{
		font-weight: 100;
		height: 44px;
		border-radius: 8px;
		box-shadow: none;
		padding: 0px;
    	text-transform: none;
		color: $secondary-color;
    	font-size: 16px;
        @media(max-width:320px){ font-size: 13px; }
	}

	.prompt_modal{
	  	display: table;
	  	height: 100%;
	  	width: 100%;
	  	text-align: center;
		//background-color: rgb(127, 127, 127);
		background-color: rgba(13, 13, 13, 0.5);
	}

	.modal_container{
	  	display: table-cell;
	  	vertical-align: middle;
	}

	.modal_content{
	  	max-width: 80%;
	  	margin: auto;
	  	border-radius: 5px;
	  	background: #ffffff;
	  	padding: 30px 10px 20px;
	  	position: relative;
	}

	.inv_form{
	  	max-width: 88%;
	}

	.close-icon{   
		position: absolute;
		top: 10px;
		right: 15px;
		float: right;
		font-size: 23px;
		color: #999999;
	}    

	.okay-button{
      	padding: 0px 40px;
	}		

	.invitation-form{    

		.title{
		    text-align: left;
		}

		.message{
			color: #666666;
		    font-size: 14px;
		    text-align: left;
		    padding: 5px 0;
		}

		.list{
			padding: 0;
		}
		.item{
			padding: 0;
		}

		.item-input{
			.label{
			    color: #666666;
			    text-transform: capitalize;
			    font-weight: 100;
			    font-size: 16px;
			}
		}
		.list .item-block .item-inner {
			padding: 0;
		    border-bottom: 1px solid #666666;
		}
	}

	.validator{
    	padding-top: 5px;
    	font-size: 12px;
    	text-align: left;
    	.form-error {
          	color: #ea4d53;
    	}
	}

	.modal_container_message{	
	  	display: table-cell;
      	vertical-align: bottom;
	}
	.modal_content_message{
      	max-width: 100%;
    	height: 95%;
	  	margin: auto;
	  	background: #ffffff;

	  	.message-header{
      		padding: 10px;
    		border-bottom: 1px solid #e4e4e4;
      		font-weight: 500;
	  	}

	  	.button-message{
	  		text-transform: uppercase;
	  		color: $secondary-color;
	  	}

	  	.title-message{
      		color: #999999;
      		font-weight: 600;
      		font-size: 16px;
	  	}

		.thumb-container{
      		padding: 12px 13px !important;
      		margin-left: -10px !important; 
			.message-thumb{
				display: block;
				width: 100%;
				padding-bottom: 100%;
				background-repeat: no-repeat;
     			background-size: 100% 100%;
				background-position: center center;
				border-radius: 100%;
		    }
		}

		.list{
			padding: 0;
		}
		.item{
			padding: 0;
		}

		.message-details{
		    .col{
		    	padding: 5px 0;
		    	margin: auto;
		    }
		    .receiver{
		    	text-align: left;
		    }
		}

	    .receiver-name{
			font-size: 14px;
			color: #333333;
			font-weight: 700;
	    }

	    .message-cotnainer{
	    	color: #999999;
	    }

	    .text-subject{
      		font-weight: 500;
    		letter-spacing: .5px;
    		font-size: 20px;
	    }

	    .text-message{
      		font-weight: 100;
    		letter-spacing: .5px;
	    }
	}

	.modal_container_coach{	
	  	display: table-cell;
      	vertical-align: middle;
	}

	.modal_content_coach{
	  	max-width: 70%;
	  	margin: auto;
	  	padding: 30px 10px 20px;
	  	position: relative;

	  	img{
     		padding: 0px 70px;
	  	}

	  	.title{
	  		color: #fff;
	  		font-size: 20px;
	  		font-weight: 500;
	  	}

	  	.desc{
	  		color: #fff;
	  		font-size: 16px;
	  		font-weight: 100;
	  	}
	}

	.ion-ios-close-circle{
		font-size: 2em !important;
	}

	.service-card {
	  &:first-child {
	    border-bottom: 1px solid #eaeff1;
	    padding: 5px 10px;
	  }

	  &:last-child {
	    border-top: none;
	  }
	}
}
