<!--
  Generated template for the PromptModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="prompt_modal">
	<div class="modal_container_message" (click)="escapeModal()">
		<div class="modal_content_message" (click)="stopPropagation($event)" *ngIf="message_type === 'message_support'">
			<div class="message-header">
				<ion-row>
					<ion-col (click)="escapeModal()" class="button-message align-items-center-left" col-3>
						Cancel
					</ion-col>
					<ion-col class="title-message align-items-center" col-6>
				    	<span>Email Supports</span>
					</ion-col>
					<ion-col (click)="sendMessage()" class="button-message align-items-center-right" col-3>
						Send
				    </ion-col>
				</ion-row>
			</div>
			<div padding-horizontal>
				<div class="message-container">
					<div class="message-details">
	                    <ion-row>
	                    	<ion-col col-1>
	                    		To:
	                    	</ion-col>
	                   		<ion-col class="thumb-container" col-2>
							    <div class="message-thumb" style="background-image: url('assets/icon/icon.png');"></div>
							</ion-col>
	                        <ion-col class="receiver" col-9>
	                            <div class="receiver-name"> {{email}} </div>
	                        </ion-col>
	                    </ion-row>
                    </div>
				  	<form [formGroup]="invitationForm">
						<ion-list no-lines>
						  	<ion-item class="text-subject">
						    	<ion-input type="text" placeholder="Subject" formControlName="subject"></ion-input>
						  	</ion-item>

							<ion-item class="text-message">
						        <ion-textarea formControlName="message" rows="40"  placeholder="Message" maxlength="200"></ion-textarea>
						    </ion-item>
						</ion-list>
				  	</form>
				</div>
			</div>
		</div>

		<div class="modal_content_message" *ngIf="message_type === 'see_all_services'">
			<div class="message-header">
				<ion-row>
					<ion-col text-left text-capitalize class="title-message" col-10>
						{{service_type}} Services
					</ion-col>
					<ion-col class="align-items-center-right" (click)="escapeModal()" col-2>
				    	<ion-icon name="ios-close-circle"></ion-icon>
					</ion-col>
				</ion-row>
			</div>
			<div>
				<div class="message-container">
					<ion-list>
						<div *ngFor="let svc of services; let b=index;">
						    <div class="service-card">
							    <ion-row>
							    	<ion-col text-left col-12>
										{{ svc.service_title }}
							    	</ion-col>
							    </ion-row>
						    </div>
						</div>
					</ion-list>
				</div>
			</div>
		</div>
	</div>
</div>
