page-browse-ambulance {

	$searchbar-md-input-clear-icon-color:    blue;
	$searchbar-md-input-search-icon-color:   #b7b7b7;
	$searchbar-md-input-placeholder-color: #b7b7b7;

	.searchbar{
	  box-shadow: unset !important;
	  padding: 0;
    	padding-top: 16px;
	}
	.searchbar-input{
	  background-color: #ddd !important;
	  border-radius: 10px !important;
	  box-shadow: unset !important;
	  color: #666 !important;
	}
	.searchbar-md .searchbar-search-icon{
		color: $searchbar-md-input-search-icon-color;
	}

	.filter-icon{
		height: 15px;
	}

	.mg-right{
		margin-right: 20px;
	}

	.patients{
		.badge {
			background: #04a8df;
		    border-radius: 50%;
		    height: 35px;
		    width: 35px;
		    bottom: 0;
		    font-weight: 400;
		    right: 0;
		    position: absolute;
		    
		    .icon {
				line-height: 25px;
				font-size: 25px;
			}
		}
		.col { padding: 0; }
	}
	.item-md.item-block .item-inner {
	    padding-right: 0px;
	    border-bottom: 1px solid transparent;
	}
	.label-md {
	    margin: 10px !important;
	}
    .patient-photo {
    	margin-top: 5px;
    	border-radius: 50%;
    }
	.patient-name{
		color: #3d4b58;
	    font-weight: 500;
	    font-size: 16px;
	       white-space: normal;
	}
	
	.thumb {
		display: block;
		    width: 100%;
		    padding-bottom: 100%;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    border-radius: 100%;
	}
	.doc-hospital{
		margin-top: 5px;
		margin-bottom: 12px;
	}
	.under-hospital{
		margin-top: -10px;
	}
	.status{
		color: #949494;
		font-size: 13px;
		display: inline-block;
		margin-right: 7px;
		text-transform: uppercase;
	}
	.trans-number{
		color: #3492ff;
		font-size: 13px;

	}
	.sched-time{
		font-size: 13px;

	}

    .meta-hospital{

		.col { padding: 0px; }
		.icon{
			font-size: 30px;
		}
	}
}
