<!--
  Generated template for the BrowseAmbulancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ambulance</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openFilterForm()">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content  padding-horizontal>

	<ion-refresher padding (ionRefresh)="reloadData($event)">
        <ion-refresher-content
            pullingIcon="md-refresh-circle"
            pullingText="Pull down to refresh"
            refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

	<ion-searchbar
		[(ngModel)]="searched_keyword"
		(keyup.enter)="searchNews(false)"
		(ionClear)="searchNews($event)" margin-bottom>
	</ion-searchbar>

	<div margin-vertical text-center *ngIf="applied_filters && applied_filters.city"> Results for {{ applied_filters.city }} </div>

	<button ion-item class="skeleton-loader" *ngIf="!all_ambulance">
		<div class="animation skeleton-line1"></div>
		<div class="animation skeleton-line2"></div>
		<div margin-top>
			<div class="animation skeleton-line1"></div>
			<div class="animation skeleton-line1"></div>	
		</div>
	</button>

	<div class="patients">

		<div class="empty-states-content" *ngIf="all_ambulance && total_count === 0">
            <img src="assets/imgs/no-ambulance-doc.png">
            <div padding margin-left margin-right>
                <div class="empty-states-title"> No Ambulance found </div>
                <p> We can't seem to find any ambulance near you. Try to check your internet connection or search for a Hospital instead. </p>
                <!-- <div *ngIf="filterData" class="empty-states-div">
                    <button class="empty-states-button" color="secondary" (click)="filterEvents()" ion-button full> Continue Filtering</button>
                </div>
 -->
            </div>
   		</div>

		<div *ngIf="all_ambulance && total_count > 0">
			<ion-item *ngFor="let ambulance of all_ambulance; let b=index;">
				<ion-row class="meta-hospital">
					<ion-col col-11 (click)="callNow(ambulance)">
						<p class="patient-name">{{ambulance.company_name}}</p>
						<p class="status" text-wrap>Ambulance Service</p>
					</ion-col>
					<ion-col text-right col-1>
				  		<ion-icon (click)="addtoBookmark(ambulance, b)" [ngClass]="ambulance.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="ambulance.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
					</ion-col>
				</ion-row>
				<ion-row (click)="callNow(ambulance)">
					<ion-col col-10>
						<div class="doc-hospital">
							<p class="hospital-address" text-wrap>
								<span *ngIf="(ambulance.address_address || ambulance.address_city) && (ambulance.address_region || ambulance.address_country || ambulance.address_zip)" class="doc-hospital">
                                	{{ambulance.address_address}} {{ambulance.address_city}}, {{ambulance.address_region}} {{ambulance.address_country}} {{ambulance.address_zip}}
                           		</span>
	                            <span *ngIf="(!ambulance.address_address && !ambulance.address_city) && (!ambulance.address_region && !ambulance.address_country && !ambulance.address_zip)" class="doc-hospital">
	                                No Address Yet
	                            </span>
							</p>
						</div>
						<div class="under-hospital">
							<span class="trans-number" *ngIf="ambulance.contact">
								<span *ngIf="ambulance.contact.type === 'mobile'"> {{ambulance.contact.country_code}}  </span>
								<span *ngIf="ambulance.contact.type !== 'mobile'"> {{ambulance.contact.area_code}}  </span>
								{{ambulance.contact.number}}
							</span>				
						</div>
					</ion-col>
					<ion-col col-2> <ion-badge item-end><ion-icon name="ios-call"></ion-icon></ion-badge> </ion-col>
				</ion-row>
			</ion-item>

			<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
				<ion-infinite-scroll-content></ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</div>
	</div>
</ion-content>
