<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notification</ion-title> <!-- <ion-icon name="ios-arrow-back" class="mg-right"></ion-icon> --> 
  </ion-navbar>

</ion-header>

<ion-content padding>

	<ion-refresher padding (ionRefresh)="reloadData($event)">
		<ion-refresher-content
	      pullingIcon="md-refresh-circle"
	      pullingText=""
	      refreshingSpinner="circles"
	      refreshingText="">
	    </ion-refresher-content>
	</ion-refresher>


	<ion-card *ngIf="!notifications" class="skeleton-loader">
		<ion-card-content>
			<ion-row>
				<ion-col col-3>
					<div class="thumb"></div>
				</ion-col>
				<ion-col col-9 class="dv-color">
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line2"></div>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<div *ngIf="notifications && total_notifications === 0" class="empty-states-content">
        <img src="assets/imgs/no-notif.png">
        <div padding margin-left margin-right>
            <div class="empty-states-title"> No Notifications Yet </div>
            <p> All updates from your appointments will be displayed here.</p>
        </div>
   	</div>

	<div *ngIf="notifications && total_notifications != 0">
		<ion-card *ngFor="let notification of notifications; let i=index;" (click)="gotoAppointmentCalendar(i, notification.id, notification.status, notification)" padding-bottom>
			<ion-card-content>
			<ion-row>
				<ion-col col-3>
					<div class="thumb"  *ngIf="!notification.attachment" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>

					<!-- <div class="thumb"  *ngIf="notification.attachment" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + notification.attachment['filepath'] +'/'+ notification.attachment['filename'] + ')'}"> </div>-->
					
					<img-loader *ngIf="notification.attachment" class="image-loader round" src="{{ siteProvider.base_url + notification.attachment['filepath'] +'/'+ notification.attachment['filename'] }}"></img-loader>
					
				</ion-col>

				<ion-col col-8 [ngClass]="(notification.status == '2') ? 'dv-uncolor' : 'dv-color'">
					{{ notification.message }} 
					<p class="date-time"> {{notification.created_at | formatDate}}</p>
				</ion-col>

				<ion-col col-1>
					<div *ngIf="notification.status == '2'" class="blue-dot"></div>
				</ion-col>
			</ion-row>
			</ion-card-content>
		</ion-card>

		<ion-infinite-scroll padding-top (ionInfinite)="doInfinite($event)">
			<ion-infinite-scroll-content
			    loadingSpinner="bubbles"
			    loadingText="Loading More notification...">
			</ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</div>

</ion-content>
