page-profile-user {

	.head{
		/*background-color: #203e56;*/
		background-image: url("../assets/imgs/doc-banner.jpg");
		background-size: cover;
		color: #fff;
		padding-top: 30px;

		.back-button {
			width: 50px;
		    height: 56px;
		    position: absolute;
		    z-index: 100;
		    color: #fff;
		    font-size: 30px;
		    padding: 20px;
		    top: 0;
		}
		
		.thumb {
			display: block;
		    width: 100%;
		    padding-bottom: 98%;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    border-radius: 100%;
		    border: 2px solid #fff;
		}
		.name{
			font-size: 20px;
    		line-height: 22px;
		    margin-bottom: 5px;
		    font-weight: 500;
		    text-transform: capitalize;
		}
		.location {
			margin-top: -15px;
			font-size: 12px;

		}
		.view-profile{
			//width: auto;
		    font-size: 12px;
		    border-radius: 5px;
		    height: 2.6rem;
		    margin-top: 7px;
    		width: auto;
		}
		.spinner {
		  height: 15px;
		}
		.profile-photo {
			position: relative;
			.badge {
				position: absolute;
			    bottom: 0;
			    right: 0;
			    border-radius: 50%;
			    height: 25px;
			    width: 25px;
			    display: flex;
			    align-items: center;
			    font-size: 11px;
			    .icon {
			    	font-size: 11px;
			    }
			}

			.upload-loader {
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    display: flex;
			    align-items: center;
			    opacity: 0.5;

			    .spinner {
			    	margin: auto;
			    	height: 15px;
			    }
			}
		}
	}

	.section {
		padding: 16px;
    	background: #fff;
    	margin-bottom: 16px;

		.section-title {
			color: #949494;
			font-size: 13px;
			margin-bottom: 16px;
		}

		.field {
			font-weight: 500;
			font-size: 15px;
			 margin-bottom: 10px;
			 padding: 0 16px;

			.label {
				margin: 5px 0;
			    color: #949494;
			    text-transform: uppercase;
			    font-size: 13px;
			    font-weight: 300;
			}
		} 

		&.insurance-info {
			img {
		    	max-height: 60px;
			}
		}
	}



	.top-background{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 100%;
		padding-bottom: 10%;

		.back-button {
			width: 50px;
		    height: 56px;
		    z-index: 100;
		    color: #fff;
		    font-size: 30px;
		    padding: 20px;
		}
	}
	.patient-info{
		margin-top: 20px;
		text-align: center;
		.patient-photo{
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100px;
			border-radius: 50%;
			height: 100px;
			border: 3px solid #fff;
			display: block;
			margin: auto;
		}
		.patient-name{
			color: #fff;
		    font-size: 25px;
		    padding-bottom: 10px;
		    margin: 20px;
		}
		.patient-address{
			color: #fff;
			font-size: 12px;
			margin-top: -25px;
		}
		.mg-right{
			margin-right: 5px;
		}
	}

	.hospital-segment-buttons {
			background: #fff;
		    padding: 16px;
		    padding-bottom: 0;
		    margin-bottom: 15px;

			.segment-button {
				color: #3d4b56;
				font-size: 13px;
				font-weight: 600;
				text-transform: uppercase;
			    border: 0;
			    opacity: 1;

				&.segment-activated {
					    border-bottom: 5px solid #04a8df;
				}
			}
		}
	
		.card-md{
			width: 100%;
			margin: 0px;
		}
		.results-box {
			border-radius: 5px;
			margin-bottom: 10px;

			.card-header {
				color: #949494;
				font-weight: 300;
				font-size: 12px;
				text-transform: uppercase;
	    		padding: 10px;

				background-repeat: no-repeat;
			    background-size: 17px;
			    background-position: 10px center;
			    padding-left: 35px;

			    .icon {
			    	color: #3392ff;
				    font-size: 17px;
				    float: right;
			    }
			}
		}
		.article-results {
			.card-header {
				padding-left: 10px;
				text-transform: capitalize;
				i{
					padding-right: 10px;
				}
			}

			.articles_card {
				background: #fff;
			    box-shadow: none;
			    margin: 0;
			    width: 100%;
			    border-bottom: 1px solid #eaeff1;
			    padding-left: 10px;

			    &:first-child {
			    	border-top: 1px solid #eaeff1;
			    	padding-top: 10px;
			    }
			    &:last-child {
					border-bottom: none;
			    }
			    .label-md {
			    	margin: 0;
			    }
				.thumb {
					display: block;
				    width: 100%;
				    padding-bottom: 100%;
				    background-repeat: no-repeat;
				    background-size: cover;
				    background-position: center center;
				    border-radius: 5px;
				}
				.content {
					.meta {
						font-size: 12px;
						margin-bottom: 10px;
						color: #949494;
						.col { padding: 0; }
						.cat { 
							color: #06a6e3; 
							font-weight: 500;
							text-transform: uppercase;
						}
						.date { 
							font-weight: 200;
							line-height: 25px;
						}
					}
					.title {
						font-size: 14px;
					    color: #3d4b58;
					    font-weight: 500;
				        min-height: 40px;
						white-space: normal;
					}
				}
			}
		}

	/* Diagnostics, Prescription */
	.patients{

		.item-md{
			padding-left: 0px;
			margin-bottom: 5px;
			border-radius: 5px;
    		border-left: 7px solid #3492ff;
		}
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 10px 20px 5px 20px !important;
		}
		.item-md p {
	    	margin: 0 0 -4px;
	    }
	    .patient-photo{
	    	margin-top: 5px;
	    }
		.hospital-name{
			color: #3d4b58;
			font-weight: 500;
			font-size: 4vw;
		}
		.hs-address{
			margin-left: -5px;
		}
		.hospital-address{
			margin: 5px 0 5px 0 !important;
		    color: #3d4b58;
		    font-size: 12px;
		}
		.hosp-icon{
			height: 3.6vw;
		}
		.status{
			color: #949494;
			font-size: 11px;
			margin-top: 5px !important;
			margin-right: 7px;
			text-transform: uppercase;
		}
		.trans-number{
			color: #3492ff;
			font-size: 12px;

		}
		.sched-time{
			font-size: 12px;

		}
	}

	.for-labels{
		color: #9e9e9e;
		font-size: 12px;
		text-transform: uppercase;
	}

	.status1{
		font-size: 12px;
		white-space: nowrap !important;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		margin-bottom: 0;
		text-transform: uppercase;
		color: #388e3c;
		&.capital-stat{
			text-transform: capitalize;
		}

		img{
      		width: 16px;
    		display: inline-flex;
    		margin-left: 15px;
    		margin-bottom: -2px;
		}
	}

	.second-row{
    	padding: 0px 15px 15px 15px;
		p{
			margin-left: 2px;
		}
		.patient-name{
			color: #3d4b56;
			font-size: 14px;
		}
		.allergies{
			margin: -5px 0px 10px 5px;
		}
	}

	/* 04-20-2018 */
	.other-pages{
		.item-md{
			padding-left: 0px;
			margin-bottom: 5px;
			border-radius: 5px;
		}
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 5px!important;
		}
		.more-second{
			height: 7vw;
			display: block;
			margin: 10px auto;
		}
		.other-title{
			font-size: 13px;
		    font-weight: 600;
		    color: #3d4b58;
		    margin-top: 5px;
		}
		.other-sub{
			font-size: 12px;
		}
		.arrow-icon{
			margin-top: 10px;
			color: #999;
			float: right;
			margin-right: 5px;
		}
	}
}
