<!--
  Generated template for the ProfileUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

<div class="head">
	<div class="back-button show-back-button" navPop> <ion-icon name="ios-arrow-back"></ion-icon> </div>

		<div class="head-inside skeleton-loader" padding *ngIf="!user_profile">
			<ion-row>			
				<ion-col col-4></ion-col>
				<ion-col col-4>
					<div class="thumb circle"></div>
				</ion-col>
				<ion-col col-4></ion-col>
			</ion-row>
			<div text-center padding-vertical>
				<div class="name skeleton-line1"></div>
				<div class="position skeleton-line2"> </div>
			</div>
		</div>
		<div class="head-inside" padding *ngIf="user_profile">
			<ion-row>			
				<ion-col col-4></ion-col>
				<ion-col col-4 class="profile-photo" (click)="presentActionSheet()">
					<div class="upload-loader" *ngIf="is_uploading === true"> <ion-spinner name="crescent"></ion-spinner> </div>

					<!-- <div class="thumb" *ngIf="photo" [ngStyle]="{'background-image': 'url('+ photo + ')'}"></div> -->

          			<img-loader *ngIf="photo" class="image-loader round border-light" src="{{photo}}"></img-loader>	
          			
					<div class="thumb" *ngIf="!photo" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>				
					<ion-badge item-end><ion-icon name="md-camera"></ion-icon></ion-badge>
				</ion-col>
				<ion-col col-4></ion-col>
			</ion-row>
			<div text-center padding-vertical  *ngIf="user_profile">
				<div class="name"> {{ user_profile.prefix }} {{ user_profile.firstname }} {{ user_profile.lastname }} {{ user_profile.suffix }} <span *ngIf="user_profile.medical_degree">{{ user_profile.medical_degree }}</span> </div>
				<div class="position" *ngIf="user_profile.specialties"> 
					<span *ngFor="let special of user_profile.specialties; let i=index"> 
						{{ special.specialties_title }} 
						<span *ngIf="user_profile.total_specialties == '2' || user_profile.total_specialties == 2"> 
							<span *ngIf="i == 0"> &amp; </span> 
						</span> 
						<span *ngIf="user_profile.total_specialties > '2' || user_profile.total_specialties > 2"> 
							<span *ngIf="i+1 < user_profile.total_specialties">, </span> 
						</span> 
					</span> 
				</div>
				<div class="position" *ngIf="user_profile.email"> {{ user_profile.email }} </div>
			</div>
		</div>

	</div>

	<div padding>
		<ion-card class="article-results results-box">
			<ion-card-header> 
			  	<i class="fa fa-file-text-o" aria-hidden="true"></i> Personal Information
			  	<ion-icon name="md-create" pull-right (click)="editSection('personal-info')"></ion-icon> 
			</ion-card-header>

			<div class="second-row"  *ngIf="user_profile">
			  	<ion-row>
				  	<ion-col col-12>
					  <div class="for-labels">name</div>
					  <p class="patient-name"> 
					  <span *ngIf="user_profile.prefix">{{ user_profile.prefix }}</span> 
						{{ user_profile.firstname }} {{ user_profile.lastname }} 
						<span *ngIf="user_profile.suffix">{{ user_profile.suffix }}</span> 
						<span *ngIf="user_profile.medical_degree">{{ user_profile.medical_degree }}</span>
					  </p>
					</ion-col>
				</ion-row>
			  	<hr>
				<ion-row>
					<ion-col col-12>
					  	<div class="for-labels">PRC License # 
					  		<span class="status1" *ngIf="user_profile.license_verification_status == '1'"><img src="assets/imgs/verified_ico.png"> PRC <span class="capital-stat"> Verified </span> </span> </div>
					  	<p class="patient-name" style="letter-spacing: 2px;" *ngIf="user_profile.license_number">{{ user_profile.license_number }}</p>
					  	<p class="patient-name" *ngIf="!user_profile.license_number">-</p>
					</ion-col>
				</ion-row>
			  	<hr>
				<ion-row>
					<ion-col col-7>
					  	<div class="for-labels">birthday</div>
					  	<p class="patient-name" *ngIf="user_profile.date_of_birth">{{ user_profile.date_of_birth | formatDate }}</p>
					  	<p class="patient-name" *ngIf="!user_profile.date_of_birth">-</p>
					</ion-col>
					<ion-col  col-5>
					  	<div class="for-labels">gender</div>
					  	<p class="patient-name" *ngIf="user_profile.gender">{{ user_profile.gender }}</p>
					  	<p class="patient-name" *ngIf="!user_profile.gender">-</p>
					</ion-col>
				</ion-row>
				<ion-row>
				  	<ion-col col-12>
				  		<div class="for-labels">contact number</div>
				  		<p *ngFor="let contact of user_profile.contact; let i = index;" class="patient-name">
					  		<ion-icon name="md-checkmark" color="primary"></ion-icon> <span *ngIf="contact.type"> {{contact.type}}: </span>
					  		<span *ngIf="contact.type === 'mobile'"> ({{contact.country_code}})  </span>
							<span *ngIf="contact.type !== 'mobile'"> ({{contact.area_code}}) </span>
							{{contact.number}}
				  		</p>
				  		<p class="patient-name" *ngIf="!user_profile.contact">-</p>
				  	</ion-col>
				  	<!-- <ion-col *ngIf="user_profile.age" col-5>
				  		<div class="for-labels">age</div>
				  		<p class="patient-name">{{ user_profile.age }}</p>
				  	</ion-col> -->
				</ion-row>
			</div> 
		</ion-card>

		<ion-card class="article-results results-box">
			<ion-card-header> 
			   	<i class="fa fa-file-text-o" aria-hidden="true"></i>
			  		Specialty 
			  	<ion-icon name="md-create" *ngIf="editing_section !== 'specialty'" pull-right (click)="editSection('specialty')"></ion-icon> 
			</ion-card-header>
			<div class="second-row" *ngIf="user_profile">
			  	<ng-container *ngIf="user_profile.specialties"> 
					<!-- <span *ngFor="let special of user_profile.specialties; let i=index"> 
						{{ special.specialties_title }} 
						<span *ngIf="user_profile.total_specialties == '2' || user_profile.total_specialties == 2"> 
							<span *ngIf="i == 0"> &amp; </span> 
						</span> 
						<span *ngIf="user_profile.total_specialties > '2' || user_profile.total_specialties > 2"> 
							<span *ngIf="i+1 < user_profile.total_specialties">, </span> 
						</span> 
					</span>  -->

			  		<p *ngFor="let special of user_profile.specialties; let i = index;">
				  		<ion-icon name="md-checkmark" color="primary"></ion-icon> {{ special.specialties_title }}
			  		</p>
				</ng-container>

			  	<p *ngIf="!user_profile.specialties" class="no-result" text-center> No specialty yet </p>
			</div> 
		</ion-card>
		
		<ion-card *ngIf="serviceType && total_service_type > 0" class="article-results results-box">
		  <ion-card-header> 
			   	<i class="fa fa-file-text-o" aria-hidden="true"></i>
			  		Services 
			  	<ion-icon name="md-create" pull-right (click)="editSection('services')"></ion-icon> 
		  </ion-card-header>
		  <div class="second-row">
		  	 	<p *ngFor="let srv of serviceType"> {{ srv.name }} </p>
		  </div> 
		</ion-card>

		<ion-card class="article-results results-box">
			<ion-card-header> <i class="fa fa-file-text-o" aria-hidden="true"></i> Biography 
			  	<ion-icon name="md-create" *ngIf="editing_section !== 'biography'" pull-right (click)="editSection('biography')"></ion-icon> 
			  	<i class="fa fa-floppy-o icon" aria-hidden="true" pull-right *ngIf="editing_section === 'biography'" (click)="saveSection()"></i>
			</ion-card-header>
			<div class="second-row"  *ngIf="user_profile">
				<p *ngIf="user_profile.biography">{{ user_profile.biography }}</p>
			  	<p *ngIf="!user_profile.biography" class="no-result" text-center> No biography yet </p>
			</div>
		</ion-card>
	
		<!-- <ion-card class="article-results results-box">
		  	<ion-card-header> <i class="fa fa-file-text-o" aria-hidden="true"></i> Membership </ion-card-header>
		  	<div class="second-row">
		  	 	<p>Philippine Medical Association</p>
		  	</div> 
		</ion-card>

		<ion-card class="article-results results-box">
		 	<ion-card-header> <i class="fa fa-file-text-o" aria-hidden="true"></i> Registration </ion-card-header>

		  	<div class="second-row">
		  	 	<p>Sample</p>
		  	</div> 
		</ion-card>

		<ion-card class="article-results results-box">
		  	<ion-card-header> <i class="fa fa-file-text-o" aria-hidden="true"></i> Education </ion-card-header>
		  	<div class="second-row">
		  	 	<p>Doctor of Medicine - De La Salle Health Sciences Institute Collge</p>
		  	</div> 
		</ion-card> -->
	</div>
	<div *ngIf="user_profile">
		<div *ngIf="(user_profile.google_user_id === '0' || user_profile.fb_user_id === '0')" class="other-pages" padding> <!-- 04-20-2018 -->
			<ion-list class="others">
				<button ion-item (click)="changePass()">
					<ion-row>
						<ion-col col-10>
							<p class="other-title">Change My Password</p>
						</ion-col>
						<ion-col col-2>
							<ion-icon name="ios-arrow-forward" class="arrow-icon"></ion-icon>
						</ion-col>
					</ion-row>
				</button>
			</ion-list>
		</div>
	</div>
</ion-content>
