page-appointments-scheduled {
	.top-background{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 100%;
		color: #fff;
		    padding-bottom: 15px;

		.back-button {
			width: 50px;
		    height: auto;
		    z-index: 100;
		    color: #fff;
		    font-size: 25px;
		    padding: 20px 20px 0px;
		}
		.doc-photo{
		   background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100%;
			padding-bottom: 100%;
			border-radius: 50%;
			display: block;
			margin: 0;
		}
		.doc-name{
			color: #fff;
			font-size: 20px;
			padding-bottom: 0px;
			margin:0;
			line-height: 24px;
		}
		.position{
			margin-top: -15px;
			font-size: 12px;

		}
	}
	.view-profile{
		//width: auto;
	    font-size: 12px;
	    border-radius: 5px;
	    height: 26px;
	    padding: 0 20px;
	}

	.results-box {
			border-radius: 5px;
			margin-bottom: 10px;
			box-shadow: none !important;

			.sched-header {
				color: #3d4b58;
				font-weight: 500;
				font-size: 12px;
				text-transform: uppercase;
	    		padding: 10px;
	    		margin-top:0;
				background-repeat: no-repeat;
			    background-size: 17px;
			    background-position: 10px center;		
			    padding-left: 35px;		
			    background-image: url('../assets/imgs/for-sched-ico.png');

			}
		}
		.article-results {
			.card-header {
			}
		}

	.sched{
		.col{
      		padding: 5px 5px 5px 0px;
		}

		.item-md{
			padding: 10px 0px;
		    margin-bottom: 5px;
		    border-radius: 5px;
		    border-left: 7px solid #3492ff;
		    padding-left: 10px;
			@media(min-width:319px) and (max-width: 330px){
   				padding-left: 4px;
			}
		}
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 0px!important;
		}
		.item-md p {
	    	margin: 0px;
	    }
	    .patient-photo{
	    	margin-top: 5px;
		    border-radius: 50px;
		    background-size: cover;
		    padding-bottom: 100%;
		    width: 100%;
		    border-radius: 100%;
		    margin: 0px auto 0 auto;
		    background-position: center center;
	    }
		.patient-name{
			color: #3d4b58;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
		}
		.status{
			color: #949494;
			font-size: 12px;
		}
		.trans-number{
			color: #3492ff;
			font-size: 12px;

		}
		.sched-time{
			float: right;
			font-size: 12px;

		}

		.appoint-titles{
			text-transform: uppercase;
			margin-top: 20px;
		}
	}

	.status-approved{
		font-size: 12px;
		color: #949494;
		font-weight: 300;
			    		
		.lbl-approved {
		 	display: inline-block;
			margin-right: 10px;
		}

		.lbl-doctor {
			display: inline-block;
			margin-right: 5px;
		}

		.icon {
			margin-right: 5px;
		}
	}

	.hosp-ico{
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center center;
	    width: 100%;
	    border-radius: 50%;
	    padding-bottom: 100%;
	    display: block;
	    margin: auto;
	    float: right;
	}

}
