<!--
  Generated template for the BrowseHospitalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  	<ion-navbar>
    	<ion-title *ngIf="page_action == 'hospital_list'">My Hospitals</ion-title>
    	<ion-title *ngIf="!page_action">Hospitals</ion-title>
 		<ion-buttons *ngIf="!page_action" end>
	      	<button ion-button icon-only (click)="openFilterForm()">
	        	<ion-icon name="ios-funnel-outline"></ion-icon>
	      	</button>
		</ion-buttons>
  	</ion-navbar>

</ion-header>


<ion-content padding-horizontal>

	<ion-refresher padding (ionRefresh)="reloadData($event)">
        <ion-refresher-content
            pullingIcon="md-refresh-circle"
            pullingText="Pull down to refresh"
            refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

	<ion-searchbar *ngIf="!page_action"
		[(ngModel)]="searched_keyword"
		(keyup.enter)="searchNews(false)"
		(ionClear)="searchNews($event)" margin-bottom>
	</ion-searchbar>

	<div margin-bottom>
	</div>
	
	<div class="lbl-search-found" *ngIf="applied_filters && applied_filters.city"> Results for <span class="keyword">{{ applied_filters.city.toLowerCase() }}</span> </div>

	<div class="patients">

		<button ion-item class="skeleton-loader" *ngIf="!all_hospitals">
			<div class="animation skeleton-line1"></div>
			<div class="animation skeleton-line2"></div>
			<div margin-top>
				<div class="animation skeleton-line2"></div>
				<div class="animation skeleton-line2"></div>	
			</div>
		</button>

		<div class="empty-states-content" *ngIf="all_hospitals && total_count === 0">
	        <img src="assets/imgs/no-hospital-doc.png">
	        <div padding margin-left margin-right>
	            <div class="empty-states-title"> No Hospital found </div>
	            <p> We can't seem to find the Hospital you're looking for. Maybe a spelling error or try a new name.</p>
	            <!-- <div *ngIf="filterData" class="empty-states-div">
	                <button class="empty-states-button" color="secondary" (click)="filterEvents()" ion-button full> Continue Filtering</button>
	            </div> -->
	        </div>
	   	</div>

		<div *ngIf="all_hospitals && total_count > 0">
			<ion-item *ngFor="let hospital of all_hospitals; let b=index;" ion-long-press [interval]="400" (onPressStart)="onPressStart(hospital, b)">
				<ion-row class="meta-hospital">
					<ion-col col-11 (click)="gotoProfileHospital(hospital)">
						<p class="hospital-name">{{hospital.name}}</p>
					</ion-col>
					<ion-col class="align-items-center" text-right col-1>
				  		<ion-icon (click)="addtoBookmark(hospital, b)" [ngClass]="hospital.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="hospital.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
					</ion-col>
				</ion-row>
				<ion-row class="meta-hospital">
					<ion-col col-11 (click)="gotoProfileHospital(hospital)">
						<div class="doc-hospital">
							<div class="hospital-address" text-wrap>
								<span *ngIf="(hospital.hospital_address || hospital.hospital_city) && (hospital.hospital_region || hospital.hospital_country || hospital.hospital_zip)" class="doc-hospital">
									{{hospital.hospital_address}} {{hospital.hospital_city}}, {{hospital.hospital_region}} {{hospital.hospital_country}} {{hospital.hospital_zip}} 
								</span>
								<span *ngIf="(!hospital.hospital_address && !hospital.hospital_city) && (!hospital.hospital_region && !hospital.hospital_country && !hospital.hospital_zip)" class="doc-hospital">
									No Address Yet
								</span>
							</div>
						</div>
					</ion-col>
					<ion-col *ngIf="hospital.is_main == 1" class="align-items-center" text-right col-1>
				  		<ion-icon color="primary" name='md-star'></ion-icon>
					</ion-col>
				</ion-row>
				<!-- <div class="under-hospital">
					<span class="status"><ion-icon name="ios-pin"></ion-icon> 0.8 km </span>
				</div> -->
			</ion-item>

			<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		   		<ion-infinite-scroll-content></ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</div>
	</div>
  	<ion-fab *ngIf="page_action == 'hospital_list'" right bottom>
    	<button ion-fab color="primary" (click)="gotoAddHospitals()"><ion-icon name="ios-add-outline"></ion-icon></button>
  	</ion-fab>
</ion-content>