page-add-services {
	.arrow-back{
		.icon{
    		font-size: 25px;
    		margin-left: 10px;
		}
	}

	.toolbar-title-md{
		margin-top: 3px;
	} 

	.back-button.show-back-button {
    	display: none;
	  	position: relative;
	  	text-indent: -999px;
	  	margin-left: 14px;
	}

	.item-cover{
		display: none;
	}

	ion-select{
		background-color: #fff;
		max-width: 100% !important;
		min-width: 100% !important;
	}

	ion-label{
		color: #9e9e9e;
		text-transform: uppercase;
	    text-overflow: initial !important;
	    white-space: normal !important;
	}

	.add_services_button{
	  	button{
		    height: 45px;
		    border-width: 2px;
		    font-size: 15px;
		    font-weight: 500;
		    padding: 0px 30px;

		    ion-icon{
		      	padding-right: 10px;
		      	font-weight: 700;
		    }
	  	}
	}

	.service-list {
		.recomend{
			margin-bottom: 10px;

			.icon{		
				color: #04a8df;
			    font-weight: 700;
			    font-size: 15px;
			    padding-right: 5px;
			}
		}
	}
}
