<!--
  Generated template for the AddServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
        <ion-row>
            <ion-col col-2>
			  	<ion-buttons class="arrow-back" start>
			      <button (click)="leavePage()" ion-button>
			        <ion-icon name="md-arrow-back"></ion-icon>
			      </button>
			    </ion-buttons>
            </ion-col>

            <ion-col col-7>
    			<ion-title>Add Services</ion-title>
            </ion-col>

            <ion-col col-3>
			    <ion-buttons end>
			      <button (click)="saveServices()" ion-button>
			        SAVE
			      </button>
			    </ion-buttons>
            </ion-col>
        </ion-row>
  	</ion-navbar>
</ion-header>


<ion-content padding>
	<div padding>
		<ion-list no-lines>
			<div>
				<ion-label> Service Type </ion-label>
				<ion-select *ngIf="serviceType && total_service_type > 0" [selectOptions]="selectServiceType" placeholder="Select service type" (ionChange)="getServices()" [(ngModel)]="serviceTypeId" [ngModelOptions]="{standalone: true}">
					<label> Service Type </label>
					<ion-option style="max-width: 100% !important; min-width: 100% !important; width: 100% !important;" *ngFor="let type of serviceType" [value]="type.id"> {{type.name}} </ion-option>
				</ion-select>
			</div>

			<div *ngIf="serviceTypeId" class="service-list" padding-top>
				<ion-label> Services List </ion-label>
				<div *ngIf="doctor_services && total_doctor_services > 0">
					<div *ngFor="let srv of doctor_services" class="recomend"> 
						<ion-icon name="md-checkmark"></ion-icon> {{srv.service_title}}
					</div>
				</div>
				<div *ngIf="!doctor_services && total_doctor_services == 0" text-center class="recomend"> 
					<p> No service yet for {{serviceTypeName}} </p>
				</div>
			</div>

			<div class="add_services_button align-items-center" padding-top>
				<button (click)="gotoAddService()" block ion-button outline>
					<ion-icon name="ios-add-outline" icon-left></ion-icon> 
					<span > Select Services </span>
				</button>
			</div>
		</ion-list>
	</div>
</ion-content>
