<!--
  Generated template for the PatientsProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
	<div class="top-background" style="background-image: url('assets/imgs/doc-banner.jpg');">
		<div class="back-button show-back-button" navPop> <ion-icon name="ios-arrow-back"></ion-icon> </div>
		<div class="patient-info">
			<ion-row>
				<ion-col col-3>
					<div class="patient-photo" *ngIf="!patient_profile.attachments_filename || !patient_profile.attachments_filename" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>
					<div class="patient-photo" *ngIf="patient_profile.attachments_filename && patient_profile.attachments_filename" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + patient_profile.attachments_filepath +'/'+ patient_profile.attachments_filename + ')'}"></div>	
				</ion-col>
				<ion-col col-9>
					<div class="right-col">
						<p class="patient-name">{{ patient_profile.firstname }} {{ patient_profile.lastname }} {{ patient_profile.suffix }}</p>
						<button ion-button block outline color="light" class="view-profile" (click)="goToBrowseMedicalRecords()">View Medical Report</button>
					</div>
				</ion-col>
			</ion-row>
		</div>
	</div>

	<div class="hospital-segment-buttons">
		patient info
	</div>

	<div class="hospital-segemnt-content" padding-horizontal>
		<ion-card class="article-results results-box">
			<ion-card-header> Personal Information </ion-card-header>
			  	<div class="second-row">
			  		<ion-row>
				  		<ion-col col-12>
					  		<div class="for-labels">name</div>
					  		<p class="patient-name">{{ patient_profile.firstname }} {{ patient_profile.lastname }} {{ patient_profile.suffix }}</p>
						</ion-col>
					</ion-row>
			  	<hr>
				  	<ion-row>
				  		<ion-col *ngIf="patient_profile.date_of_birth" col-7>
				  			<div class="for-labels">birthday</div>
				  			<p class="patient-name">{{ patient_profile.date_of_birth | formatDate }}</p>
				  		</ion-col>
				  		<ion-col *ngIf="patient_profile.gender" col-5>
				  			<div class="for-labels">gender</div>
				  			<p class="patient-name">{{patient_profile.gender}}</p>
				  		</ion-col>
				  	</ion-row>
				  	<ion-row>
					  	<ion-col col-12>
					  		<div class="for-labels">contact number</div>
					  		<p *ngFor="let contact of patient_profile.contact; let i = index;" class="patient-name">
						  		<ion-icon name="md-checkmark" color="primary"></ion-icon> <span *ngIf="contact.type"> {{contact.type}}: </span>
						  		<span *ngIf="contact.type === 'mobile'"> ({{contact.country_code}})  </span>
								<span *ngIf="contact.type !== 'mobile'"> ({{contact.area_code}}) </span>
								{{contact.number}}
					  		</p>
					  		<p class="patient-name" *ngIf="!patient_profile.contact">-</p>
					  	</ion-col>
				  		<ion-col *ngIf="patient_profile.blood_type" col-5>
				  			<div class="for-labels">blood type</div>
				  			<p class="patient-name">{{patient_profile.blood_type}}</p>
				  		</ion-col>
				  	</ion-row>
			  	</div> 
		</ion-card>

		<ion-card *ngIf="patient_hmo" class="article-results results-box">
			<ion-card-header> Insurance</ion-card-header>
			<div class="second-row">
				<ion-row *ngFor="let hmo of patient_hmo">
				  	<ion-col col-8>
				  		<div class="for-labels">{{hmo.provider_name}}</div>
				  		<p class="patient-name">{{hmo.account_number}}</p>
				  	</ion-col>
				  	<ion-col col-4>
				  	</ion-col>
				</ion-row>
			</div>
		</ion-card>

	<!-- 		<ion-card class="article-results results-box">
			  <ion-card-header><div class="for-labels">ALLERGIES TO MEDICATION</div></ion-card-header>
			  <div class="second-row">
			  	<p class="patient-name allergies">Penicillin, Chemotherapy drugs</p>
				  <ion-row>
				  	<ion-col col-8>
				  		<div class="for-labels">medication</div>
				  		<p class="patient-name">Lipitor</p>
				  	</ion-col>
				  	<ion-col col-4>
				  	</ion-col>
				  </ion-row>
			  </div> 
			</ion-card> -->
	</div>
	
	<div padding *ngIf="patient_schedule.hmo_transactions_status === '1' && (patient_schedule.status === '1' || patient_schedule.status === '4')">
		<button ion-button full block class="send-prescript" color="primary" (click)="gotoDiagnostics()">send prescriptions</button>
	</div>

</ion-content>
