page-patient-scheduled-profile {

	.top-background{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 100%;
		padding-bottom: 30px;		

		.back-button {
		    z-index: 100;
		    color: #fff;
		    font-size: 30px;
		    padding: 20px 0px 0 15px;
		}
	}
	.patient-info{
		.row {
	    	padding: 0 16px;
		}
		.right-col{
			padding-left: 15px;
		}
		.patient-photo{
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100%;
			padding-bottom: 100%;
			border-radius: 50%;
			display: block;
			margin: 0;
		}
		.patient-name{
			color: #fff;
			font-size: 25px;
			padding-bottom: 0px;
			margin:0;
			line-height: 18px;
		}
		.patient-address{
			color: #fff;
			font-size: 12px;
		}
		.mg-right{
			margin-right: 5px;
		}
	}

	.hospital-segment-buttons {
	    background: #fff;
	    padding: 16px 20px;
	    margin-bottom: 15px;
	    color: #3d4b56;
	    font-size: 14px;
	    font-weight: 600;
	    text-transform: uppercase;
	    border: 0;
	    opacity: 1;
	}
	
		.card-md{
			width: 100%;
			margin: 0px;
		}
		.results-box {
			border-radius: 5px;
			margin-bottom: 10px;

			.card-header {
				color: #949494;
				font-weight: 300;
				font-size: 11px;
				text-transform: uppercase;
	    		padding: 10px;

				background-repeat: no-repeat;
			    background-size: 17px;
			    background-position: 10px center;
			    padding-left: 35px;
			}
		}
		.article-results {
			.card-header {
				background-image: url('../assets/imgs/articles_icon.png');
			}

			.articles_card {
				background: #fff;
			    box-shadow: none;
			    margin: 0;
			    width: 100%;
			    border-bottom: 1px solid #eaeff1;
			    padding-left: 10px;

			    &:first-child {
			    	border-top: 1px solid #eaeff1;
			    	padding-top: 10px;
			    }
			    &:last-child {
					border-bottom: none;
			    }
			    .label-md {
			    	margin: 0;
			    }
				.thumb {
					display: block;
				    width: 100%;
				    padding-bottom: 100%;
				    background-repeat: no-repeat;
				    background-size: cover;
				    background-position: center center;
				    border-radius: 5px;
				}
				.content {
					.meta {
						font-size: 12px;
						margin-bottom: 10px;
						color: #949494;
						.col { padding: 0; }
						.cat { 
							color: #06a6e3; 
							font-weight: 500;
							text-transform: uppercase;
						}
						.date { 
							font-weight: 200;
							line-height: 25px;
						}
					}
					.title {
						font-size: 14px;
					    color: #3d4b58;
					    font-weight: 500;
				        min-height: 40px;
						white-space: normal;
					}
				}
			}
		}

	/* Diagnostics, Prescription */
	.patients{

		.item-md{
			padding-left: 0px;
			margin-bottom: 5px;
			border-radius: 5px;
    		border-left: 7px solid #3492ff;
		}
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 10px 20px 5px 20px !important;
		}
		.item-md p {
	    	margin: 0 0 -4px;
	    }
	    .patient-photo{
	    	margin-top: 5px;
	    }
		.hospital-name{
			color: #3d4b58;
			font-weight: 500;
			font-size: 4vw;
		}
		.hs-address{
			margin-left: -5px;
		}
		.hospital-address{
			margin: 5px 0 5px 0 !important;
		    color: #3d4b58;
		    font-size: 12px;
		}
		.hosp-icon{
			height: 3.6vw;
		}
		.status{
			color: #949494;
			font-size: 11px;
			margin-top: 5px !important;
			margin-right: 7px;
			text-transform: uppercase;
		}
		.trans-number{
			color: #3492ff;
			font-size: 12px;

		}
		.sched-time{
			font-size: 12px;
		}
	}

	.for-labels{
		color: #9e9e9e;
		font-size: 12px;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	.second-row{
		padding: 0px 30px 30px 30px;

		.patient-name{
			color: #3d4b56;
			font-size: 14px;
		}
		.allergies{
			margin: -5px 0px 10px 5px;
		}
	}

	.send-prescript{
		height: 4em;
		border-radius: 10px;
		width: 85vw;
	    display: block;
	    margin: auto;
	}
	
	.view-profile{
	    border-radius: 5px;
	    //width: auto;
	    margin-top: 15px;
	}

}
