<ion-content >
	<ion-slides pager margin-top (ionSlideDidChange)="slideChanged()" class="slides-container">
		<ion-slide>
			<div class="content">
				<img src="assets/imgs/intro1.png">
				<h2>Manage Appointments</h2>
				<p>Book your appointment  in 4 easy steps.</p>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="content">
				<img src="assets/imgs/intro2.png">
				<h2>View Policy Owner</h2>
				<p> Easy access to patient’s HMO profile.</p>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="content">
				<img src="assets/imgs/intro3.png">
				<h2>View Patient’s Profile</h2>
				<p>Easy online access to patient’s profile and medical details.</p>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="content">
				<img src="assets/imgs/intro4.png">
				<h2>Send Prescriptions</h2>
				<p>Easy and quick way to send help to a patient.</p>
			</div>
		</ion-slide>
	</ion-slides>

	<div>
		<button ion-button full color="primary" class="btn-next" (click)="nextSlide()"> {{ btn_label }} </button>
	</div>
	
</ion-content>
