// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: italic;
  src: url('../assets/fonts/Poppins-Italic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: italic;
  src: url('../assets/fonts/Poppins-LightItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: italic;
  src: url('../assets/fonts/Poppins-MediumItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: italic;
  src: url('../assets/fonts/Poppins-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: italic;
  src: url('../assets/fonts/Poppins-BoldItalic.ttf');
}

body {
	color: $text-color;
	font-family: "Poppins";
	font-size: 16px;
	.scroll-content {
		background-color: #f6f6f6 !important;
	}
}
body, ion-content, ion-navbar,* {
		font-family: "Poppins";
}
.toolbar-background {
  background-color: #2d4963;
  color: #fff;
}
ion-navbar {
	.searchbar-input-container {
		.searchbar-input {
			font-size: 14px ;
		    background: transparent;
		    border-bottom: 1px solid #fff;
		    box-shadow: none;
		    color: #fff;
		    padding: 6px 30px;
		    font-weight: 300;
		}
		.searchbar-search-icon {
	    	left: 0;
	    }
	}
}

.searchbar-md .searchbar-input {
    padding: 6px 55px;
    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #ffffff;
    background-color: transparent;
   -webkit-box-shadow: none;
    box-shadow: none;
}

/* For Calendar */
.cal-appoints{
  [col-1] {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 8.33333%;
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 14.285714285714286%;
      width: 14.285714285714286%;
      max-width: 14.285714285714286%;
    }
    .date-col {
      text-align: center;
      padding: 0;
      font-size: 14px;
    }
    .icon-left{
      float: right;
      margin-top: 2px;
    }
    .icon-right{
      float:  left;
      margin-top: 2px;
    }
    .last-month, .next-month, .prevDate {
      color: #999999;
    }
    .badge {
      font-weight: 400;
      background: transparent;
      font-size: 16px;
      line-height: 26px;
      height: 30px;
      width: 30px;
      padding: 3px 0;
      border-radius: 50%;

      &.currentDate, &.otherDate {
        color: #3d4b58;
      }
      &.currentDate {
        color: #10bbe6;
      }
    }

    .selectedDate {
      .badge {
        background: #3392ff;
         color: #fff;

      }
    }
    
    .calendar-header {
      background-color: #fff;
      color: #203e56;
      font-weight: 700;
      padding-top: 20px;
      
       span {
          font-size: 25px;
        }
       .year{
        font-size: 14px;
        color: #777f85;
        font-weight: 500;
        margin-top: -2px;
       }
       .nav-icon{
        
       }
    }
    .event-bullet {
      margin: 2px auto;
      height: 5px;
      width: 5px;
      background-color: green;
      border-radius: 30px;
    }
    .selected-date {
      width: 20px;
      height: 2px;
      background-color: blue;
    }
    .unselected-date {
      border: none;
    }
    .calendar-body {
      .grid {
        margin-top: -15px;
        background-color: #fff;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(225,225,225,1);
      -moz-box-shadow: 0px 5px 5px 0px rgba(225,225,225,1);
      box-shadow: 0px 5px 5px 0px rgba(225,225,225,1);
      }
      .col:last-child {
        border-right: none;
      }
      .calendar-weekday, .calendar-date {
        text-align: center;
        margin: 0;
      }
      .calendar-date{
        margin-bottom: 20px;
      }
      .calendar-weekday {
        background-color: #fff;
        color: #9e9e9e;
        margin: 10px 0px;
        font-size: 12px;
      }
      .weekends{
        color: #203e56;
      }
    }
}

.btn-set {
  background: #10bbe6;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    padding: 24px 10px;
    border-radius: 10px;
}

/* General Popup or Modal */
.prompt_modal{
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);

  &.filter-modal {
    text-align: left;

    .modal_content {
      border-radius: 0; 
      position: relative;

       .section-title  {
          font-size: 17px;
          font-weight: 600;
          margin-bottom: 16px;
      }
    }
  }

  .modal_container{
    display: table-cell;
    vertical-align: middle;

    .modal_content{
        max-width: 90%;
        margin: auto;
        border-radius: 5px;
        background: #fff;
        padding: 30px 25px 20px 25px;

        .btn-close {
            background: transparent;
            color: #afafaf;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 0;
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 10px;
        }
        .action-buttons {
          .button {
              min-height: 45px;
              background-color: #0cb1e0;
              font-weight: 600;

              &.btn-cancel {
                background-color: #f6f6f6;
                color: #0cb1e0;
                box-shadow: none;
              }
          }
        }
    }
  }
}
/* End of Popup or Modal */


/* For Toolbar */
.tab-button {
    .icon {
      text-indent: 999px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.5;
      font-size: 25px;
      
      &.ion-md-home-outline, &.ion-md-home {
        background-image: url('../assets/imgs/toolbar-home-ico.png');
      }
      &.ion-md-contacts, &.ion-ios-contacts {
        background-image: url('../assets/imgs/toolbar-contact-ico.png');
      }
      &.ion-md-calendar {
        background-image: url('../assets/imgs/toolbar-cal-ico.png');
      }
      &.ion-ios-notifications-outline {
        background-image: url('../assets/imgs/toolbar-noti-ico.png');
      }
      &.ion-ios-more-outline, &.ion-ios-more {
        background-image: url('../assets/imgs/toolbar-more-ico.png');
      }
    }

    .tab-badge {
        top: 15px;
        right: calc(50% - 20px) !important;
        padding: 0 !important;
        position: absolute;
        color: #f04f55 !important;
        background: #f04f55 !important;
        border-radius: 50% !important;
        line-height: 1;
        text-indent: -1111px;
        height: 10px;
        width: 10px;
    }

    .tabs-md .tab-button[aria-selected=true] {
        .tab-badge {
        top: 10px !important;
      }
    }
}

.tab-button[aria-selected=true] {
  border-top: 5px solid #0ebfec;

   .icon { 
      opacity: 1;
   }
}

.enable-hover a:hover {
        opacity: 1;
      }
/* End of Toolbar */


/* For Filter Forms */
.filter-form {
    max-width: 320px;
    margin: auto;

    .textfield {
        margin-bottom: 16px;
        .select {
          width: 100%;
          max-width: 100%;
          font-size: 15px;
          background: #ebebeb;
          border-radius: 23px;
          padding: 7px 20px;
        }

        .label {
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 500;
            color: #acacac;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }
    }

    .btn-log {
      margin-top: 20px;
      text-align: center;

      .button {
          &.btn-reset {
              background: transparent;
              color: #3392ff;
          }
          background-color: #3592fe;
          font-weight: 600;
          font-size: 14px;
          color: #fff;
          height: 50px;
          -webkit-box-shadow: none;
          box-shadow: none;
          /* min-width: 200px; */
          border-radius: 55px;
          letter-spacing: 3px;
          width: 100%;
      }
    }
}
/* End of Filter Forms */

/* Skeleton Loader */
.skeleton-loader{
  .skeleton-line1{
    margin-top: 8px;
    max-width: 80%;
  }

  .skeleton-line2{
    margin: 8px 0;
    max-width: 50%;
  }

  .thumb {
      display: block;
      width: 100%;  
      padding-bottom: 100%;
      background: #f6f6f6;
      &.circle {
         border-radius: 100%;
      } 
      &.square {
        border-radius: 5px;
      }
  }

}

@keyframes backgroundAnimation{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.animation{
  padding: 6px;
  border-radius: 16px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: backgroundAnimation;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}

.empty-states-content{
  
  img{
    height: 150px;
  }
  margin-top: 100px;
  text-align: center;

  .empty-states-title{
    font-size: 18px;
    font-weight: 700;
  }
}

.validator {
    padding-top: 5px;
    font-size: 12px;
    .form-error {
          color: #ea4d53;
    }
}

.input {
  &.error {
      .text-input {
         border-color: #ea4d53;
      }
  }
}

.no-result {
  color: #949494 !important;
    font-size: 14px !important;
}

.alert-sub-title {
    color: #949494;
    line-height: 22px;
    font-size: 15px;
    padding-top: 15px;
}

.alert-radio-group {
  .alert-tappable {
      text-transform: capitalize;
  }
}

.tab-badge {
    top: 15px;
    right: calc(50% - 15px) !important;
    padding: 0 !important;
    position: absolute;
    height: auto;
    font-size: 10px !important;
    color: #f04f55 !important;
    background: #f04f55 !important;
    border-radius: 50% !important;
    line-height: 1;
}

.tabs-md .tab-button[aria-selected=true] {
    .tab-badge {
    top: 10px !important;
  }
}

.patients{
    .item{
      padding-left: 0px;
      margin-bottom: 8px;
      border-radius: 5px;
        border-left: 7px solid #3492ff;
        box-shadow: 0px 5px 20px -10px #bcbcbc;  
    }
}

.results-box {
          box-shadow: 0px 5px 20px -10px #bcbcbc;  

}

ion-toast, toast-md {
  &.success {
    .toast-wrapper {
        background: #dff0d8;
        
        .toast-message {
          color: #3c763d;
        }
    }
  }
}

#map {
  height: 200px;
}

.lbl-search-found {
  text-align: center;
  margin: 0 15px 15px;
  .keyword {
      font-weight: 500;
      text-transform: capitalize;
  }

  .refresher-pulling-icon, .refresher-refreshing-icon{
    color: #3492ff !important;
  }

  .funnel-icon{
    margin-right: 10px;
  }

  ion-spinner{
    color: #fff;
  }
}

.hospital-address{
  background: url(../assets/imgs/hosp-ico.png) no-repeat left 0px/15px;
      margin: 5px 0 10px 0 !important;
    color: #3d4b58 !important;
    font-size: 12px !important;
    padding-left: 25px;
    line-height: 16px !important;
}

.popover-md .popover-content {
 width: 90% !important;
}


.list-date{
  margin-top: 10px;
  margin-bottom: 5px;
  background-image: url(../assets/imgs/calendar-ico.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  //color: $content-font-color;
  padding-left: 35px;
  font-size: 16px;
  text-align: left;
  text-transform: capitalize;
}

.list-address{
  margin-top: 10px;
  margin-bottom: 5px;
  background-image: url(../assets/imgs/location-ico.png);
  background-size: 20px 24px;
  background-repeat: no-repeat;
  //color: $content-font-color;
  padding-left: 35px;
  font-size: 16px;
  text-align: left;
  text-transform: capitalize;
}

.toastNotification{
    .toast-message {
      color: #fff;
      margin-left: 30px;
      font-weight: 100;
      padding: 0px;
      text-transform: capitalize;
    }

    .toast-wrapper {
      background-color: #0cafde;
      top: 20px !important; 
      border-radius: 6px;
      min-width: 90%;
      max-width: 90%;
    }

    .toast-button {
      color: #284b6a;
      padding: 10px;
    }

    .toast-container{
      padding: 5px;
      margin-left: 20px;
      background-position: left;
      background-size: 23px 20px;
      background-repeat: no-repeat;
      background-image: url(../assets/imgs/toast_notification.png);
    }
}

.align-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-items-center-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.align-items-center-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bg-wt{
  background-color: #fff;
}

.actionSheetCtrlDelete{
  color: $danger-color !important;
  ion-icon{
    color: $danger-color;
  }
}

.actionSheetCtrlSetMainHospital{
  color: $primary-color !important;
  ion-icon{
    color: $primary-color;
  }
}

.mB-5{
  margin-bottom: 10px;
}

.hospital-profile{
  margin-bottom: 35px;

  .thumb {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
  }

  .info {
    .icon { 
      color: #3492ff;
      display: inline-block;
        margin-right: 5px;
     }
    .name { 
      font-size: 16px;
      font-weight: 600;
      margin-top: 5px;
      margin-bottom: 7px;
    }
    .location { 
      font-size: 13px;
    }
  }
}

.image-loader{
  padding-bottom: 100%;
  &.round{
    border-radius: 50%;
  }
}

.border-light{
  border: 2px solid #fff;
}

.align-center{
  text-align: center;
}

.padding-30{
  padding: 30px;
}

.padding-10{
  padding: 10px !important;
}

.bkg-img-center{
  background-position: center center;
}

.border-radius-5{
  border-radius: 5px;
}

/*.image-loader-container{
  img-loader {
    //background: url('../assets/imgs/doctor-placeholder.png');
    background-image: url(../assets/imgs/doctor-placeholder.png);
  }
}*/

.unfilled-bookmark{
  color: $primary-color;
}

.filled-bookmark{
  color: $primary-color;
}

.btn_view_more {
  color: #06a6e3;
  background: #fff;
  border-radius: 5px;
  box-shadow: none;
  margin: 10px;
  font-size: 13px;
  padding: 22px;
  margin: 0;
  border-top: 1px solid #eaeff1;
}

.services-container{  
  .add_services_button{
      button{
        height: 40px;
        border-width: 2px;
        font-size: 15px;
        font-weight: 500;
        padding: 0px 30px;

        ion-icon{
            padding-right: 10px;
            font-weight: 700;
        }
      }
  }

  .results-box {
    border-radius: 5px;
    margin-left: 0;
      margin-right: 0;
      width: auto;
      box-shadow: 0px 5px 20px -10px #bcbcbc;

    .card-header {
        color: #949494;
        padding: 10px;
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: 10px center;
        padding-left: 35px;
    }
  }

  .service-results {
    .card-header {
      background-image: url('../assets/imgs/doctors_icon.png');
    }

    .service-card {

        &:first-child {
          border-top: 1px solid #eaeff1;
          padding: 5px 10px;
        }

        &:last-child {
        border-bottom: none;
        }
    }

    .service-card-skeleton{
        border-top: 1px solid #eaeff1;
        padding: 5px 10px;
    }
  }

  .service-skeleton{
    .skeleton-line1{
        margin: 5px;
        max-width: 80%;
    }
    .skeleton-line2{
        margin: 5px;
        max-width: 70%;
    }
    .skeleton-line3{
        margin: 5px;
        max-width: 70%;
    }
  }
}

.specialty-container{
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}

.patient-name{
  text-transform: capitalize;
}

.modal-confirmation-button {
  margin-top: 20px;
  text-align: center;
  

  .button {
    &.btn-reset {
      background: transparent !important;
      color: #3392ff;
    }
    &.btn-remove {
      background: $danger-color !important;;
      color: #fff;
    }
    background-color: #3592fe;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 55px;
    letter-spacing: 3px;
    width: 100%;
  }
}

.records-segment-buttons{
  .segment-button{
    @media(min-width:373px) and (max-width: 439px){
      font-size: 12px !important;
    }
    @media(min-width:343px) and (max-width: 372px){
      font-size: 11px !important;
    }
    @media(min-width:300px) and (max-width: 342px){
      font-size: 10px !important;
    }
  }
}