<!--
  Generated template for the TermsConditionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Terms and Conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="section-title">
		Terms of Service
		<div class="border"></div>
	</div>
	<div *ngIf="content">
		<div [innerHtml]="content"></div>
	</div>
	<div class="skeleton-loader" *ngIf="!content">
		<div class="animation skeleton-line1"></div>
		<div class="animation skeleton-line1"></div>
		<div class="animation skeleton-line2"></div>
		<div class="animation skeleton-line2"></div>
	</div>	
</ion-content>
