<!--
  Generated template for the PatientsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
  		<ion-buttons right>
      		<button ion-button (click)="gotofilter()">
        		<img src="assets/imgs/filter.png" class="filter-icon">
      		</button>
    	</ion-buttons>
    	<ion-title>Patient List</ion-title> <!-- <ion-icon name="ios-arrow-back" class="mg-right"></ion-icon> -->
  	</ion-navbar>
</ion-header>


<ion-content>

	<ion-refresher padding (ionRefresh)="reloadData($event)">
        <ion-refresher-content
            pullingIcon="md-refresh-circle"
            pullingText="Pull down to refresh"
            refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

	<!--  (ionInput)="onInput($event)" -->
	<ion-searchbar
	  [(ngModel)]="searched_keyword"
	  (keyup.enter)="searchPatientss(false)"
	  (ionClear)="searchPatientss($event)" padding>
	</ion-searchbar>

	<div *ngIf="(searched_submit == true && searched_keyword && search_hide != false) && (patients && total_patients !== 0)" class="search-result">
		{{total_patients}} Results for " {{searched_keyword}}"
	</div>
	    
	<ion-card *ngIf="!patients" class="skeleton-loader">
		<ion-card-content>
			<ion-row>
				<ion-col col-2>
					<div class="thumb"></div>
				</ion-col>
				<ion-col col-9 class="dv-color">
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line2"></div>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<div class="patients">
		<div *ngIf="patients && total_patients == 0" class="empty-states-content">
	        <img src="assets/imgs/no-patient.png">{{search_submit}}
	        <div padding margin-left margin-right>
	            <div class="empty-states-title"> No Patient Found </div>
				<p> We can't seem to the patient you're looking for. Try to check your internet connection or search for a Hospital instead. </p>
	        </div>
	   	</div>
	   	<div *ngIf="patients">
			<button *ngFor="let patient of patients" ion-item (click)="gotoPatientProfile(patient)">
				<ion-row>
					<ion-col col-2>
						<div class="patient-photo"  *ngIf="!patient.attachments_filename" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>

						<img-loader *ngIf="patient.attachments_filename && patient.attachments_filepath" class="image-loader round" src="{{ siteProvider.base_url + patient.attachments_filepath +'/'+ patient.attachments_filename }}"></img-loader>

						<!-- <div class="patient-photo" *ngIf="patient.attachments_filename && patient.attachments_filepath" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + patient.attachments_filepath +'/'+ patient.attachments_filename + ')'}"></div>	 -->				
					</ion-col>
					<ion-col col-10>
						<p class="patient-name">{{ patient.firstname }} {{ patient.lastname }} {{ patient.suffix }}</p>
						<div class="status" *ngIf="patient.hmo_account_provider_id"> {{patient.provider_name}}  </div>
						<div class="last-transaction"> 
							<div class="status">Last transaction: <br/>
								<span class="trans-number">#{{ patient.appointment_id}}</span> <span class="sched-time">{{patient.appointment_appointment_date | formatDate}}</span>
							</div>
						</div> 

					</ion-col>
				</ion-row>
			</button>
			<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
			   <ion-infinite-scroll-content></ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</div>
	</div>
</ion-content>
