page-patients-list {
	.searchbar{
	  box-shadow: unset !important;
	  padding: 0;
    	padding-top: 16px;
	}
	.searchbar-input{
	  background-color: #ddd !important;
	  border-radius: 10px !important;
	  box-shadow: unset !important;
	  color: #666 !important;
	}

	.filter-icon{
		height: 15px;
	}

	.mg-right{
		margin-right: 20px;
	}

	.patients{
		padding: 0px 16px;

		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 10px !important;
		}
		.item-md p {
	    	margin: 0 0 -4px;
	    }
	    .for-pin{
	    	color: #949494;
	    }
	    .patient-address{
	    	margin-left: -5px;
	    }
	    .patient-photo{
	    	background-size: cover;
		    padding-bottom: 100%;
		    border-radius: 50%;
		    width: 100%;
	    }
		.patient-name{
			color: #3d4b58;
		    font-weight: 500;
		    font-size: 16px;
		    margin-bottom: 5px !important;
		    line-height: 18px;
		}
		.status{
			color: #949494;
			font-size: 12px;

		}
		.trans-number{
			color: #3492ff;
			font-size: 12px;
			margin-right: 10px;

		}
		.sched-time{
			color: #949494;
			font-size: 12px;
    		float: right;
		}
	}
	.search-result{
    	padding: 15px 30px;
	}

}
