page-add-hospital {
	
	.prompt_modal{
		text-align: left;
		.modal_container{
			vertical-align: bottom;
			.modal_content{
			    max-width: 100%;
			    height: 100%;
			    margin: auto;
			    border-radius: 0;
			    background: #fff;
			    padding: 0;
			}
		}
	}

	.previous-statements {
		.section-title {
      		color: #fff;
		    background: #2d4963;
		    font-size: 18px;
		    text-transform: capitalize;
		    padding: 10px 16px;
		    font-weight: 500;
		    .col{
		    	padding: 0;
			    margin: auto;
			    display: inline-flex;
		    }
		    .icon{
			    margin: auto;
			    text-align: right;
			    color: #fff;
			    font-size: 30px;
		    }
		}
/*		.section-button{
		    margin: auto;
		    text-align: right;
		    color: #7e7e7e;
		    padding-right: 10px;
		    font-weight: 700;
		    font-size: 30px;
		}*/

		.lists {
    		border-top: 1px solid #f9f9f9;
			
			.expandable_header {
				background: #ffffff;
			    padding: 0 16px;
			    border-bottom: 1px solid #f9f9f9;

			    .title{
			    	padding: 15px 0;
			    }

			    .title-icon{
			    	margin: auto;
			    	.icon{
					    color: #7e7e7e;
					    font-weight: 700;
			    	}
			    }

			    .date {
				    text-transform: uppercase;
				    color: #b0b0b1;
				    margin-bottom: 5px;
				}
				.provider {
				    font-weight: 600;
				}
				.type{
				    color: #b0b0b1;
				}
			}
		}
	}

	.searchbar{
	  box-shadow: unset !important;
	  padding: 0;
    	padding-top: 16px;
	}
	.searchbar-input{
	  background-color: #ddd !important;
	  border-radius: 10px !important;
	  box-shadow: unset !important;
	  color: #333 !important;
	}

	.filter-icon{
		height: 15px;
	}

	.mg-right{
		margin-right: 20px;
	}

	.patients{
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 10px 20px 10px 20px !important;
		}
		.item p {
	    	margin: 0;
	    }
	    .patient-photo{
	    	margin-top: 5px;
	    }
		.hospital-name{
			color: #3d4b58;
		    font-weight: 500;
		    font-size: 16px;
		    margin-bottom: 7px !important;
		    white-space: normal;
		    line-height: 22px;
		}
		
		.status{
			color: #949494;
			font-size: 13px;
			margin-top: 5px !important;
		}
		.trans-number{
			color: #3492ff;
			font-size: 13px;

		}
		.sched-time{
			font-size: 13px;

		}
	}
}
