<ion-header>

  <ion-navbar>
    <ion-title>Add Hospital</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="ios-close-circle" padding-left item-right></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
	<ion-refresher padding (ionRefresh)="reloadData($event)">
        <ion-refresher-content
            pullingIcon="md-refresh-circle"
            pullingText="Pull down to refresh"
            refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>
	<div class="prompt_modal">
		<div class="modal_container" (click)="goBack()">
			<div class="modal_content" (click)="stopPropagation($event)">
				<div class="previous-statements">
					<!-- <ion-row class="section-title">
						<ion-col col-10 class="title">
							<div> Add Hospital </div>
						</ion-col>
						<ion-col col-2 class="title-icon" text-right><ion-icon (click)="goBack()" name="ios-close-circle" padding-left item-right></ion-icon></ion-col>
					</ion-row> -->

					<div padding>
						<ion-searchbar
							[(ngModel)]="searched_keyword"
							(keyup.enter)="searchNews(false)"
							(ionClear)="searchNews($event)" margin-bottom>
						</ion-searchbar>

						<div class="patients">

							<button ion-item class="skeleton-loader" *ngIf="!all_hospitals">
								<div class="animation skeleton-line1"></div>
								<div class="animation skeleton-line2"></div>
								<div margin-top>
									<div class="animation skeleton-line2"></div>
									<div class="animation skeleton-line2"></div>
								</div>
							</button>

							<div class="empty-states-content" *ngIf="all_hospitals && total_count === 0">
						        <img src="assets/imgs/no-hospital.png">
						        <div padding margin-left margin-right>
						            <div class="empty-states-title"> No Hospital found </div>
						            <p> We can't seem to find the Hospital you're looking for. Maybe a spelling error or try a new name.</p>
						        </div>
						   	</div>

							<div *ngIf="all_hospitals && total_count > 0">
								<button ion-item (click)="gotoProfileHospital(hospital)" *ngFor="let hospital of all_hospitals; let b=index;">
									<p class="hospital-name">{{hospital.name}}</p>
									<div class="doc-hospital">
										<div class="hospital-address" text-wrap>
											<span *ngIf="(hospital.hospital_address || hospital.hospital_city) && (hospital.hospital_region || hospital.hospital_country || hospital.hospital_zip)">
												{{hospital.hospital_address}} {{hospital.hospital_city}}, {{hospital.hospital_region}} {{hospital.hospital_country}} {{hospital.hospital_zip}}
											</span>
											<span *ngIf="(!hospital.hospital_address && !hospital.hospital_city) && (!hospital.hospital_region && !hospital.hospital_country && !hospital.hospital_zip)">
												No Address Yet
											</span>
										</div>
									</div>
								</button>

								<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
							   		<ion-infinite-scroll-content></ion-infinite-scroll-content>
								</ion-infinite-scroll>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
