page-browse-services {
	.scroll-content {
		background: #fff !important;
	}
	.loader-lang {
		color: #fff;
		ion-spinner * {
		  width: 15px;
		  height: 15px;
		  stroke: #fff;
		}
	}
	.spinner{
     	display: initial;
    	padding-right: 25px;
	}

	.btn_find {
	    font-size: 15px;
	    height: 70px;
	    position: fixed;
	    bottom: 0;
	    font-family: Poppins;
	    font-weight: 600;
	    letter-spacing: 2px;
	    margin-bottom: 0;
	    color: #03ade8;
	    background: #fff;
	}
	.list-container {
		margin-bottom: 70px;
		.specialty-list {
			margin-top: 10px;

			.item {
    			padding: 0;

			    &.item-checkbox-checked {
		    		.checkbox-checked {
		    			.checkbox-inner {
		    				border-color: #3d4b56;
		    			}
		    		}
			    }
			    .checkbox-icon{
    				border-color: #dedede;
			    }
			    .item-inner {
			    	border-bottom: 0 !important;
			    }
			    .checkbox {
    				margin: 5px 20px !important;
			    }
			    .item-cover{
    				padding: 0;
			    }
			    .button-inner {
			    	border-bottom: 1px solid #dedede;
    				margin: 0;
			    }
			}
		}
	}
	.save-button{
		text-transform: uppercase;
	}
}
