<!--
  Generated template for the BrowseServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
	    <ion-searchbar placeholder="Search Service" [(ngModel)]="searched_keyword" (keyup.enter)="searchKeyword(false)" (ionClear)="searchKeyword($event)"></ion-searchbar>
	</ion-navbar>
</ion-header>


<ion-content>
	<div class="loader-lang" padding text-center *ngIf="!services"> 
		<ion-spinner name="crescent"></ion-spinner> searching...
	</div>

	<div *ngIf="services && total_services > 0" class="list-container">
		<ion-list class="specialty-list" >
			<ion-item *ngFor="let svc of services; let i=index;">
				<ion-label> {{ svc.title }} </ion-label>
				<ion-checkbox color="white" [ngModelOptions]="{standalone: true}" [(ngModel)]="categoriesChks[i]"></ion-checkbox>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		   <ion-infinite-scroll-content></ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</div>	

   	<div class="align-center padding-30" *ngIf="services && total_services == 0 && searched_keyword != ''">
		<h6> No result found </h6>
		<p> We can't seem to find the services you're looking for. Maybe a spelling error or try a new name.</p>
	</div>

   	<div class="align-center padding-30" *ngIf="services && total_services == 0 && searched_keyword == ''">
		<h6> No hospital service </h6>
		<p> Please contact Hospital Admin or Gatekeeper to add services for this hospital.</p>
	</div>

	<ion-fab right bottom>
	    <button (click)="saveServices()" ion-fab class="save-button"> Set </button>
  	</ion-fab>
</ion-content>

