<!--
	Generated template for the PatientsProfilePage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-content>
	<div class="top-background" style="background-image: url('assets/imgs/doc-banner.jpg');">
		<div class="back-button show-back-button" navPop>
			<ion-icon name="ios-arrow-back"></ion-icon>
		</div>
		<div class="patient-info">
			<ion-row>
				<ion-col col-3>
					<div class="patient-photo" *ngIf="!patient_profile.attachments_filename || !patient_profile.attachments_filename" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>

				 	<!-- <div class="patient-photo" *ngIf="patient_profile.attachments_filename && patient_profile.attachments_filename" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + patient_profile.attachments_filepath +'/'+ patient_profile.attachments_filename + ')'}"></div> -->

					<img-loader *ngIf="patient_profile.attachments_filename && patient_profile.attachments_filename" class="image-loader round" src="{{siteProvider.base_url + patient_profile.attachments_filepath +'/'+ patient_profile.attachments_filename}}"></img-loader>
				</ion-col>

				<ion-col col-9>
					<div class="right-col">
						<p class="patient-name">{{ patient_profile.firstname }} {{ patient_profile.lastname }} {{ patient_profile.suffix }} </p>
						<button ion-button block outline color="light" *ngIf="patient_profile.medical_privacy == 0 || patient_profile.medical_privacy == '0'" class="view-profile" (click)="goToBrowseMedicalRecords()">
							View Medical Records
						</button>
						<div class="view-profile privacy" *ngIf="patient_profile.medical_privacy == 1 || patient_profile.medical_privacy == '1'">
							Patient Medical Record is Confidential
						</div>
					</div>
				</ion-col>
			</ion-row>
		</div>
	</div>

	<div class="hospital-segment-buttons">
		patient info
	</div>

	<div class="hospital-segemnt-content" padding-horizontal>
		<ion-card class="article-results results-box">
			<ion-card-header> Personal Information </ion-card-header>
			<div class="second-row">
				<ion-row>
					<ion-col col-12>
						<div class="for-labels"> Name </div>
						<p class="patient-name">{{ patient_profile.prefix }} {{ patient_profile.firstname }} {{ patient_profile.lastname }} {{ patient_profile.suffix }}</p>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<div class="for-labels"> Email Address </div>
						<p>{{ patient_profile.email }}</p>
					</ion-col>
				</ion-row>

				<hr>
				<ion-row>
					<ion-col col-7>
						<div class="for-labels">birthday</div>
						<p *ngIf="patient_profile.date_of_birth" class="patient-name">{{ patient_profile.date_of_birth | formatDate }}</p>
						<p *ngIf="!patient_profile.date_of_birth" class="patient-name"> - </p>
					</ion-col>
					<ion-col col-5>
						<div class="for-labels">gender</div>
						<p *ngIf="patient_profile.gender" class="patient-name">{{patient_profile.gender}}</p>
						<p *ngIf="!patient_profile.gender" class="patient-name">-</p>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<div class="for-labels">Contact Number</div>
						<div *ngIf="patient_profile.contact">
					  		<p *ngFor="let contact of patient_profile.contact; let i = index;" class="patient-name">
						  		<ion-icon name="md-checkmark" color="primary"></ion-icon> <span *ngIf="contact.type"> {{contact.type}}: </span>
						  		<span *ngIf="contact.type === 'mobile'"> ({{contact.country_code}})  </span>
								<span *ngIf="contact.type !== 'mobile'"> ({{contact.area_code}}) </span>
								<span> {{contact.number}} </span>
					  		</p>
						</div>
					  	<p class="patient-name" *ngIf="!patient_profile.contact">-</p>
					</ion-col>
				 	<!-- <ion-col *ngIf="patient_profile.blood_type" col-5>
						<div class="for-labels">blood type</div>
						<p class="patient-name">{{patient_profile.blood_type}}</p>
					</ion-col> -->
				</ion-row>
			</div>
		</ion-card>

		<ion-card *ngIf="patient_profile.hmo && patient_profile.hmo.length > 0" class="article-results results-box">
			<ion-card-header> Insurance</ion-card-header>
			<div class="second-row">
				<ion-row *ngFor="let hmo of patient_profile.hmo">
					<ion-col col-8>
						<div class="for-labels">{{hmo.provider_name}}</div>
						<diV>
							<span *ngIf="hmo.account_number"> {{ hmo.account_number }} </span>
							<span *ngIf="!hmo.account_number"> XXXX.XXXX.XXXX.XXXX </span>
						</diV>
						<div *ngIf="hmo.payment_status_text" class="action status_{{hmo.status}}">
							{{ hmo.payment_status_text }}
						</div>
					</ion-col>
					<ion-col col-4 text-center>
						<img *ngIf="!hmo.attachments_filepath || !hmo.attachments_filename" src="assets/imgs/placeholder.png"/>
		          		<img-loader *ngIf="hmo.attachments_filepath && hmo.attachments_filename" class="image-loader border-light" src="{{ siteProvider.base_url + hmo.attachments_filepath +'/'+ hmo.attachments_filename }}"></img-loader>	
					</ion-col>
				</ion-row>
			</div>
		</ion-card>

	   	<!-- <ion-card class="article-results results-box">
			<ion-card-header>
				<div class="for-labels">ALLERGIES TO MEDICATION</div>
			</ion-card-header>
			<div class="second-row">
				<p class="patient-name allergies">Penicillin, Chemotherapy drugs</p>
				<ion-row>
					<ion-col col-8>
						<div class="for-labels">medication</div>
						<p class="patient-name">Lipitor</p>
					</ion-col>
					<ion-col col-4>
					</ion-col>
				</ion-row>
			</div>
		</ion-card> -->
	</div>

	<!-- <div padding *ngIf="((patient_appointment.hmo_transactions_status === '1' || patient_appointment.status === '1')  && (patient_appointment.appointment_status === '1' || patient_appointment.appointment_status === '4'))">
		<button ion-button full block class="send-prescript" color="primary" (click)="gotoDiagnostics()">send prescriptions</button>
	</div> -->

</ion-content>
