<!--
  Generated template for the PatientsDiagnosticsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Diagnostics</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div padding>

	<ion-row>
		<ion-col col-4>
			<div class="process-selected">
				<p>diagnosis</p>
			<div class="count-selected">1</div>
			</div>
		</ion-col>
		<ion-col col-4>
			<div class="process">
				<p>prescriptions</p>
			<div class="count">2</div>
			</div>
		</ion-col>
		<ion-col col-4>
			<div class="process">
				<p>hmo report</p>
			<div class="count">3</div>
			</div>
		</ion-col>
	</ion-row>
	<div class="for-line"></div>
	<div class="trans-num">Transaction No. <b>{{ padLeft(transactionID, 5) }}</b></div>
	<div class="informations">
		<ion-grid>
			<!-- <ion-label>findings</ion-label> -->
			<ion-row>
				<!-- LUCKY  -->
				<!-- <label class="item item-input item-select">
			
						<select class="illness-list">
							<option *ngFor="let item of ilnessList" [value]="item.id">{{ item.title }}</option>
						</select>
						
				</label> -->
				<ion-item>
					<ion-label stacked>Findings</ion-label>
					<ionic-selectable item-content [(ngModel)]="diagnosis" [ngModelOptions]="{standalone: true}" [items]="ilnessList"
						itemValueField="id" itemTextField="title" [canSearch]="true" (onChange)="diagnoseChange($event)">
						<ng-template ionicSelectableValueTemplate let-port="value">
							{{ diagnosis.title }}
						</ng-template>
					</ionic-selectable>
				</ion-item>

				<!-- <ion-item>
					<ion-select [ngClass]="{'has-error': noDiagnosis }" class="illness-list has-error" [(ngModel)]="diagnosis">
						<ion-option *ngFor="let item of ilnessList" [value]="item.id">{{ item.title }}</ion-option>
					</ion-select>
				</ion-item> -->
				<!-- /LUCKY -->
			</ion-row>
			<ion-row class="error-message" *ngIf="noDiagnosis" >
				This field is required
			</ion-row>
			<ion-label>remarks</ion-label>
			<ion-row>
				<ion-textarea class="has-error" [ngClass]="{'has-error': noRemarks }" rows="5" [(ngModel)]="remarks"></ion-textarea>
			</ion-row>
			<ion-row class="error-message" *ngIf="noRemarks" >
				This field is required
			</ion-row>
			<ion-label>upload file(s)</ion-label>
			<ion-row>
				<ion-col col-4 *ngFor="let item of imageURI; let i = index" >
						<!-- style="background-image: url('assets/imgs/doc-banner.jpg');" -->
					<div class="upload-photo" [ngStyle]="{'background-image': 'url(' + item.path + ')'}"></div>
					<div class="remove-photo" (click)="removeImage(i)"><ion-icon name="ios-trash-outline"></ion-icon></div>
					<p class="file-name">{{ item.name }}</p>
				</ion-col> 
				<ion-col col-4 (click)="chooseImage()" *ngIf="imageURI.length < 3" >
					<div class="upload-photo" style="background-image: url('assets/imgs/add-image.jpg');"></div>
					<!-- <p class="file-name">PSO0000102.jpg</p> -->
				</ion-col>
			</ion-row>
			<ion-row class="error-message" *ngIf="noAttachments" >
				This field is required
			</ion-row>
		</ion-grid>
	</div>
</div>
	<button ion-button full class="next-button" (click)="gotoPrescriptions()">next <ion-icon name="ios-arrow-forward"></ion-icon></button>


</ion-content>
