page-verify {
	.scroll-content{
		background-color: #fff;
	}
	
	.back-button {
		width: 50px;
		height: 56px;
		position: absolute;
		z-index: 100;
		color: #fff;
		font-size: 30px;
		padding: 20px;
		top: 0;
	}

	.verify-account{
		text-align: center;
		margin-top: 130px;

		ion-input{
			background-color: #ddd;
			margin-top: 50px;

			.text-input{
				text-align: center;
				font-size: 20px;
			}
		}

		.big-title{
			font-size: 25px;
		}
		.sub-title{
			display: block;
			margin: 10px auto 20px auto;
			font-size: 12px;
			color: #9e9e9e;
			width: 250px;
		}
		.confirm-btn{
			height: 4em;
		    font-size: 15px;
		    width: 200px;
		    border-radius: 10px;
		    display: block;
		    margin: 50px auto;
		}
	}

	.input-cover{
		display: none;
	}

}
