<!--
  Generated template for the VerifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

	<div class="back-button show-back-button" navPop> <ion-icon name="ios-arrow-back" color="dark"></ion-icon> </div>
	<div class="verify-account">
		<form [formGroup]="verificationCode">
			<div  [class.error]="submitAttempts === true && !verificationCode.controls.code.valid">
				<p class="big-title">Verify Transaction</p>
				<div class="sub-title">Please enter patients' transaction number for verification</div>
				<ion-input type="number" onkeydown="return event.keyCode !== 69" formControlName="code" [(ngModel)]="code"></ion-input>
			</div> 

			<div class="validator" *ngIf="submitAttempts === true && !verificationCode.controls.code.valid">
				<div class="form-error">Please enter a valid transaction number</div>
			</div>
			
			<button (click)="verifyAccount()" ion-button full block class="confirm-btn">confirm</button>

		</form>
	</div>
</ion-content>
