page-profile-article {
	.scroll-content {
		background: #fff !important;
	}
	.top-background{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 100%;
		padding-bottom: 65%;

		.back-button {
			width: 50px;
		    height: 56px;
		    position: absolute;
		    z-index: 100;
		    color: #fff;
		    font-size: 30px;
		    padding: 20px;
		}

		.share-button{
		    position: absolute;
		    z-index: 100;
		    color: #fff;
		    right: 0;
		    font-size: 25px;
		    padding: 20px;
		}
	}

	.featured_articles {
		.articles_card {
			background: #fff;
			border-radius: 5px;
		    box-shadow: none;
		    margin: 0;
		    width: 100%;
		    margin-bottom: 10px;

			.thumb {
				display: block;
			    width: 100%;
			    padding-bottom: 100%;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center center;
			}
			.content {
				.meta {
					font-size: 12px;
					margin-bottom: 10px;
					.icon{
						font-size: 30px;
						margin-right: 10px;
					}
					.col { padding: 0; }
					.cat { 
						color: #06a6e3; 
						font-weight: 500;
						text-transform: uppercase;
					}
					.date { text-align: right; }
				}
				.title {
					font-size: 14px;
				    color: #3d4b58;
				    font-weight: 500;
				}
			}

		}
	}

	.article-body {
		.content {
			position: relative;
			.meta {
				font-size: 12px;
				margin-bottom: 10px;
				.icon{
					font-size: 30px;
			      	position: absolute;
				    right: 0px;
				    top: -5px;
				}
				.col { padding: 0; }
				.cat { 
					color: #a1a1a1; 
					font-weight: 300;
					text-transform: uppercase;
				    background: transparent;
				    border: 1px solid #f0f0f0;
				    font-size: 10px;
				}
				.date { text-align: right; }
			}
			.title {
				font-size: 20px;
			    color: #3d4b58;
			    font-weight: 500;
			    margin-bottom: 15px;
			}
			.body {
				color: #949494;
			    font-size: 14px;
			    line-height: 24px;
			}
		}
	}


}
