<!--
	Generated template for the ProfileArticlePage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->

<ion-content>
	<div *ngIf="!articleProfile">
		<div class="top-background" style="background-image: url('assets/imgs/banner-placeholder.png');">
			<div class="back-button show-back-button" navPop> <ion-icon name="ios-arrow-back"></ion-icon> </div>
			<div class="share-button"> <ion-icon name="md-share"></ion-icon> </div>
		</div>
		<div class="article-body" padding>
			<div class="animation skeleton-line1"></div>
			<div class="animation skeleton-line2"></div>
			<div margin-top>
				<div class="animation skeleton-line1"></div>
				<div class="animation skeleton-line1"></div>
			</div>
		</div>
	</div>
	<div *ngIf="articleProfile">
		<div class="top-background" *ngIf="!articleProfile.attachments" style="background-image: url('assets/imgs/banner-placeholder.png');">
			<div class="back-button show-back-button" navPop> <ion-icon name="ios-arrow-back"></ion-icon> </div>
			<div class="share-button"> <ion-icon (click)="shareSocialMedia()" name="md-share"></ion-icon> </div>
		</div>

		<div class="top-background" *ngIf="articleProfile.attachments" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + articleProfile.attachments.filepath +'/'+ articleProfile.attachments.filename + ')'}">
			<div class="back-button show-back-button" navPop> <ion-icon name="ios-arrow-back"></ion-icon> </div>
			<div class="share-button"> <ion-icon (click)="shareSocialMedia()" name="md-share"></ion-icon> </div>
		</div>

		<div class="article-body" padding>
			<div class="content">
				<div class="meta">
					<ion-badge class="cat"> {{articleProfile.category.title}} </ion-badge>
					<ion-icon (click)="addtoBookmark(articleProfile, 'profile')" [ngClass]="articleProfile.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="articleProfile.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
				</div>
				<div class="title"> {{articleProfile.title}} </div>
				<div class="body" [innerHtml]="articleProfile.content">
				</div>
			</div>
		</div>
	</div>
	<div class="featured_articles" padding *ngIf="all_articles">
		<div class="articles_list" *ngFor="let related of all_articles; let b=index;">
			<ion-card class="articles_card" *ngIf="b<=2 && article_id !== related.id">
				<ion-row>
					<ion-col col-4 (click)="goToArticleInside(related)">
						<div class="thumb" *ngIf="!related.attachments" style="background-image: url('assets/imgs/placeholder.png');"></div>
						<div class="thumb" *ngIf="related.attachments" [ngStyle]="{'background-image': 'url('+ siteProvider.base_url + related.attachments.filepath +'/'+ related.attachments.filename + ')'}"></div>
					</ion-col>
					<ion-col col-8 class="content">
						<ion-row class="meta" (click)="goToArticleInside(related)">
							<ion-col col-6 class="cat"> {{ related.category.title }} </ion-col>
							<ion-col col-6 class="date"> {{ related.created_at | formatDate }} </ion-col>
						</ion-row>
						<div class="title" (click)="goToArticleInside(related)"> {{ related.title }}  </div>
			    		<div class="meta" text-wrap>
			    			<ion-row>
			    				<ion-col text-right>
  									<ion-icon (click)="addtoBookmark(related, 'related', b)" [ngClass]="related.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="related.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
			    				</ion-col>
			    			</ion-row>
			    		</div>
					</ion-col>
				</ion-row>
			</ion-card>
		</div>
	</div>

</ion-content>
